@charset "UTF-8";
.brand section .tit-wrap {opacity:0; transition:all 1s ease}
.brand section.on .tit-wrap {opacity:1}
.brand section + section {margin-top:120px}
.brand .tit-wrap {margin:0 auto 40px; padding:0 40px; text-align:center}
.brand .tit-wrap .tit {font-size:32px; font-weight:bold; line-height:44px}
.brand .tit-wrap .desc {display:block; margin-top:12px; font-size:16px; line-height:24px}
.brand .tit-wrap.big {position:relative; padding:48px 40px 49px}
.brand .tit-wrap.big::before {content:''; display:block; position:absolute; width:32px; height:26px; top:0; left:calc(50% - 16px); background:url(../images/icons/ico-double-quotes-s.svg) no-repeat center / contain}
.brand .tit-wrap.big::after {content:''; display:block; position:absolute; width:32px; height:26px; bottom:0; left:calc(50% - 16px); background:url(../images/icons/ico-double-quotes-e.svg) no-repeat center / contain}
.brand .tit-wrap.big .desc {font-size:24px; line-height:32px}

.brand .img-wrap {position:relative; width:100%; max-width:1380px; height:auto; margin:0 auto; overflow:hidden}
.brand .img-wrap.wide {max-width:100%; height:580px; padding:0}
.brand .img-wrap img {display:block; width:100%}
.brand .img-wrap.wide img {position:absolute; width:auto; min-width:100%; height:auto; min-height:100%; top:50%; left:50%; transform:translate(-50%,-50%)}

.brand .ci-area {margin-top:-300px; padding:400px 0 120px; background-color:#f8f8f8}
.brand .ci-area img {display:block; width:100%; max-width:600px; margin:0 auto}

.brand .swiper[class*="brand"] .swiper-wrapper {max-width:2098px; margin:0 auto}
.brand .swiper[class*="brand"] .swiper-slide {width:333px; max-width:333px}
.brand .swiper[class*="brand"] .swiper-slide + .swiper-slide {margin-left:20px}
.brand .swiper[class*="brand"] .swiper-slide .slide-img-wrap {position:relative; width:100%; height:auto; padding-bottom:100%; overflow:hidden}
.brand .swiper[class*="brand"] .swiper-slide .slide-img-wrap img {position:absolute; display:block; width:100%; min-width:100%; height:auto; min-height:100%; top:50%; left:50%; transform:translate(-50%,-50%)}
.brand .swiper[class*="brand"] .swiper-slide .slide-img-wrap:hover img {transform:translate(-50%,-50%) scale(1.2); transition:all ease-out 0.8s}
.brand .video-area {width:100%; max-width:1380px; margin:0 auto}
.brand .video-wrap {padding-bottom:56.23%; overflow:hidden}
.brand .video-area video {background:transparent url('../images/img-about-brand-02.jpg') 50% 50% / cover no-repeat}
.brand .video-wrap .btn-play {position:absolute; width:130px; height:130px; top:calc(50% - 65px); left:calc(50% - 65px); background:url(../images/icons/btn-play-video-white.svg) no-repeat center / contain}

/* mobile */
@media screen and (max-width:767px) {
    .brand section + section {margin-top:60px}
    .brand .tit-wrap {margin:0 auto 20px; padding:0 16px}
    .brand .tit-wrap .tit {font-size:24px; line-height:30px}
    .brand .tit-wrap .desc {margin-top:6px; font-size:14px; line-height:20px}
    .brand .tit-wrap.big {margin:0 auto 30px; padding:48px 16px 49px}
    .brand .tit-wrap.big::before {width:28px; height:22.5px; top:0; left:calc(50% - 14px); background:url(../images/icons/ico-double-quotes-s_mo.svg) no-repeat center / contain}
    .brand .tit-wrap.big::after {width:28px; height:22.5px; bottom:0; left:calc(50% - 14px); background:url(../images/icons/ico-double-quotes-e_mo.svg) no-repeat center / contain}
    .brand .tit-wrap.big .desc {font-size:17px; line-height:23px}

    .brand .img-wrap.wide {height:auto}
    .brand .img-wrap.wide img {position:static; width:100%; transform:translate(0)}

    .brand .ci-area {margin-top:0; padding:39px 0 50px}
    .brand .ci-area img {width:242.5px}

    .brand .swiper[class*="brand"] .swiper-slide {width:166.5px}
    .brand .swiper[class*="brand"] .swiper-slide + .swiper-slide {margin-left:10px}

    .brand .video-wrap .btn-play {width:65px; height:65px; top:calc(50% - 32.5px); left:calc(50% - 32.5px)}
}