/* 공통모듈, 공통스타일 작성 */

@charset "UTF-8";

/* 폰트 */
@font-face {
	font-family:'Noto Sans'; /* Regular */
	font-display:swap;
	src:url('../fonts/NotoSans-Regular.eot');
	src:local('☺'),
        url('../fonts/NotoSans-Regular.eot#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans-Regular.woff2') format('woff2'),
        url('../fonts/NotoSans-Regular.woff') format('woff'),
        url('../fonts/NotoSans-Regular.otf') format('opentype');
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family:'Noto Sans'; /* Medium */
	font-display:swap;
	src:url('../fonts/NotoSans-Medium.eot');
	src:local('☺'),
        url('../fonts/NotoSans-Medium.eot#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans-Medium.woff2') format('woff2'),
        url('../fonts/NotoSans-Medium.woff') format('woff'),
        url('../fonts/NotoSans-Medium.otf') format('opentype');
	font-weight:500;
	font-style:normal;
}
@font-face {
	font-family:'Noto Sans'; /* Bold */
	font-display:swap;
	src:url('../fonts/NotoSans-Bold.eot');
	src:local('☺'),
        url('../fonts/NotoSans-Bold.eot#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans-Bold.woff2') format('woff2'),
        url('../fonts/NotoSans-Bold.woff') format('woff'),
        url('../fonts/NotoSans-Bold.otf') format('opentype');
	font-weight:700;
	font-style:normal;
}

/* 스킵 네비게이션 */
.skip-content a {overflow:hidden; display:block; position:absolute; top:0; left:0; z-index:99; width:0; height:0; background:#000; font-size:16px; line-height:26px; color:#fff; text-align:center}

/* 텍스트 정렬 */
.tal {text-align:left !important}
.tac {text-align:center !important}
.tar {text-align:right !important}
.taj {text-align:justify !important}

/* 색상 */
.fc-primary {color:#da0f47 !important}
.fc-primary-dark {color:#e81953 !important}
.fc-secondary {color:#a50024 !important}
.fc-secondary-violet {color:#6735ea !important}
.fc-secondary-emerald {color:#008182 !important}
.fc-positive {color:#76892d !important}
.fc-negative {color:#ff3723 !important}
.fc-black {color:#000 !important}
.fc-white {color:#fff !important}
.fc-font-secondary {color:#666 !important}
.fc-font-disabled {color:#aaa !important}
.fc-image-disabled {color:#000 !important; opacity:0.3}
.fc-line {border-color:#ddd !important}
.fc-bg-light {background-color:#f4f4f4 !important}
.fc-bg-dark {background-color:#e4e4e4 !important}
.fc-bg-tangible01 {background-image:linear-gradient(135deg, #9c86e7, #ff537c)}
.fc-bg-tangible02 {background-image:linear-gradient(135deg, #fa263e, #fb5a72)}
.fc-bg-tangible03 {background-image:linear-gradient(135deg, #fe3f6d, #f2c37c)}
.fc-bg-tangible04 {background-image:linear-gradient(135deg, #de8dde, #ffa9a9)}
.fc-bg-tangible05 {background-image:linear-gradient(135deg, #de8dde, #ffa9a9)}

/* 인풋박스 */
.inputbox {display:inline-block; vertical-align:top}
.inputbox input {display:inline-block; width:100%; height:48px; border:1px solid #ddd; border-radius:8px; color:#000; font-size:16px; padding:10px 15px; vertical-align:top; resize:none}
.inputbox input:disabled {background-color:#f4f4f4}
.inputbox input:read-only {background-color:#ededed}
.msg-err {font-size:14px; color:#ff3723}
.msg-ok {font-size:14px; color:#76892d}

/* 데이터 표시용 기본 테이블 */
table {border-collapse:collapse}
.table-basic table {width:100%}
.table-basic table th {background-color:#f4f4f4; color:#666; font-size:16px; font-weight:500; padding:16px 24px}
.table-basic table td {color:#000; font-size:16px; font-weight:400; padding:24px}
.table-basic.row table th {border-top:1px solid #ddd; border-right:1px solid #ddd}
.table-basic.row table th:last-child {border-right:none}
.table-basic.row table td {border-bottom:1px solid #ddd; border-right:1px solid #ddd}
.table-basic.row table td:last-child {border-right:none}
.table-basic.col table {border-top:1px solid #ddd}
.table-basic.col table th {border-top:1px solid #ddd}
.table-basic.col table td {border-bottom:1px solid #ddd}

/* 하은 */
/* 공통 */
.PC .only_pc {display:block!important}
.MO .only_pc {display:none!important}
.PC .only_mo {display:none!important}
.MO .only_mo {display:block!important}
.scroll-fixed {overflow:hidden}

/* 헤더 */
.header-wrap {max-width:1760px; margin:0 auto}
.header-wrap .dimmed {display:none; position:fixed; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.56); z-index:101}
.header {background-color:#fff}
.header-top {padding:18px 40px}
.header-top::after {content:''; display:block; clear:both}
.header-top .logo {float:left}
.header-top .logo a {display:flex; align-items:center}
.header-top .logo a img {height:26px}
.header-top .logo a span {display:inline-bl ock; padding-left:12px; color:#747474; font-size:18px; font-weight:700; line-height:27px}

.header-top .utility {float:right; display:flex}
.header-top .utility .my-tooltip {position:relative}
.header-top .utility .mobile-mypage {display:none}
.header-top .utility .my-tooltip .my-tooltip-layer {display:none}
.header-top .utility .my-tooltip.active .my-tooltip-layer {display:block}
.header-top .utility .my-tooltip > a {display:block; width:24px; height:24px; background:url(../images/icons/icon-person.svg) no-repeat center / contain}
.header-top .utility .my-tooltip .my-tooltip-layer {position:absolute; display:none; top:20px; left:50%; transform:translateX(-50%); padding-top:12px; z-index:200}
.header-top .utility .my-tooltip .my-tooltip-layer .my-tooltip-layer-inner {min-width:138px; padding:4px 0; border-radius:4px; background-color:#fff; box-shadow:0 4px 12px 0 rgba(0, 0, 0, 0.15)}
.header-top .utility .my-tooltip .my-tooltip-layer ul li a {display:block; padding:8px; font-size:14px; line-height:24px; text-align:center}
.header-top .utility .mobile-mypage > a {display:block; width:24px; height:24px; background:url(../images/icons/icon-person.svg) no-repeat center / contain}
.header-top .utility .my-tooltip .my-tooltip-layer ul li a:hover,
.header-top .utility .my-tooltip .my-tooltip-layer ul li a:focus,
.header-top .utility .my-tooltip .my-tooltip-layer ul li a:active {background-color:#f4f4f4}
.header-top .utility .my-tooltip .my-tooltip-layer .my-tooltip-shortcut {border-top:1px solid #ddd}

.header-top .utility .util {position:relative; display:flex; margin-left:24px; padding-left:24px}
.header-top .utility .util::before {content:''; display:block; position:absolute; width:1px; height:14px; top:calc(50% - 7px); left:0; border-left:1px solid #ddd}
.header-top .utility .util .about-company {position:relative}
.header-top .utility .util .about-company > a {display:block; font-size:14px; line-height:24px}
.header-top .utility .util .about-company .about-company-layer {display:none}
.header-top .utility .util .about-company.active .about-company-layer {display:block}
.header-top .utility .util .about-company .about-company-layer {position:absolute; display:none; top:20px; left:50%; transform:translateX(-50%); padding-top:12px; z-index:200}
.header-top .utility .util .about-company .about-company-layer ul {min-width:138px; padding:4px 0; border-radius:4px; background-color:#fff; box-shadow:0 4px 12px 0 rgba(0, 0, 0, 0.15)}
.header-top .utility .util .about-company .about-company-layer ul li a {display:block; padding:8px; font-size:14px; line-height:24px; text-align:center}
.header-top .utility .util .about-company .about-company-layer ul li a:hover,
.header-top .utility .util .about-company .about-company-layer ul li a:focus,
.header-top .utility .util .about-company .about-company-layer ul li a:active {background-color:#f4f4f4}
.header-top .utility .util .outer-link {position:relative; margin-left:24px; padding-left:24px}
.header-top .utility .util .outer-link::before {content:''; display:block; position:absolute; width:1px; height:14px; top:calc(50% - 7px); left:0; border-left:1px solid #ddd}
.header-top .utility .util .outer-link ul {display:flex}
.header-top .utility .util .outer-link ul li + li {margin-left:24px}
.header-top .utility .util .outer-link ul li a {display:block; padding-right:18px; background:url(../images/icons/btn-outlink-16.svg) no-repeat right center; font-size:14px; line-height:24px}

.header-bottom .menu-wrap {display:flex; padding:0 40px}
.header-bottom .menu-wrap .pc-menu > li {display:inline-block; vertical-align:top}
.header-bottom .menu-wrap .pc-menu > li + li {padding-left:24px}
.header-bottom .menu-wrap .pc-menu > li > a.depth1-tit {position:relative; display:block; padding:4px 0 12px; font-size:16px; font-weight:500; line-height:24px}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer {display:none}
.header-bottom .menu-wrap .pc-menu > li.active .menu-category-layer {display:block; z-index:100}
.header-bottom .menu-wrap .pc-menu > li.active > a::after {content:''; display:block; position:absolute; left:0; right:0; bottom:0; height:4px; background-color:#000}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .menu-category-inner {position:absolute; left:0; right:0; border-top:1px solid #ddd; background-color:#fff; z-index:100}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .menu-category-wrap {position:relative; max-width:1760px; margin:0 auto; padding:28px 40px 40px}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .menu-category-wrap::after {content:''; display:block; clear:both}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .category-tit {margin-bottom:32px; font-size:20px; line-height:30px}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .category-items {display:flex; margin-bottom:20px}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .menu-category-wrap.banner {position:relative; display:flex; flex-wrap:wrap; justify-content:space-between; padding-top:90px}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .menu-category-wrap.banner .category-tit {position:absolute; top:28px}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .menu-category-wrap.banner .category-items {flex:auto}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .category-items > ul {width:100%; max-width:315px; padding-right:24px}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .category-items > ul li a {padding-right:20px; background:url(../images/icons/btn-arr-16-black-sm.svg) no-repeat right center; font-size:16px; font-weight:700; line-height:26px}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .category-items > ul li a[target="_blank"] {background:url(../images/icons/btn-outlink-16.svg) no-repeat right center}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .category-items > ul li + li {margin-top:8px}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .category-items .depth3 .depth3-tit {font-size:16px; font-weight:700; line-height:26px}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .category-items .depth3 ul {margin:16px 0 32px}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .category-items .depth3 ul li a {background:none; font-size:14px; font-weight:400; line-height:24px}
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .category-items .depth3 ul li a:hover,
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .category-items .depth3 ul li a:focus,
.header-bottom .menu-wrap .pc-menu > li .menu-category-layer .category-items .depth3 ul li a:active {text-decoration:underline}

.menu-banner {display:flex; right:0}
.menu-banner .swiper[class*=menu-banner-] {width:324px; height:248px; padding-bottom:34px}
.menu-banner .swiper[class*=menu-banner-] + [class*=menu-banner-] {margin-left:20px}
.menu-banner .swiper .swiper-slide {display:block}
.menu-banner .swiper .swiper-slide .banner-img {display:block; width:100%; height:auto; padding-bottom:66%; border-radius:8px; overflow:hidden; background-size:cover; background-position:center}
.menu-banner .swiper .banner-tit {margin-top:14px; font-size:15px; line-height:20px; text-align:center}
.menu-banner .swiper[class*=menu-banner-] .swiper-pagination {bottom:0; padding:8px; font-size:0}
@media screen and (max-width:1092px) {
	.menu-banner {width:100%; margin-bottom:-34px}
	.menu-banner .swiper[class*=menu-banner-] {width:33.3333%; height:calc(100% - 34px)}
}

.header-bottom .menu-wrap .mobile-acco-menu {display:none}
.header-bottom .menu-wrap .mobile-login {display:none}
.header-bottom .menu-wrap .mobile-marketing-link {display:none}
.header-bottom .menu-wrap .mobile-nav-close {display:none}
.header-bottom .menu-wrap .mobile-service-link {display:none}
.header-bottom .menu-wrap .mobile-outer-link {display:none}
.mobile-nav-wrap {display:none}

/* 컨텐트 임시 */
#content {position:relative; border-top:1px solid #ddd}
.PC #content img.dummy {display:block; width:100%; max-width:1920px; margin:0 auto}
.MO #content img.dummy {display:block; width:100%; max-width:100%; margin:0 auto}
#content .main-carousel {width:100%; max-width:1920px; margin:0 auto}
#content .main-carousel .swiper[class*=main-carousel-] {width:100%; height:640px}
#content .main-carousel .swiper-slide {display:block}
#content .main-carousel .swiper-slide .carousel-img {display:block; width:100%; height:100%; background-size:cover; background-position:center}
#content .main-carousel .swiper-slide .video-wrap {position:relative; width:100%; height:100%}
#content .main-carousel .swiper-slide .video-wrap video {position:absolute; left:50%; top:50%; transform:translate(-50%,-50%)}
#content .main-carousel .carousel-btns {position:absolute; width:100%; max-width:1680px; top:50%; left:50%; transform:translate(-50%); z-index:10}
#content .main-carousel .carousel-btns .btn {width:40px; height:40px; top:0; border-radius:50%; background-color:#fff}
#content .main-carousel .carousel-btns .btn::after {width:100%; height:100%; font-size:0; background:url(../images/icons/icon-carousel-btn.svg) no-repeat center}
#content .main-carousel .carousel-btns .btn.swiper-button-next {right:0}
#content .main-carousel .carousel-btns .btn.swiper-button-prev {left:0}
#content .main-carousel .swiper-button-next::after {transform:rotate(180deg)}
#content .main-carousel .swiper-pagination {display:flex; width:100%; max-width:1410px; left:50%; bottom:22px; transform:translateX(-50%); font-size:0}
#content .main-carousel .swiper-pagination .swiper-pagination-bullet {flex:auto; height:6px; margin:0 15px; border-radius:0; background:#fff; opacity:0.4}
#content .main-carousel .swiper-pagination .swiper-pagination-bullet-active {opacity:1}
#content .main-carousel .slide-info-area {position:absolute; top:96px; bottom:120px; left:0; right:0; width:100%; max-width:1680px; margin:0 auto; padding:0 150px}
@media screen and (max-width:1024px) {
	#content .main-carousel .slide-info-area {padding:0 40px}
}
#content .main-carousel .slide-info-area .boxs .eyebrow {display:block; margin-bottom:8px; color:#fff; font-size:24px; font-weight:700; line-height:34px}
#content .main-carousel .slide-info-area .boxs .txt {color:#fff; font-size:52px; font-weight:700; line-height:70px; word-break:keep-all}
#content .main-carousel .slide-info-area .link {position:relative; display:inline-block; margin-top:12px; padding-right:20px; color:#fff; font-size:18px; font-weight:500; line-height:28px}
#content .main-carousel .slide-info-area .link::after {content:''; display:block; position:absolute; width:16px; height:16px; right:0; bottom:5px; background:url(../images/icons/btn-arr-16-white.svg) no-repeat 0 0 / 16px}

/* 푸터 */
footer {margin-top:132px; padding:0 48px 40px; background:#f4f4f4; font-size:12px}
footer .foot-cont .cont-area {max-width:1284px; margin:0 auto}

footer .foot-cont .pc-dropdown-wrap {position:relative; padding-bottom:136px}
footer .foot-cont .pc-dropdown-wrap .btns {position:absolute; bottom:0; right:0; left:0; padding:48px 0; text-align:center}
footer .foot-cont .pc-dropdown-wrap .btns .menu-opener {padding:7px 15px; color:#000; border:1px solid #000; border-radius:20px; font-size:14px; line-height:24px; text-align:center}
footer .foot-cont .pc-dropdown-wrap .btns .menu-opener::after {content:''; display:inline-block; width:16px; height:16px; margin-left:4px; margin-top:4px; background:url(../images/icons/icon-arr-footer-16.svg) center no-repeat; vertical-align:top; transition:all .3s}
footer .foot-cont .mobile-link-wrap {display:none}
footer .foot-cont .pc-dropdown-wrap.open .btns .menu-opener::after {transform:rotate(180deg)}
footer .foot-cont .pc-dropdown-wrap .link-wrap {display:none}
footer .foot-cont .pc-dropdown-wrap.open .link-wrap {display:flex; flex-wrap:wrap}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section {min-width:12.5%; margin-top:48px}
@media screen and (min-width: 768px) and (max-width: 1200px) {
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section {width:25%}
}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section > .depth1 a {display:inline-block; color:#000; font-size:14px; line-height:16px; font-weight:700; vertical-align:top}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section > .depth1 ~ .depth1 {margin-top:28px}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth2 {margin-top:20px}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth2 ul li + li {margin-top:4px}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth2 li a {display:inline-block; color:#000; font-size:12px; line-height:16px; font-weight:500; vertical-align:top}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 .depth3-tit {display:inline-block; color:#000; font-size:12px; line-height:16px; font-weight:500; vertical-align:top}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 {margin-top:20px}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 ul {margin:6px 0 20px}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 ul li a {display:inline-block; color:#616161; font-size:12px; line-height:16px; vertical-align:top}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 ul li a:hover,
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 ul li a:focus,
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 ul li a:active {text-decoration:underline}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth2 li a[target="_blank"]::after {content:''; display:inline-block; width:16px; height:16px; margin-left:4px; background:url(../images/icons/icon-blank-arr2.svg) center no-repeat; background-size:100%; vertical-align:top}

footer .foot-cont .foot-bottom {border-top:1px solid #ddd}
footer .foot-cont .foot-bottom .bottom-head {position:relative; padding:16px 0}
footer .foot-cont .foot-bottom .bottom-head::after {content:''; display:block; clear:both}
footer .foot-cont .family-site {float:right}
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns {display:inline-block; position:relative; margin-right:24px; padding:8px 0; vertical-align:top}
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .slt-btn {display:inline-block; color:#000; font-size:12px; line-height:16px; font-weight:500; vertical-align:top}
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .slt-btn::after {content:''; display:inline-block; width:16px; height:16px; margin:0 0 0 4px; background:url(../images/icons/icon-arr-footer-16.svg) center no-repeat; vertical-align:top; transition:all .3s}
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .lists {display:none; position:absolute; top:33px; left:50%; transform:translateX(-50%); z-index:10; padding:4px 0; border-radius:4px; background:#fff; box-shadow:2px 4px 12px 0 rgba(0,0,0,0.16)}
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .lists li a {display:block; padding:0 20px; color:#000; font-size:12px; line-height:40px; text-align:center; font-weight:500; white-space:nowrap}
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .lists li a.selected,
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .lists li a:hover {background-color:#f4f4f4}

footer .foot-cont .foot-bottom .bottom-head .sns-link {float:left; display:flex; flex-wrap:wrap; font-size:0}
footer .foot-cont .foot-bottom .bottom-head .sns-link li + li {margin-left:20px}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a {display:flex; align-items:center; font-weight:500; font-size:12px; line-height:16px; color:#666}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a:before {display:inline-block; margin-right:4px; width:28px; height:28px; background:no-repeat center center; background-size:100%; content:''}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a.blog:before {background:url(../images/icons/icon-naver.svg)}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a.naverTv:before {background:url(../images/icons/icon-naver.svg)}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a.naverPost:before {background:url(../images/icons/icon-naver.svg)}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a.facebook:before {background:url(../images/icons/icon-facebook.svg)}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a.instagram:before {background:url(../images/icons/icon-instagram.svg)}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a.youtube:before {background:url(../images/icons/icon-youtube.svg)}

footer .foot-cont .foot-bottom .bottom-body {position:relative; padding-top:16px; border-top:1px solid #ddd}
footer .foot-cont .foot-bottom .bottom-body a:hover,
footer .foot-cont .foot-bottom .bottom-body a:focus,
footer .foot-cont .foot-bottom .bottom-body a:active {text-decoration:underline}
footer .foot-cont .foot-bottom .bottom-body a[href^=tel]:hover,
footer .foot-cont .foot-bottom .bottom-body a[href^=tel]:focus,
footer .foot-cont .foot-bottom .bottom-body a[href^=tel]:active {text-decoration:none}
footer .foot-cont .foot-bottom .bottom-body .bottom-link {font-size:0}
footer .foot-cont .foot-bottom .bottom-body .bottom-link li {display:inline-block; vertical-align:top}
footer .foot-cont .foot-bottom .bottom-body .bottom-link li + li {margin-left:12px}
footer .foot-cont .foot-bottom .bottom-body .bottom-link li a {display:inline-block; color:#000; font-size:12px; line-height:16px}

footer .foot-cont .foot-bottom .bottom-body .comp-info {padding-right:220px}
footer .foot-cont .foot-bottom .bottom-body .comp-info p {margin-top:8px; color:#767676; font-size:12px; line-height:16px}
footer .foot-cont .foot-bottom .bottom-body .comp-info p span {display:inline-block; margin-right:16px; vertical-align:top}
footer .foot-cont .foot-bottom .bottom-body .comp-info p span a {color:#000}

footer .foot-cont .foot-bottom .bottom-body .copy {margin-top:16px}
footer .foot-cont .foot-bottom .bottom-body .copy p {margin-top:4px; color:#767676; font-size:12px; line-height:16px}

footer .foot-cont .foot-bottom .bottom-body .foot-last {position:absolute; right:0; bottom:0}
footer .foot-cont .foot-bottom .bottom-body .foot-last .ismsp {position:relative; display:inline-block; padding:8px 0 8px 56px; color:#000; font-size:12px; line-height:16px; font-weight:500}
footer .foot-cont .foot-bottom .bottom-body .foot-last .ismsp::before {content:''; position:absolute; top:50%; left:0; width:48px; height:48px; margin-top:-24px; background:url(../images/icons/img-ismsp.png) center no-repeat; background-size:100%}
footer .foot-cont .foot-bottom .bottom-body .foot-last .ismsp dl {display:flex}
footer .foot-cont .foot-bottom .bottom-body .foot-last .ismsp dl dd {margin-left:7px; color:#666; font-weight:400}

/* 푸터 스티키 메뉴 */
.mobile-status-bar {display:none; position:fixed; bottom:0; left:0; width:100%; height:70px; z-index:9000; background:#fff; border-top:1px solid #ddd}
.mobile-status-bar .mobile-status-list {display:flex; height:100%}
.mobile-status-bar .mobile-status-list > li {flex:1}
.mobile-status-bar .mobile-status-list > li > a {display:block; position:relative; text-align:center; padding:10px 10px 17px}
.mobile-status-bar .mobile-status-list > li > a:before {display:block; content:''; width:24px; height:24px; margin:0 auto; background-position:center center; background-size:100% 100%; background-repeat:no-repeat}
.mobile-status-bar .mobile-status-list > li.shop > a:before {background-image:url(../images/icons/icon-status-shop.svg)}
.mobile-status-bar .mobile-status-list > li.reserv > a:before {background-image:url(../images/icons/icon-status-reserv.svg)}
.mobile-status-bar .mobile-status-list > li.home > a:before {background-image:url(../images/icons/icon-status-home.svg)}
.mobile-status-bar .mobile-status-list > li.event > a:before {background-image:url(../images/icons/icon-status-event.svg)}
.mobile-status-bar .mobile-status-list > li.nav-anchor > a:before {background-image:url(../images/icons/icon-status-menu.svg)}
.mobile-status-bar .mobile-status-list > li > a span {display:block; margin-top:4px; font-size:11px; line-height:1.56; color:#000; font-weight:500; letter-spacing:-.66px}
.swiper-slide .mobile-status-bar {display:none}