/* 공통모듈, 공통스타일 작성 */

@charset "UTF-8";

/* 폰트 */
@font-face{
	font-family:'Noto Sans'; /* Regular */
	font-display:swap;
	src:url('../fonts/NotoSans-Regular.eot');
	src:local('☺'),
        url('../fonts/NotoSans-Regular.eot#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans-Regular.woff2') format('woff2'),
        url('../fonts/NotoSans-Regular.woff') format('woff'),
        url('../fonts/NotoSans-Regular.otf') format('opentype');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:'Noto Sans'; /* Medium */
	font-display:swap;
	src:url('../fonts/NotoSans-Medium.eot');
	src:local('☺'),
        url('../fonts/NotoSans-Medium.eot#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans-Medium.woff2') format('woff2'),
        url('../fonts/NotoSans-Medium.woff') format('woff'),
        url('../fonts/NotoSans-Medium.otf') format('opentype');
	font-weight:500;
	font-style:normal;
}
@font-face{
	font-family:'Noto Sans'; /* Bold */
	font-display:swap;
	src:url('../fonts/NotoSans-Bold.eot');
	src:local('☺'),
        url('../fonts/NotoSans-Bold.eot#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans-Bold.woff2') format('woff2'),
        url('../fonts/NotoSans-Bold.woff') format('woff'),
        url('../fonts/NotoSans-Bold.otf') format('opentype');
	font-weight:700;
	font-style:normal;
}
@font-face{
	font-family:'Noto Sans'; /* Light */
	font-display:swap;
	src:url('../fonts/NotoSans-Light.eot');
	src:local('☺'),
        url('../fonts/NotoSans-Light.eot#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans-Light.woff2') format('woff2'),
        url('../fonts/NotoSans-Light.woff') format('woff'),
        url('../fonts/NotoSans-Light.otf') format('opentype');
	font-weight:300;
	font-style:normal;
}

/* body scroll */
html, body{scroll-behavior:smooth;}

/* button */
button,
button *{transition:all 0.5s linear;}
.btn.focus,
.btn:focus{outline:0;box-shadow:0 0 0 0.2rem rgb(0 123 255 / 25%);}
footer .foot-cont .pc-dropdown-wrap .btns .btn.border:active,
footer .foot-cont .pc-dropdown-wrap .btns .btn.border:focus,
footer .foot-cont .pc-dropdown-wrap .btns .btn.border:hover{border-color:#000 !important;background-color:transparent;color:#000;}

/* skip navigator */
.skip-content a{overflow:hidden;display:block;position:absolute;top:0;left:0;z-index:99;width:0;height:0;background:#000;font-size:16px;line-height:26px;color:#fff;text-align:center}
.skip-content a:focus,
.skip-content a:active{width:100%;height:50px;color:#fff;line-height:50px;background:#000;}

/* text align */
.tal{text-align:left !important}
.tac{text-align:center !important}
.tar{text-align:right !important}
.taj{text-align:justify !important}

/* 색상 */
.fc-primary{color:#da0f47 !important}
.fc-primary-dark{color:#e81953 !important}
.fc-secondary{color:#a50024 !important}
.fc-secondary-violet{color:#6735ea !important}
.fc-secondary-emerald{color:#008182 !important}
.fc-positive{color:#76892d !important}
.fc-negative{color:#ff3723 !important}
.fc-black{color:#000 !important}
.fc-white{color:#fff !important}
.fc-font-secondary{color:#666 !important}
.fc-font-disabled{color:#aaa !important}
.fc-image-disabled{color:#000 !important;opacity:0.3}
.fc-line{border-color:#ddd !important}
.fc-bg-light{background-color:#f4f4f4 !important}
.fc-bg-dark{background-color:#e4e4e4 !important}
.fc-bg-tangible01{background-image:linear-gradient(135deg, #9c86e7, #ff537c)}
.fc-bg-tangible02{background-image:linear-gradient(135deg, #fa263e, #fb5a72)}
.fc-bg-tangible03{background-image:linear-gradient(135deg, #fe3f6d, #f2c37c)}
.fc-bg-tangible04{background-image:linear-gradient(135deg, #de8dde, #ffa9a9)}
.fc-bg-tangible05{background-image:linear-gradient(135deg, #de8dde, #ffa9a9)}

/* 인풋박스 */
.inputbox{display:inline-block;vertical-align:top}
.inputbox input{display:inline-block;width:100%;height:48px;border:1px solid #ddd;border-radius:8px;color:#000;font-size:16px;padding:10px 15px;vertical-align:top;resize:none}
.inputbox input:disabled{background-color:#f4f4f4}
.inputbox input:read-only{background-color:#ededed}
.msg-err{font-size:14px;color:#ff3723}
.msg-ok{font-size:14px;color:#76892d}

/* 데이터 표시용 기본 테이블 */
table{border-collapse:collapse}
.table-basic table{width:100%}
.table-basic table th{background-color:#f4f4f4;color:#666;font-size:16px;font-weight:500;padding:16px 24px}
.table-basic table td{color:#000;font-size:16px;font-weight:400;padding:24px}
.table-basic.row table th{border-top:1px solid #ddd;border-right:1px solid #ddd}
.table-basic.row table th:last-child{border-right:none}
.table-basic.row table td{border-bottom:1px solid #ddd;border-right:1px solid #ddd}
.table-basic.row table td:last-child{border-right:none}
.table-basic.col table{border-top:1px solid #ddd}
.table-basic.col table th{border-top:1px solid #ddd}
.table-basic.col table td{border-bottom:1px solid #ddd}

/* 공통 */
.pc .only_pc{display:block!important}
.mo .only_pc{display:none!important}
.pc .only_mo{display:none!important}
.mo .only_mo{display:block!important}
.scroll-fixed{overflow:hidden;position:relative;height:100%;}

/* search */
.search-wrap {width:100%; padding:16px 24px; box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.16)}
.search-wrap .search-box {position:relative; width:100%; max-width:594px}
.search-wrap .search-box > input {width:100%; padding:11px 36px 10px 0; font-size:16px; line-height:26px; border-bottom:2px solid #000}
.search-wrap .search-box > input:focus {outline:none; border-bottom:2px solid transparent; background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(119deg, #9c86e7 0%, #de64a0 100%) border-box}
.search-wrap .search-box .btn-search {position:absolute; width:24px; height:48px; top:0; right:0; background:url(../images/icons/icon-search.svg) no-repeat center; text-indent:-9999em}
.search-wrap .search-box .btn-clear {display:none; position:absolute; top:50%; right:44px; width:20px; height:20px; margin-top:-10px; background:url(../images/icons/icon-delete-20.svg) no-repeat 0 0; text-indent:-9999em}
.search-wrap .search-box input:valid + .btn-clear {display:block}

/* select */
.slt.border-type {position:relative; width:200px}
.slt.border-type > a {display:block; width:100%; padding:10px 15px; border:1px solid #ddd; border-radius:8px; background-color:#fff; font-size:16px; line-height:26px}
.slt.border-type.on > a {border-radius:8px 8px 0 0; border-color:#222; border-bottom-color:transparent}
.slt.border-type > a::before {right:15px}
.slt.border-type ul {width:100%; top:48px; left:0; padding:0; border:1px solid #222; border-radius:0 0 8px 8px; border-top:none; box-shadow:none}
.slt.border-type ul li > a {padding:10px 15px; background-color:#fff; font-size:16px; line-height:26px; text-align:left}
.slt.width-auto ul {width:auto; left:50%; transform:translateX(-50%)}

/* step title */
.step-tit {display:flex; align-items:center; margin-bottom:16px; font-size:20px; font-weight:bold; line-height:32px}
.step-tit > span {display:block; margin-left:3px; font-size:16px; font-weight:500}
.step-tit ~ .step-tit {margin-top:50px}
.step-tit > sup {color:#da0f47; font-size:20px; font-weight:bold; line-height:32px}
.tit-area {display:flex; align-items:center; margin-bottom:16px}
.tit-area .step-tit {margin-bottom:0}
.tit-area .step-tit + em {margin-left:10px; font-size:14px; line-height:22px}

/* step 필수입력항목  */
.step-top-note {display:flex; justify-content:flex-end; margin-bottom:12px; font-size:14px; line-height:20px}
.step-top-note sup {margin-right:3px; color:#da0f47; font-size:14px; line-height:20px}

/* tab */
.res-main [class*="tab"].center {display:flex; justify-content:center}

/* btn-area */
.btn-area { line-height: 0; font-size: 0; }
.btn-area.center {text-align:center!important}
.btn-area.m64 {margin-top:64px}
.btn-area [class*="btn"] + [class*="btn"] {margin-left:13px}

/* button */
.btn.full { min-width: 0; width: 100%; }
.btn.s01.mix { line-height: 40px; }
.btn.s01 { padding: 0 16px; line-height: 38px; font-size: 14px; border-radius: 20px; }
.btn.s01.h32 {line-height:30px}
.btn.more {position:relative; display:inline-block; min-width:0; width:90px!important; height:auto!important; padding-left:36px!important}
.btn.more::before {content:''; display:block; position:absolute; width:16px; height:16px; top:calc(50% - 8px); left:16px; background:url(../images/icons/btn-plus-16.svg) no-repeat center / contain}

/* bullet list */
ul.bull > li {position:relative; padding-left:10px; font-size:14px; line-height:22px}
ul.bull > li::before {content:''; display:block; position:absolute; width:2px; height:2px; top:10px; left:0; border-radius:50%; background-color:#000}
ul.bull > li + li {margin-top:4px}
ul.bull > li.red {color:#da0f47}
ul.bull > li.red::before {background-color:#da0f47}

/* input */
ul[class*="input"] {display:flex}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none; margin:0}
.text-area::after {content:''; display:block; clear:both}
.text-area textarea {height:140px; padding:26px 24px; border:1px solid #ddd; border-radius:8px; font-size:16px; line-height:24px}
.text-area textarea::placeholder {color:#666; font-size:16px; line-height:24px}
/* 휴대폰인증 input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none; margin:0}
input.base-txt {width:100%; height:48px; padding:10px 15px; border:1px solid #ddd; border-radius:8px; font-size:16px; line-height:26px}
input:disabled {border-color:#ededed; background-color:#ededed}
ul.input-list-type {flex-direction:column}
ul.input-list-type li + li {margin-top:32px}
ul.input-list-type.pc-row > li {display:flex}
ul.input-list-type.pc-row .tit {margin-bottom:0}
ul.input-list-type.pc-row .tit > label {line-height:48px}
ul.input-list-type .tit {margin-bottom:8px; font-size:16px; font-weight:bold; line-height:26px}
ul.input-list-type .tit label .name {display:flex}
ul.input-list-type .tit label .name sup {color:#e81953; margin-left:4px; font-size:16px; font-weight:bold; line-height:48px}
.input-pin-type {display:flex; margin-bottom:12px}
.input-pin-type input {width:calc(100% - 112px)}
.input-pin-type .btn-send {width:104px; margin-left:8px; padding:12px 10px; border:1px solid #000; border-radius:8px; background-color:#fff; font-size:14px; font-weight:bold; line-height:20px; white-space:nowrap}

/* 필수 입력 사항 */
.note {display:flex; font-size:14px; line-height:20px}
.note > sup {margin-right:3px; color:#e81953; font-size:14px; line-height:20px}

/* 헤더 */
.header{position:relative;background-color:#fff}
.header .dimmed{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.56);z-index:101}
.header-wrap{max-width:1760px;height:105px;padding:19px 0;margin:0 auto;}
.header-wrap.mobile{display:none;}
.header-wrap::after{content:'';display:block;clear:both}
.header-wrap .logo{float:left;padding-left:42px;}
.header-wrap .logo a{display:flex;align-items:center;}
.header-wrap .logo a img{width:100px;}
.header-wrap .logo a span{display:inline-block;padding-left:12px;color:#747474;font-size:18px;font-weight:700;line-height:27px}

.header-wrap .utility{float:right;display:flex;padding-right:40px;}
.header-wrap .utility .my-tooltip{position:relative;}
.header-wrap .utility .my-tooltip .my-tooltip-detail{display:none;position:absolute;top:20px;left:calc(50% - 84px);width:168px;padding-top:22px;z-index:200;}
.header-wrap .utility .my-tooltip .my-tooltip-detail.active{display:block}
.header-wrap .utility .my-tooltip > a{display:block;width:24px;height:24px;background:url(../images/icons/icon-person.svg) no-repeat center / contain}
.header-wrap .utility .my-tooltip .my-tooltip-layer{padding:4px 0;background:#fff;border-radius:4px;box-shadow:0 4px 10px rgba(0,0,0,0.16);}
.header-wrap .utility .my-tooltip .my-tooltip-layer .my-tooltip-layer-inner{min-width:138px;padding:4px 0;border-radius:4px;background-color:#fff;box-shadow:0 4px 12px 0 rgba(0, 0, 0, 0.15)}
.header-wrap .utility .my-tooltip .my-tooltip-layer ul li a{display:block;padding:8px;font-size:14px;line-height:24px;text-align:center}
.header-wrap .utility .my-tooltip .my-tooltip-layer ul li a:hover,
.header-wrap .utility .my-tooltip .my-tooltip-layer ul li a:focus,
.header-wrap .utility .my-tooltip .my-tooltip-layer ul li a:active{background-color:#f4f4f4}
.header-wrap .utility .my-tooltip .my-tooltip-layer ul + ul{border-top:1px solid #ddd}

.header-wrap .utility .util{position:relative;display:flex;margin-left:24px;padding-left:24px}
.header-wrap .utility .util::before{content:'';display:block;position:absolute;width:1px;height:14px;top:calc(50% - 7px);left:0;border-left:1px solid #ddd}
.header-wrap .utility .util .about-company{position:relative}
.header-wrap .utility .util .about-company > a{display:block;font-size:14px;line-height:24px}
.header-wrap .utility .util .about-company .about-company-layer{display:none}
.header-wrap .utility .util .about-company .about-company-layer.active{display:block}
.header-wrap .utility .util .about-company .about-company-layer{position:absolute;display:none;top:20px;left:50%;transform:translateX(-50%);padding-top:20px;z-index:200}
.header-wrap .utility .util .about-company .about-company-layer ul{min-width:138px;padding:4px 0;border-radius:4px;background-color:#fff;box-shadow:0 4px 12px 0 rgba(0, 0, 0, 0.15)}
.header-wrap .utility .util .about-company .about-company-layer ul li a{display:block;padding:8px;font-size:14px;line-height:24px;text-align:center}
.header-wrap .utility .util .about-company .about-company-layer ul li a:hover,
.header-wrap .utility .util .about-company .about-company-layer ul li a:focus,
.header-wrap .utility .util .about-company .about-company-layer ul li a:active{background-color:#f4f4f4}
.header-wrap .utility .util .outer-link{position:relative;margin-left:24px;padding-left:24px}
.header-wrap .utility .util .outer-link::before{content:'';display:block;position:absolute;width:1px;height:14px;top:calc(50% - 7px);left:0;border-left:1px solid #ddd}
.header-wrap .utility .util .outer-link ul{display:flex}
.header-wrap .utility .util .outer-link ul li + li{margin-left:24px}
.header-wrap .utility .util .outer-link ul li a{display:block;padding-right:18px;background:url(../images/icons/btn-outlink-16.svg) no-repeat right center;font-size:14px;line-height:24px}

.header-bottom{clear:both;padding:20px 0 0 42px;margin-bottom:-18px;}
.header-bottom .menu-wrap{display:flex;}
.header-bottom .menu-wrap .dimmde{display:block;content:'';position:fixed;top:105px;left:0;width:100%;height:calc(100% - 105px);background:rgba(0,0,0,0.56);z-index:10;}
.header-bottom .menu-wrap > ul{font-size:0;margin-left:-12px;}
.header-bottom .menu-wrap > ul > li{display:inline-block;vertical-align:top;padding:0 12px;}
.header-bottom .menu-wrap > ul > li > a.depth1-tit{position:relative;display:block;padding:4px 0 12px;font-size:16px;font-weight:500;line-height:24px}
.header-bottom .menu-wrap > ul > li .menu-category-layer{display:none}
.header-bottom .menu-wrap > ul > li.active .menu-category-layer{display:block;position:absolute;top:105px;left:0;width:100%;background-color:#fff;border-top:1px solid #ddd;z-index:100;}
.header-bottom .menu-wrap > ul > li.active > a::after{content:'';display:block;position:absolute;left:0;right:0;bottom:0;height:4px;background-color:#000}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner{display:flex;position:relative;max-width:1760px;padding:70px 42px 80px;margin:0 auto;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner > h4{position:absolute;top:28px;left:42px;font-size:20px;line-height:30px;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .cate-menu{flex:1;max-width:50%;font-size:16px;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .cate-menu:after{display:block;content:'';clear:both;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .cate-menu > li{float:left;position:relative;width:50%;padding:15px 0;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .cate-menu > li.full{width:100%;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .cate-menu > li > a{display:inline-block;padding-right:20px;background:url(../images/icons/btn-arr-16-black-sm.svg) no-repeat right center;font-size:16px;font-weight:700;line-height:26px}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .cate-menu > li > a:hover{text-decoration:underline;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .cate-menu > li > a[target="_blank"]{background:url(../images/icons/btn-outlink-16.svg) no-repeat right center}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .cate-menu > li > ul{position:absolute;top:41px;left:0;padding-top:8px;z-index:1;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .cate-menu > li > ul > li{font-size:0;padding:4px 0;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .cate-menu > li > ul > li a{display:inline-block;font-size:14px;color:#111;line-height:24px;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .cate-menu > li > ul > li a:hover{text-decoration:underline;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .bnr-box{flex:1;font-size:0;padding:10px 0 0;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .bnr-box .bnr-block{display:inline-block;overflow:hidden;position:relative;width:calc(100% / 3);font-size:18px;font-weight:500;text-align:center;line-height:33px;letter-spacing:-0.18px;padding:0 10px;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .bnr-box .bnr-block a{display:block;overflow:hidden;border-radius:10px;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .bnr-box .bnr-block img{display:block;width:100%;}

.header-bottom .menu-wrap > ul > li .menu-category-layer .category-tit{margin-bottom:32px;}
.header-bottom .menu-wrap > ul > li .menu-category-layer .category-items{display:flex;margin-bottom:20px}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-wrap.banner{position:relative;display:flex;flex-wrap:wrap;justify-content:space-between;padding-top:90px}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-wrap.banner .category-tit{position:absolute;top:28px}
.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-wrap.banner .category-items{flex:auto}
.header-bottom .menu-wrap > ul > li .menu-category-layer .category-items > ul{width:100%;max-width:315px;padding-right:24px}
.header-bottom .menu-wrap > ul > li .menu-category-layer .category-items > ul li a{padding-right:20px;background:url(../images/icons/btn-arr-16-black-sm.svg) no-repeat right center;font-size:16px;font-weight:700;line-height:26px}
.header-bottom .menu-wrap > ul > li .menu-category-layer .category-items > ul li a[target="_blank"]{background:url(../images/icons/btn-outlink-16.svg) no-repeat right center}
.header-bottom .menu-wrap > ul > li .menu-category-layer .category-items > ul li + li{margin-top:8px}
.header-bottom .menu-wrap > ul > li .menu-category-layer .category-items .depth3 .depth3-tit{font-size:16px;font-weight:700;line-height:26px}
.header-bottom .menu-wrap > ul > li .menu-category-layer .category-items .depth3 ul{margin:16px 0 32px}
.header-bottom .menu-wrap > ul > li .menu-category-layer .category-items .depth3 ul li a{background:none;font-size:14px;font-weight:400;line-height:24px}
.header-bottom .menu-wrap > ul > li .menu-category-layer .category-items .depth3 ul li a:hover,
.header-bottom .menu-wrap > ul > li .menu-category-layer .category-items .depth3 ul li a:focus,
.header-bottom .menu-wrap > ul > li .menu-category-layer .category-items .depth3 ul li a:active{text-decoration:underline}

.bnr-block .swiper-navi .slideBtn{display:block;overflow:hidden;position:absolute;top:calc(50% - 20px);width:16px;height:16px;font-size:0;text-indent:-9999em;background:url('../images/icons/ico-gnb-slide.svg') no-repeat 0 0;background-size:contain;z-index:10;}
.bnr-block .swiper-navi .slideBtn.btn-prev{right:20px;transform:rotate(180deg);}
.bnr-block .swiper-navi .slideBtn.btn-next{left:20px;}
.bnr-block .swiper-navi .swiper-pager{position:absolute;bottom:33px;left:0;width:100%;text-align:center;z-index:10;}
.bnr-block .swiper-navi .swiper-pager .swiper-pagination-bullet{display:inline-block;width:30px;height:2px;margin:0;background:rgba(255,255,255,0.4);border-radius:0;opacity:1;}
.bnr-block .swiper-navi .swiper-pager .swiper-pagination-bullet + .swiper-pagination-bullet{margin-left:5px;}
.bnr-block .swiper-navi .swiper-pager .swiper-pagination-bullet.swiper-pagination-bullet-active{background:rgba(255,255,255,1);}
.bnr-block .swiper-navi .swiper-pager.swiper-pagination-lock ~ button{display:none;}

.menu-banner{display:flex;right:0}
.menu-banner .swiper[class*=menu-banner-]{width:324px;height:248px;padding-bottom:34px}
.menu-banner .swiper[class*=menu-banner-] + [class*=menu-banner-]{margin-left:20px}
.menu-banner .swiper .swiper-slide{display:block}
.menu-banner .swiper .swiper-slide .banner-img{display:block;width:100%;height:auto;padding-bottom:66%;border-radius:8px;overflow:hidden;background-size:cover;background-position:center}
.menu-banner .swiper .banner-tit{margin-top:14px;font-size:15px;line-height:20px;text-align:center}
.menu-banner .swiper[class*=menu-banner-] .swiper-pagination{bottom:0;padding:8px;font-size:0}

/* Breadcrumb */
.breadcrumb-wrap{display:none;max-width:1760px;margin:0 auto;}
.breadcrumb-wrap.active{display:block;}
.breadcrumb-wrap .breadcrumb-bar{font-size:0;padding:8px 42px;}
.breadcrumb-wrap .breadcrumb-bar > *{display:inline-block;position:relative;font-size:12px;font-weight:500;line-height:22px;}
.breadcrumb-wrap .breadcrumb-bar > * + *{margin-left:24px;}
.breadcrumb-wrap .breadcrumb-bar > * + *:before{display:block;content:'';position:absolute;top:calc(50% - 7px);left:-20px;width:16px;height:16px;background:url('../images/icons/btn_arrow_right_16.svg') no-repeat 0 0;}
.breadcrumb-wrap .btn-history-back{display:none;}

/* 푸터 */
footer{margin-top:132px;padding:0 49px 40px;background:#f4f4f4;font-size:12px}
footer .foot-cont .cont-area{max-width:1284px;margin:0 auto}

footer .kakao-link{display:none;}

footer .foot-cont .pc-dropdown-wrap{position:relative;padding-bottom:136px}
footer .foot-cont .pc-dropdown-wrap .btns{position:absolute;bottom:0;right:0;left:0;padding:48px 0;text-align:center}
footer .foot-cont .pc-dropdown-wrap .btns .menu-opener{padding:7px 15px;color:#000;border:1px solid #000;border-radius:20px;font-size:14px;line-height:24px;text-align:center}
footer .foot-cont .pc-dropdown-wrap .btns .menu-opener::after{content:'';display:inline-block;width:16px;height:16px;margin-left:4px;margin-top:4px;background:url(../images/icons/icon-arr-footer-16.svg) center no-repeat;vertical-align:top;transition:all .3s linear;}
footer .foot-cont .mobile-link-wrap{display:none}
footer .foot-cont .pc-dropdown-wrap.open .btns .menu-opener::after{transform:rotate(180deg)}
footer .foot-cont .pc-dropdown-wrap .link-wrap{display:none}
footer .foot-cont .pc-dropdown-wrap.open .link-wrap{display:flex;flex-wrap:wrap}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section{min-width:12.5%;margin-top:48px}
@media screen and (min-width: 768px) and (max-width: 1200px){
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section{width:25%}
}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section > .depth1 a{display:inline-block;color:#000;font-size:14px;line-height:16px;font-weight:700;vertical-align:top}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section > .depth1 ~ .depth1{margin-top:28px}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth2{margin-top:20px}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth2 ul li + li{margin-top:4px}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth2 li a{display:inline-block;color:#000;font-size:12px;line-height:16px;font-weight:500;vertical-align:top}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 .depth3-tit{display:inline-block;color:#000;font-size:12px;line-height:16px;font-weight:500;vertical-align:top}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3{margin-top:20px}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 ul{margin:6px 0 20px}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 ul li a{display:inline-block;color:#616161;font-size:12px;line-height:16px;vertical-align:top}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 ul li a:hover,
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 ul li a:focus,
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 ul li a:active{text-decoration:underline}
footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth2 li a[target="_blank"]::after{content:'';display:inline-block;width:16px;height:16px;margin-left:4px;background:url(../images/icons/icon-blank-arr2.svg) center no-repeat;background-size:100%;vertical-align:top}

footer .foot-cont .foot-bottom{border-top:1px solid #ddd}
footer .foot-cont .foot-bottom .bottom-head{position:relative;padding:16px 0}
footer .foot-cont .foot-bottom .bottom-head::after{content:'';display:block;clear:both}
footer .foot-cont .family-site{float:right}
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns{display:inline-block;position:relative;margin-right:24px;padding:8px 0;vertical-align:top}
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .slt-btn{display:inline-block;color:#000;font-size:12px;line-height:16px;font-weight:500;vertical-align:top}
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .slt-btn::after{content:'';display:inline-block;width:16px;height:16px;margin:0 0 0 4px;background:url(../images/icons/icon-arr-footer-16.svg) center no-repeat;vertical-align:top;transition:all .3s}
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .slt-btn.active::after{transform:rotate(180deg);}
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .lists{display:none;position:absolute;top:33px;left:50%;transform:translateX(-50%);z-index:10;padding:4px 0;border-radius:4px;background:#fff;box-shadow:2px 4px 12px 0 rgba(0,0,0,0.16)}
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .lists li a{display:block;padding:0 20px;color:#000;font-size:12px;line-height:40px;text-align:center;font-weight:500;white-space:nowrap}
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .lists li a.selected,
footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .lists li a:hover{background-color:#f4f4f4}

footer .foot-cont .foot-bottom .bottom-head .sns-link{float:left;display:flex;flex-wrap:wrap;font-size:0}
footer .foot-cont .foot-bottom .bottom-head .sns-link li + li{margin-left:20px}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a{display:flex;align-items:center;font-weight:500;font-size:12px;line-height:16px;color:#666}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a:before{display:inline-block;margin-right:4px;width:28px;height:28px;background:no-repeat center center;background-size:100%;content:''}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a.blog:before{background:url(../images/icons/icon-naver.svg)}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a.naverTv:before{background:url(../images/icons/icon-naver.svg)}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a.naverPost:before{background:url(../images/icons/icon-naver.svg)}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a.facebook:before{background:url(../images/icons/icon-facebook.svg)}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a.instagram:before{background:url(../images/icons/icon-instagram.svg)}
footer .foot-cont .foot-bottom .bottom-head .sns-link li a.youtube:before{background:url(../images/icons/icon-youtube.svg)}

footer .foot-cont .foot-bottom .bottom-body{position:relative;padding-top:16px;border-top:1px solid #ddd}
footer .foot-cont .foot-bottom .bottom-body a:hover,
footer .foot-cont .foot-bottom .bottom-body a:focus,
footer .foot-cont .foot-bottom .bottom-body a:active{text-decoration:underline}
footer .foot-cont .foot-bottom .bottom-body a[href^=tel]:hover,
footer .foot-cont .foot-bottom .bottom-body a[href^=tel]:focus,
footer .foot-cont .foot-bottom .bottom-body a[href^=tel]:active{text-decoration:none}
footer .foot-cont .foot-bottom .bottom-body .bottom-link{font-size:0}
footer .foot-cont .foot-bottom .bottom-body .bottom-link li{display:inline-block;vertical-align:top}
footer .foot-cont .foot-bottom .bottom-body .bottom-link li + li{margin-left:12px}
footer .foot-cont .foot-bottom .bottom-body .bottom-link li a{display:inline-block;color:#000;font-size:12px;line-height:16px}

footer .foot-cont .foot-bottom .bottom-body .comp-info{padding-right:220px}
footer .foot-cont .foot-bottom .bottom-body .comp-info p{margin-top:8px;color:#767676;font-size:12px;line-height:16px}
footer .foot-cont .foot-bottom .bottom-body .comp-info p span{display:inline-block;margin-right:16px;vertical-align:top}
footer .foot-cont .foot-bottom .bottom-body .comp-info p span a{color:#000}

footer .foot-cont .foot-bottom .bottom-body .copy{margin-top:16px}
footer .foot-cont .foot-bottom .bottom-body .copy p{margin-top:4px;color:#767676;font-size:12px;line-height:16px}

footer .foot-cont .foot-bottom .bottom-body .foot-last{position:absolute;right:0;bottom:0}
footer .foot-cont .foot-bottom .bottom-body .foot-last .ismsp{position:relative;display:inline-block;padding:8px 0 8px 56px;color:#000;font-size:12px;line-height:16px;font-weight:500}
footer .foot-cont .foot-bottom .bottom-body .foot-last .ismsp::before{content:'';position:absolute;top:50%;left:0;width:48px;height:48px;margin-top:-24px;background:url(../images/icons/img-ismsp.png) center no-repeat;background-size:100%}
footer .foot-cont .foot-bottom .bottom-body .foot-last .ismsp dl{display:flex}
footer .foot-cont .foot-bottom .bottom-body .foot-last .ismsp dl dd{margin-left:7px;color:#666;font-weight:400}

/* 푸터 스티키 메뉴 */
.mobile-status-bar{display:none;position:fixed;bottom:0;left:0;width:100%;height:70px;z-index:9000;background:#fff;border-top:1px solid #ddd}
.mobile-status-bar .mobile-status-list{display:flex;height:100%}
.mobile-status-bar .mobile-status-list > li{flex:1}
.mobile-status-bar .mobile-status-list > li > a{display:block;position:relative;text-align:center;padding:10px 10px 17px}
.mobile-status-bar .mobile-status-list > li > a:before{display:block;content:'';width:24px;height:24px;margin:0 auto;background-position:center center;background-size:100% 100%;background-repeat:no-repeat}
.mobile-status-bar .mobile-status-list > li.shop > a:before{background-image:url(../images/icons/icon-status-shop.svg)}
.mobile-status-bar .mobile-status-list > li.reserv > a:before{background-image:url(../images/icons/icon-status-reserv.svg)}
.mobile-status-bar .mobile-status-list > li.home > a:before{background-image:url(../images/icons/icon-status-home.svg)}
.mobile-status-bar .mobile-status-list > li.event > a:before{background-image:url(../images/icons/icon-status-event.svg)}
.mobile-status-bar .mobile-status-list > li.nav-anchor > a:before{background-image:url(../images/icons/icon-status-menu.svg)}
.mobile-status-bar .mobile-status-list > li > a span{display:block;margin-top:4px;font-size:11px;line-height:1.56;color:#000;font-weight:500;letter-spacing:-.66px}
.swiper-slide .mobile-status-bar{display:none}
select.family-site{display:none;}

/* floating menu */
.floating-block{position:fixed;bottom:48px;right:48px;z-index:3;}
.floating-block .top-btn{display:block;position:absolute;bottom:0;right:-120px;width:56px;height:56px;font-size:0;background-color:#fff;background-image:url('../images/icons/icon-top-new.svg');background-repeat:no-repeat;background-position:50% 50%;background-size:40px 40px;border-radius:100%;box-shadow:0 4px 11px 0 rgba(0,0,0,0.15);transition:all 0.2s linear;}
.floating-block .top-btn:hover{background-image:url('../images/icons/icon-top-new-active.svg');}
.floating-block .floating-custom-wrap{position:absolute;bottom:0;right:0;width:56px;padding-bottom:72px;}
.floating-block .floating-custom-wrap.active{width:210px;}
.floating-block .floating-custom-wrap a{display:block;}
.floating-block .floating-custom-wrap .main-btn{position:absolute;bottom:0;right:0;width:56px;height:56px;background-color:#fa263e;background-image:linear-gradient(315deg,#fb5a72,#fa263e);border-radius:100%;}
.floating-block .floating-custom-wrap .main-btn:hover{background-image:none;}
.floating-block .floating-custom-wrap .main-btn:before{display:block;content:'';position:absolute;top:calc(50% - 20px);left:calc(50% - 20px);width:40px;height:40px;background-image:url('../images/icons/icon-img-floating-40.svg');background-repeat:no-repeat;background-position:50% 50%;background-size:contain;transition:all 0.2s linear;}
.floating-block .floating-custom-wrap .main-btn.active:before{background-image:url('../images/icons/icon-more-plus-x.png');transform:rotate(45deg);}
.floating-block .service-list{display:none;}
.floating-block .service-list li + li{margin-top:10px;}
.floating-block .service-list a{overflow:hidden;position:relative;width:100%;font-size:16px;text-align:center;line-height:26px;white-space:nowrap;padding:14px 68px 14px 28px;background:#fff;border:1px solid #fff;border-radius:28px;box-shadow:0 4px 11px 0 rgba(0,0,0,0.15);}
.floating-block .service-list a:focus,
.floating-block .service-list a:active{border-color:#fa263e;outline-color:#fa263e;outline-width:1px;}
.floating-block .service-list a img{display:block;position:absolute;top:8px;right:16px;}
.floating-block.active .top-btn{right:0;}
.floating-block.active .floating-custom-wrap{bottom:72px;}

/* calendar custom */
.calendar{overflow:hidden;}
.calendar .ui-widget.ui-widget-content{width:100%;height:100%;padding:0 20px;border:0 none;}
.calendar .ui-datepicker .ui-datepicker-header{position:relative;text-align:center;padding:25px 0 15px;background:none;border:0 none;}
.calendar .ui-datepicker .ui-datepicker-header > *{display:inline-block;}
.calendar .ui-datepicker .ui-datepicker-header > a{width:16px;height:16px;background:url('../images/icons/btn_arrow_right_16.svg') no-repeat 50% 50%;}
.calendar .ui-datepicker .ui-datepicker-header > a *{display:none;}
.calendar .ui-datepicker .ui-datepicker-header > a:hover,
.calendar .ui-datepicker .ui-datepicker-header > a:focus{border:0 none;}
.calendar .ui-datepicker .ui-datepicker-header > a:focus,
.calendar .ui-datepicker .ui-datepicker-header > a:active{outline:2px solid #000;}
.calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev{top:37px;left:calc(50% - 93px);transform:rotate(180deg);}
.calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next{top:37px;left:calc(50% + 77px);}
.calendar .ui-datepicker .ui-datepicker-title{font-size:24px;font-weight:400;letter-spacing:-0.03em;line-height:40px;}
.calendar .ui-datepicker .ui-datepicker-title .ui-datepicker-month{margin-left:-3px;}
.calendar .ui-state-default,
.calendar .ui-widget-content .ui-state-default,
.calendar .ui-widget-header .ui-state-default,
.calendar .ui-button,
html .calendar .ui-button.ui-state-disabled:hover,
html .calendar .ui-button.ui-state-disabled:active{width:32px;height:32px;font-size:14px;text-align:center;line-height:31px;padding:0;margin:0 auto;background:none;border:0 none;border-radius:100%;}
.calendar .ui-datepicker td a:hover,
.calendar .ui-datepicker td a:focus{text-decoration:underline !important;}
.calendar .ui-widget-content .ui-state-active{color:#fff;background:#da0f47;}
.calendar .ui-widget-content .ui-state-active:hover,
.calendar .ui-widget-content .ui-state-active:focus{text-decoration:none !important;}
.calendar .ui-state-highlight,
.calendar .ui-widget-content .ui-state-highlight,
.calendar .ui-widget-header .ui-state-highlight{color:#000;background:none;}
.calendar .ui-state-active.ui-state-highlight{color:#fff;background:#da0f47;}
.calendar .ui-datepicker th,
.calendar .ui-datepicker td{padding:5px 0;}
.calendar .ui-datepicker th span{display:block;height:32px;font-size:14px;font-weight:500;text-align:center;line-height:32px;}

/* slide navi */
.slide-navi{display:flex;align-items:center;justify-content:center;z-index:2;}
.slide-navi .slide-navi-detail{position:relative;width:100%;max-width:1480px;font-size:0;text-align:right;padding:0 40px;}
.slide-navi .slide-navi-detail > *{display:inline-block;width:auto;vertical-align:middle;}

.slide-navi .swiper-pager{font-size:0;white-space:nowrap;padding:8px 14px;background:rgba(0,0,0,0.3);border-radius:23px;}
.slide-navi .swiper-pager > *{vertical-align:top;}
.slide-navi .swiper-pager .slideBtn{display:inline-block;overflow:hidden;width:30px;height:30px;font-size:0;background-image:url('../images/icons/btn_arrow_right.svg');background-repeat:no-repeat;background-position:50% 50%;background-size:contain;transition:all 0s linear;}
.slide-navi .swiper-pager .slideBtn + .slideBtn{margin-left:12px;}
.slide-navi .swiper-pager .slideBtn.btn-prev{transform:rotate(180deg);}
.slide-navi .swiper-pager .slideBtn.swiper-button-disabled{background-image:url('../images/icons/btn_arrow_left.svg');}
.slide-navi .swiper-pager .slideBtn.swiper-button-disabled.btn-prev{transform:rotate(0deg)}
.slide-navi .swiper-pager .slideBtn.swiper-button-disabled.btn-next{transform:rotate(180deg)}
.slide-navi .swiper-pager .pager-fraction{display:inline-block;width:auto;font-size:16px;font-weight:300;color:rgba(255,255,255,0.5);line-height:30px;margin:0 7px;}
.slide-navi .swiper-pager .pager-fraction .swiper-pagination-current{color:#fff;}

.slide-navi .swiper-auto{margin-left:8px;}
.slide-navi .swiper-auto .slideBtn{display:none;overflow:hidden;width:46px;height:46px;font-size:0;text-indent:-9999em;background-repeat:no-repeat;background-position:50% 50%;background-size:contain;}
.slide-navi .swiper-auto .slideBtn.active{display:block;}
.slide-navi .swiper-auto .slideBtn.btn-play{background-image:url('../images/icons/btn_start.svg');}
.slide-navi .swiper-auto .slideBtn.btn-stop{background-image:url('../images/icons/btn_pause.svg');}

/* popup */
.dim { -webkit-tap-highlight-color: rgba(255,255,255,0); display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #111; opacity: 0.7; z-index: 100; }
.popup { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 101; }
.pop-wrap { position: absolute; top: 50%; left: 50%; width: 100%; padding: 34px 40px 50px; max-width: 678px; border-radius: 8px; background: #fff; overflow: hidden; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.pop-head { padding-bottom: 15px; border-bottom: 2px solid #000; }
.tit-pop { line-height: 30px; font-size: 20px; font-weight: 500; }
.tit-pop + .txt-pop01 { margin-top: 10px; }
.txt-pop01 { line-height: 24px; font-size: 16px; }
.btn-area.m-full-flex { margin-top: 30px; line-height: 0; font-size: 0; text-align: center; }
.btn-area.m-full-flex > * + * { margin-left: 10px; }
.btn-pop-close { position: absolute; top: 34px; right: 40px; width: 30px; height: 30px; background: url("../images/icons/btn-close-24-black.svg") no-repeat center; }

/* popup - size */
.popup.small .pop-wrap { max-width: 444px; }
.popup.medium .pop-wrap { max-width: 912px; }
.popup.large .pop-wrap { max-width: 1146px; }

/* popup - alert */
.popup.alert .pop-wrap { padding: 60px 30px 50px 30px; max-width: 500px; text-align: center; }
.inblock { display: inline-block; }
.block { display: block; }
.tm-ty01 .block:last-child { margin-top: 26px; }

@media screen and (min-width:768px){
	.header{border-bottom:1px solid #ddd;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth2{display:block !important;}
}
@media screen and (max-width:1200px){
	.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .bnr-box .bnr-block{font-size:13px;}
}
@media screen and (max-width:1024px){
	.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .bnr-box{display:none;}
}
@media screen and (max-width:1024px) and (min-width:768px){
	.header-bottom .menu-wrap > ul > li .menu-category-layer .menu-category-inner .cate-menu{max-width:100%;}
	footer .foot-cont .foot-bottom .bottom-head .sns-link li + li{margin-left:10px;}
	footer .foot-cont .foot-bottom .bottom-body .foot-last{position:static;margin-top:20px;}
	footer .foot-cont .foot-bottom .bottom-body .foot-last .ismsp{padding-left:50px;}
	footer .foot-cont .foot-bottom .bottom-body .foot-last .ismsp::before{left:-6px;}
}
@media screen and (max-width:767px){
	/* search */
	.search-wrap {padding:0 23px 11px}
    .search-wrap .search-box {margin:0 auto}
    .search-wrap .search-box > input {background-color:#fff; font-size:13px; line-height:24px}
    .search-wrap .search-box .btn-search {width:16px; background:url(../images/icons/icon-search_mo.svg) no-repeat center / contain}

	/* select */
	.slt.border-type > a,
	.slt.border-type > ul {display:none}
	.slt.border-type select {width:100%; height:auto; border:1px solid #ddd; border-radius:8px; background-position:top 50% right 11px; padding:11px 12px; font-size:14px; line-height:22px}

	/* step title */
	.step-tit {font-size:16px; line-height:25px}
	.step-tit ~ .step-tit {margin-top:40px}
	.step-tit > span {margin-left:5px; font-size:11px}
	.step-tit > sup {font-size:16px; line-height:25px}
	.tit-area {flex-direction:column; align-items:flex-start; margin-bottom:12px}
	.tit-area .step-tit + em {margin-left:0; font-size:10px; line-height:19px}

	/* step 필수입력항목  */
	.step-top-note {margin-bottom:5px; font-size:10px; line-height:15px}
	.step-top-note sup {font-size:10px; line-height:15px}

	/* tab */
	.res-main [class*="tab"].center {justify-content:flex-start}

	/* btn-area */
	.btn-area.m64 {margin-top:30px}
	.btn-area.mo50 > [class*="btn"] {width:calc(50% - 4.5px)}
	.btn-area [class*="btn"] + [class*="btn"] {margin-left:5px}
	.btn-area.full-size-m{display:flex;width:100%;}
	.btn-area.full-size-m > [class*="btn"]{flex:1;}
	.btn-area.full-size-m > [class*="btn"] + [class*="btn"]{margin-left:10px;}
    .btn-area.m-full > [class*="btn"] { width: 100%; }
    .btn-area.m-full > [class*="btn"] + [class*="btn"] { margin: 10px 0 0 0; }

	/* button */
    .btn.s01 { padding: 0 20px; line-height: 41px; font-size: 13px; border-radius: 21px; }
	.btn.more {width:86px!important; padding:6px 15px 6px 33px!important}
    .btn.more::before {width:14px; height:14px; top:calc(50% - 7px)}

	/* bullet list */
	ul.bull > li {padding-left:5px; font-size:12px; line-height:20px}
	ul.bull > li + li {margin-top:5px}

	/* input */
	.text-area textarea {padding:13px 16px; font-size:14px; line-height:19px}
    .text-area textarea::placeholder {font-size:14px; line-height:19px}
	/* 휴대폰인증 input */
    input.base-txt {height:auto; padding:11px 12px; font-size:14px; line-height:22px}
    ul.input-list-type .tit {font-size:14px; line-height:20px}
    ul.input-list-type.pc-row > li {flex-direction:column}
    ul.input-list-type.pc-row .tit > label {line-height:20px}
    ul.input-list-type .tit label .name sup {font-size:14px; line-height:20px}
    .input-pin-type {margin-bottom:7px}
    .input-pin-type input {width:calc(100% - 105.5px)}
    .input-pin-type .btn-send {width:99px; margin-left:6.5px; font-size:13px; font-weight:500}

	/* 필수 입력 사항 */
    .note {font-size:13px; font-weight:500}
    .note sup {font-size:13px}

	header.fixed{padding-top:48px;}
	header.fixed .header-wrap{position:fixed;top:0;left:0;width:100%;transition:all 0.2s linear;}
	header.fixed .header-wrap .logo,
	header.fixed .header-wrap .my-tooltip{display:none;}
	.header-wrap{height:auto;padding:0 16px;background:#fff;box-shadow:0 1px 4px 0 rgb(0 0 0 / 10%);z-index:2000;}
	.header-wrap.pc{display:none;}
	.header-wrap.mobile{display:block;}
	.header-wrap .logo{padding:10px 0 11px;}
	.header-wrap .logo a img{width:104px;height:27px;}
	.header-wrap .logo a span{padding-left:7.5px;}
	.header-bottom{padding:0;margin-bottom:0;}
	.header-bottom .menu-wrap{display:block;}
	.header-bottom .menu-wrap > ul{overflow:hidden;font-size:0;white-space:nowrap;margin-left:0;padding:0 2px;}
	.header-bottom .menu-wrap > ul > li{display:inline-block;padding:0;}
	.header-bottom .menu-wrap > ul > li + li{margin-left:20px;}
	.header-bottom .menu-wrap > ul > li .menu-category-layer{display:none !important;}
	.header-bottom .menu-wrap > ul > li > a.depth1-tit{font-size:15px;color:#666;}
	.header-bottom .menu-wrap > ul > li.active > a.depth1-tit{color:#000;}

	.header-bottom .menu-wrap > ul > li > a.depth1-tit{padding:8px 0;}

	.header-wrap .utility{display:none;}

	.header-wrap .my-tooltip{position:absolute;top:10px;right:14px;}
	.header-wrap .my-tooltip a{display:block;width:26px;height:26px;background:url('../images/icons/icon-person.svg') no-repeat center / 20px 20px;}

	.breadcrumb-wrap{padding:0 14px;}
	.breadcrumb-wrap .breadcrumb-bar{display:none;}
	.breadcrumb-wrap .btn-history-back{display:inline-block;position:relative;font-size:14px;line-height:34px;padding-left:11px;}
	.breadcrumb-wrap .btn-history-back:before{display:block;content:'';position:absolute;top:calc(50% - 8px);left:-2px;width:16px;height:16px;background:url('../images/icons/btn_arrow_right_16.svg') no-repeat 0 0;transform:rotate(180deg);}

	.mega-gnb-mobile{overflow-y:auto;position:fixed;top:0;right:-100%;width:calc(100% - 20px);height:100%;padding:0 0 70px;background:#fff;transition:all 0.3s ease;z-index:1001;}
	.mega-gnb-mobile:before{display:none;content:'';position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.56);opacity:0;transition:all 0.3s ease;}
	.mega-gnb-mobile > *{position:relative;background:#fff;z-index:1;}
	.mega-gnb-mobile .close-gnb{position:fixed;top:0;right:-100%;width:calc(100% - 20px);height:59px;background:#fff;z-index:11;transition:all 0.3s ease;}
	.mega-gnb-mobile .close-gnb button{position:absolute;top:11px;right:11px;width:34px;height:34px;background:url('../images/icons/btn-close-24-black.svg') no-repeat 50% 50%;}
	.mega-gnb-mobile .mgb-top{overflow:hidden;padding:59px 16px 13px;background:#fff;z-index:10;}
	.mega-gnb-mobile .mgb-top .link-arrow{display:block;position:relative;float:left;font-size:18px;font-weight:700;line-height:34px;padding-right:22px;}
	.mega-gnb-mobile .mgb-top .link-arrow:after{display:block;content:'';position:absolute;top:calc(50% - 8px);right:0;width:16px;height:16px;background:url('../images/icons/btn-arr-32-black.svg') no-repeat 0 0;background-size:contain;transform:rotate(180deg);}
	.mega-gnb-mobile .mgb-top .link-mypage{display:block;float:right;width:34px;height:34px;background:url('../images/icons/icon-person-48-m.svg') no-repeat 50% 50%;background-size:24px auto;}
	.mega-gnb-mobile .bnr-wrap{padding:12px 0;background:#f4f4f4;z-index:10;}
	.mega-gnb-mobile .bnr-wrap .bnr-block{overflow:hidden;padding:24px 16px;background:#fff;}
	.mega-gnb-mobile .bnr-wrap .bnr-block .swiper-wrapper{padding-right:16px;}
	.mega-gnb-mobile .bnr-wrap .bnr-block .swiper-wrapper .swiper-slide a{display:block;overflow:hidden;border-radius:8px;}
	.mega-gnb-mobile .bnr-wrap .bnr-block .swiper-wrapper .swiper-slide .bnr-desc{position:absolute;top:10px;left:10px;width:calc(100% - 20px);font-size:15px;color:#fff;line-height:33px;}
	.mega-gnb-mobile .bnr-wrap .bnr-block img{display:block;width:100%;}
	.mega-gnb-mobile .link-wrap li.link-section + li.link-section{border-top:1px solid #f4f4f4;}
	.mega-gnb-mobile .link-wrap li.link-section .depth1 a{display:block;position:relative;width:100%;height:64px;font-size:16px;font-weight:700;line-height:64px;padding:0 16px;border-bottom:1px solid #f4f4f4;}
	.mega-gnb-mobile .link-wrap li.link-section .depth1 a:after{display:block;content:'';position:absolute;top:calc(50% - 12px);right:16px;width:24px;height:24px;background:url('../images/icons/btn-arr-48-black.svg') no-repeat 50% 50%;background-size:contain;transition:all ease .5s;transform:rotate(180deg);}
	.mega-gnb-mobile .link-wrap li.link-section .depth1.active a:after{transform:rotate(0deg);}
	.mega-gnb-mobile .link-wrap li.link-section .depth2{display:none;}
	.mega-gnb-mobile .link-wrap li.link-section .depth2 > ul{padding-bottom:14px;}
	.mega-gnb-mobile .link-wrap li.link-section .depth2 a{display:block;position:relative;width:100%;height:50px;font-size:14px;font-weight:500;line-height:50px;padding:0 16px;}
	.mega-gnb-mobile .link-wrap li.link-section .depth2 a[target="_blank"]:after{display:inline-block;content:'';width:16px;height:16px;margin-left:3px;background:url('../images/icons/btn-outlink-16.svg') no-repeat 0 0;background-size:contain;vertical-align:-3px;}
	.mega-gnb-mobile .link-wrap li.link-section .depth3 a.depth3-tit{display:block;position:relative;width:100%;height:50px;font-size:14px;font-weight:500;line-height:50px;padding:0 16px;}
	.mega-gnb-mobile .link-wrap li.link-section .depth3 a.depth3-tit:after{display:block;content:'';position:absolute;top:calc(50% - 12px);right:24px;width:24px;height:24px;background-image:url('../images/icons/btn-plus-48.svg');background-repeat:no-repeat;background-position:50% 50%;background-size:contain;transition:all ease 0.5s;}
	.mega-gnb-mobile .link-wrap li.link-section .depth3 a.depth3-tit.active:after{background-image:url('../images/icons/btn-minus-48.svg');}
	.mega-gnb-mobile .link-wrap li.link-section .depth3 ul{display:none;padding:14px 0;background:#f4f4f4;}
	.mega-gnb-mobile .link-wrap li.link-section .depth3 ul a{height:auto;font-size:13px;font-weight:500;color:#666;line-height:21px;padding:10px 28px;}
	.mega-gnb-mobile .direct-link{padding:24px 16px;border-top:12px solid #f4f4f4;}
	.mega-gnb-mobile .direct-link ul{font-size:0;}
	.mega-gnb-mobile .direct-link ul li{display:inline-block;width:50%;font-size:0;padding:8px 0;}
	.mega-gnb-mobile .direct-link ul li a{display:inline-block;font-size:13px;font-weight:500;line-height:21px;}
	.mega-gnb-mobile .direct-link ul li a[target="_blank"]:after{display:inline-block;content:'';width:16px;height:16px;margin-left:3px;background:url('../images/icons/btn-outlink-16.svg') no-repeat 100% 50%;background-size:contain;vertical-align:-4px;}

	.mega-gnb-mobile.active{right:0;}
	.mega-gnb-mobile.active:before{display:block;opacity:1;}
	.mega-gnb-mobile.active .close-gnb{right:0;}

	select.family-site{display:block;}
	footer{padding:16px 0 60px;margin-top:80px;}
	footer .foot-cont .pc-dropdown-wrap{padding-bottom:0;}
	footer .foot-cont .pc-dropdown-wrap .btns{display:none;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap{display:block !important;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section{margin-top:0;border-bottom:1px solid #ddd;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth1{padding:0 16px;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section > .depth1 ~ .depth1{margin-top:0;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth1 a{display:block;position:relative;font-size:13px;font-weight:700;color:#000;line-height:21px;padding:17px 36px 17px 0;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth1 a:after{display:block;content:'';position:absolute;top:calc(50% - 8px);right:0;width:16px;height:16px;background:url('../images/icons/btn-arr-16-black.svg') no-repeat 50% 50%;transform:rotate(90deg);transition:all .3s;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth1.active a:after{transform:rotate(-90deg);}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth2{display:none;padding:0 16px;margin-top:0;border-top:1px solid #ddd;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth2 > ul > li + li{margin-top:0;border-top:1px solid #ddd;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth2 > ul > li > a{display:block;font-size:11px;font-weight:500;color:#000;line-height:19px;padding:12px 0;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth2 li a[target="_blank"]::after{display:none;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 .depth3-tit{display:block;position:relative;line-height:19px;padding:12px 0;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 .depth3-tit:before{display:block;content:'';position:absolute;top:calc(50% - 8px);right:2px;width:16px;height:16px;background:url('../images/icons/btn-plus-16.svg') no-repeat 50% 50%;background-size:100%;transition:all 0.3s;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 .depth3-tit.active:before{transform:rotate(135deg);}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 ul{display:none;padding:16px 0;margin:0;border-top:1px solid #ddd;}
	footer .foot-cont .pc-dropdown-wrap .link-wrap .link-section .depth3 ul li a{display:block;font-size:11px;font-weight:400;color:#767676;line-height:19px;}

	footer .foot-cont .foot-bottom .bottom-head{padding:35px 0 16px;}
	footer .foot-cont .foot-bottom .bottom-head .sns-link{display:block;float:none;clear:both;font-size:0;padding:30px 0 15px;}
	footer .foot-cont .foot-bottom .bottom-head .sns-link > li{display:inline-block;width:calc(100% / 3);text-align:center;padding:20px 0;}
	footer .foot-cont .foot-bottom .bottom-head .sns-link > li a{display:block;}
	footer .foot-cont .foot-bottom .bottom-head .sns-link > li a:before{display:block;margin:0 auto 5px;background-position:50% 50% !important;}
	footer .foot-cont .foot-bottom .bottom-head .sns-link > li + li{margin-left:0;}

	footer .foot-cont .foot-bottom{padding:0 16px 60px;}
	footer .foot-cont .family-site{float:left;width:calc(50% - 5px);}
	footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns{display:block;padding:0;margin:0;}
	footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .slt-btn{display:block;position:relative;width:100%;height:40px;font-size:10.5px;line-height:38px;padding:0 28px 0 12px;border:1px solid #ddd;border-radius:8px;}
	footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .slt-btn::after{position:absolute;top:calc(50% - 8px);right:12px;}
	footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .lists{top:48px;width:100%;}
	footer .kakao-link{display:block;float:right;width:calc(50% - 5px);margin-left:10px;}
	footer .kakao-link a{display:block;width:100%;height:40px;font-size:10px;color:#666;line-height:40px;text-align:center;background:#e6e6e6;border-radius:8px;}
	footer .kakao-link a:before{display:inline-block;content:'';width:20px;height:20px;margin-right:3px;background:url('../images/icons/icon-kakao-ch.svg') no-repeat 50% 50%;background-size:contain;vertical-align:middle;}

	footer .foot-cont .foot-bottom .bottom-body .bottom-link li{width:50%;margin-top:16px;}
	footer .foot-cont .foot-bottom .bottom-body .bottom-link li + li{margin-left:0;}

	footer .foot-cont .foot-bottom .bottom-body .comp-info{padding-right:0;margin-top:24px;}
	footer .foot-cont .foot-bottom .bottom-body .comp-info p + p{margin-top:0;}

	footer .foot-cont .foot-bottom .bottom-body .foot-last{position:static;margin-top:20px;}
	footer .foot-cont .foot-bottom .bottom-body .foot-last .ismsp{padding-left:50px;}
	footer .foot-cont .foot-bottom .bottom-body .foot-last .ismsp::before{left:-6px;}

	footer .foot-cont .foot-bottom{border-top:0 none;}

	.mobile-status-bar{display:block;transition:all 0.1s linear;}

	.floating-block{bottom:94px;right:14px;z-index:1000;}
	.floating-block .top-btn{width:40px;height:40px;background-size:32px 32px;}
	.floating-block .floating-custom-wrap{width:145px;padding-bottom:50px;}
	.floating-block .floating-custom-wrap .main-btn{width:40px;height:40px;}
	.floating-block .floating-custom-wrap .main-btn:before{top:calc(50% - 16px);left:calc(50% - 16px);width:32px;height:32px;}
	.floating-block .service-list a{font-size:13px;line-height:21px;padding:8px 36px 9px 16px;border-radius:28px;}
	.floating-block .service-list a img{top:6px;right:10px;width:24px;height:24px;}
	.floating-block.active .floating-custom-wrap{bottom:50px;}

	.innerLayer .floating-block{bottom:200px;}

	/* calendar custom */
	.calendar .ui-datepicker .ui-datepicker-header{padding:0 0 10px;}
	.calendar .ui-datepicker .ui-datepicker-title{font-size:13px;font-weight:700;line-height:17px;}
	.calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev{top:0;left:calc(50% - 73px);}
	.calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next{top:0;left:calc(50% + 57px);}
	.calendar .ui-state-default,
	.calendar .ui-widget-content .ui-state-default,
	.calendar .ui-widget-header .ui-state-default,
	.calendar .ui-button,
	html .calendar .ui-button.ui-state-disabled:hover,
	html .calendar .ui-button.ui-state-disabled:active{width:24px;height:24px;font-size:11px;line-height:24px;}
	.calendar .ui-datepicker th span{font-size:11px;}
	.calendar .ui-datepicker th,
	.calendar .ui-datepicker td{padding:3px 0;}

    /* slide navi */
    .slide-navi .slide-navi-detail{padding:0 16px;}
    .slide-navi .swiper-pager{padding:5.5px;border-radius:13px;}
    .slide-navi .swiper-pager .slideBtn{width:15px;height:15px;}
    .slide-navi .swiper-pager .pager-fraction{font-size:12px;line-height:15px;}
    .slide-navi .swiper-auto .slideBtn{width:26px;height:26px;}

    /* popup */
    .popup { z-index: 9005; }
    .pop-wrap { padding: 0 16px; }
    .pop-head { padding: 25px 0 9px 0; }
    .tit-pop { line-height: 26px; font-size: 16px; }
    .tit-pop + .txt-pop01 { margin-top: 15px; }
    .txt-pop01 { line-height: 17px; font-size: 13px; }
    .btn-area.m-full-flex { position: relative; left: -16px; margin-top: 48px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; width: calc(100% + 32px); }
    .btn-area.m-full-flex > * + * { margin: 0 !important; }
    .btn-area.m-full-flex > .btn { width: 100%; font-size: 14px; border-radius: 0; }
    .btn-pop-close { top: 25px; right: 13px; width: 26px; height: 26px; background-size: 20px auto; }
    
    /* popup - 모바일 full */
    .popup.m-full .pop-wrap { height: 100%; border-radius: 0; }
    .popup.m-full .pop-cont { height: calc(100% - 62px - 56px) !important; overflow-y: auto; }
    .popup.m-full .btn-area.m-full-flex { position: absolute; bottom: 0; left: 0; margin: 0; width: 100%; }

    /* popup - alert */
    .popup.alert .pop-wrap { padding: 0; width: calc(100% - 44px); }
    .popup.alert .pop-cont { padding: 50px 20px 0 20px; }
    .popup.alert .btn-area.m-full-flex { left: auto; width: auto; }
    .tm-ty01 .block + .block { margin-top: 18px; }
}