@charset "UTF-8";.input-info { margin-top: 48px; } 
@media screen and (max-width: 767px){
 .input-info { margin-top: 40px; } 
 }

.input-info:first-child { margin-top: 0; } 
.input-info .tit-wrap { position: relative; padding-bottom: 24px; } 
.input-info .tit-wrap .tit { display: inline-block; font-size: 20px; line-height: 30px; font-weight: 700; vertical-align: middle; } 
@media screen and (max-width: 767px){
 .input-info .tit-wrap .tit { font-size: 16px; line-height: 24px; } 
 }

.input-info .tit-wrap .tit.size { font-size: 18px; line-height: 28px; } 
@media screen and (max-width: 767px){
 .input-info .tit-wrap .tit.size { font-size: 15px; line-height: 23px; } 
 }

.input-info .tit-wrap .right-btn,.input-info .tit-wrap .right-chk { float: right; } 
.input-info .tit-wrap .agree-chk { float: right; } 
@media screen and (max-width: 767px){
 .input-info .tit-wrap .agree-chk { float: inherit; margin-top: 20px; } 
.input-info .tit-wrap .agree-chk:after { content: ""; display: block; clear: both; } 
 }

.input-info .tit-wrap .agree-chk .radio-btn { margin-left: 64px; } 
@media screen and (max-width: 767px){
 .input-info .tit-wrap .agree-chk .radio-btn { float: left; width: 50%; margin: 0; } 
 }

.input-info .tit-wrap .agree-chk .radio-btn:first-child { margin-left: 0; } 
.input-info .txt-cont { color: #767676; font-size: 14px; line-height: 24px; } 
@media screen and (max-width: 767px){
 .input-info .txt-cont { font-size: 13px; line-height: 21px; } 
 }

.input-info .txt-cont .dl-txt-cont { margin-top: 24px; color: #000; } 
@media screen and (max-width: 767px){
 .input-info .txt-cont .dl-txt-cont { margin-top: 40px; } 
 }

.input-info .txt-cont .dl-txt-cont:first-child { margin-top: 0; } 
.input-info .txt-cont .dl-txt-cont dt { margin-bottom: 16px; font-size: 16px; line-height: 26px; font-weight: 700; } 
@media screen and (max-width: 767px){
 .input-info .txt-cont .dl-txt-cont dt { font-size: 14px; line-height: 22px; } 
 }
@media screen and (max-width: 767px){
 .input-info .txt-cont .dl-txt-cont dt { margin-bottom: 12px; } 
 }

.input-info .txt-cont .dl-txt-cont dd { font-size: 16px; line-height: 26px; } 
@media screen and (max-width: 767px){
 .input-info .txt-cont .dl-txt-cont dd { font-size: 14px; line-height: 22px; } 
 }

.input-info .txt-cont .sub-txt { margin-top: 20px; color: #767676; } 
.form-infos { margin-bottom: 48px; } 
@media screen and (max-width: 767px){
 .form-infos { margin-bottom: 32px; } 
 }

.form-infos p.req { font-size: 14px; line-height: 24px; } 
@media screen and (max-width: 767px){
 .form-infos p.req { font-size: 13px; line-height: 21px; } 
 }

.form-infos p.req::after { content: none; } 
.form-infos p.req::before { content: '*'; display: inline-block; margin-right: 4px; vertical-align: top; color: #EC455A; } 
@media screen and (max-width: 767px){
 .form-infos p.req::before { margin-right: 0; } 
 }

.form-infos .check-box { margin-top: 12px; } 
@media screen and (max-width: 767px){
 .form-infos .check-box { margin-top: 6px; } 
 }

.form-wrap .forms { position: relative; margin-top: 32px; font-size: 0; /* BTOCSITE-98 */ /* //BTOCSITE-98 */ } 
.form-wrap .forms.wide { margin-top: 48px; } 
@media screen and (max-width: 767px){
 .form-wrap .forms.wide { margin-top: 40px; } 
 }

.form-wrap .forms.type2 + .forms.type2 { margin-top: 48px; } 
@media screen and (max-width: 767px){
 .form-wrap .forms.type2 + .forms.type2 { margin-top: 40px; } 
 }

.form-wrap .forms.type4 + .forms.type4 { margin-top: 20px; } 
@media screen and (max-width: 767px){
 .form-wrap .forms.type4 + .forms.type4 { margin-top: 40px; } 
 }

.form-wrap .forms.inner-type { margin-top: 24px; } 
@media screen and (max-width: 767px){
 .form-wrap .forms.inner-type { margin-top: 24px; } 
 }

.form-wrap .forms:first-child { margin-top: 0; } 
.form-wrap .forms.block-type .tit,.form-wrap .forms.block-type .conts { display: block; width: 100%; } 
.form-wrap .forms.block-type .tit { padding-top: 0; } 
@media screen and (max-width: 767px){
 .form-wrap .forms.block-type .select-list-wrap > ul { margin-top: 0; } 
 }

.form-wrap .forms .input-wrap,.form-wrap .forms .select-wrap,.form-wrap .forms .text-form,.form-wrap .forms .box { margin-top: 8px; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .input-wrap, .form-wrap .forms .select-wrap, .form-wrap .forms .text-form, .form-wrap .forms .box { margin-top: 6px; } 
 }

.form-wrap .forms .input-wrap:first-child,.form-wrap .forms .select-wrap:first-child,.form-wrap .forms .text-form:first-child,.form-wrap .forms .box:first-child { margin-top: 0; } 
.form-wrap .forms .contact-box { display: flex; align-items: center; } 
.form-wrap .forms .contact-box .input-wrap { width: calc((100% - 40px) / 3); margin-top: 0; } 
.form-wrap .forms .contact-box .at { float: left; text-align: center; width: 20px; padding: 0 4px; color: #616161; font-size: 16px; line-height: 56px; } 
.form-wrap .forms .btn { min-width: 68px; height: 48px; padding: 11px; border: 1px solid #222; border-radius: 8px; background: #fff; color: #000; font-size: 14px; line-height: 24px; font-weight: 500; white-space: nowrap; } 
.form-wrap .forms .btn span { display: inline-block; vertical-align: top; } 
.form-wrap .forms .btn.disabled, .form-wrap .forms .btn:disabled { border-color: #ddd; background: #f4f4f4; color: #aaa; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .btn { height: 46px; font-size: 13px; line-height: 21px; } 
 }

.form-wrap .forms .btn.bg-type { min-width: initial; height: 38px; padding: 6px 13px; border: 1px solid #767676; border-radius: 24px; background: #767676; color: #fff; font-size: 14px; line-height: 24px; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .btn.bg-type { font-size: 13px; line-height: 21px; } 
 }

.form-wrap .forms .btn.bg-type:disabled { background: #f4f4f4; border-color: #ddd !important; color: #aaa; } 
.form-wrap .forms .btn.bg-type.size { height: 32px; padding: 3px 11px; border-radius: 16px; } 
.form-wrap .forms .btn.bg-type.icon-ars::before { content: ' '; display: inline-block; width: 16px; height: 16px; margin-top: 4px; margin-right: 4px; background: url("../images/icons/icon-phone-32-white.svg") center no-repeat; background-size: 16px 16px; vertical-align: top; } 
.form-wrap .forms .btn.bg-type:disabled.icon-ars::before, .form-wrap .forms .btn.bg-type.disabled.icon-ars::before { background-image: url("../images/icons/icon-phone-32-gray.svg"); } 
.form-wrap .forms .btn.red { background-color: #da0f47; } 
.form-wrap .forms .icon-ars + .icon-ars { margin-left: 20px; } 
.form-wrap .forms .arsAgreeRequestCheck { display: none; } 
.form-wrap .forms:after { content: ""; display: block; clear: both; } 
.form-wrap .forms .tit { position: relative; display: inline-block; width: calc(25% + 24px); padding: 11px 24px 18px 0; font-size: 0; vertical-align: top; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .tit { display: block; width: 100%; padding: 0; } 
 }

.form-wrap .forms .tit label,.form-wrap .forms .tit .label { display: inline-block; color: #000; font-size: 16px; font-weight: 700; line-height: 26px; vertical-align: top; word-break: keep-all; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .tit label, .form-wrap .forms .tit .label { font-size: 14px; line-height: 22px; font-weight: 700; } 
 }

.form-wrap .forms .tit .req::after { content: '*'; display: inline-block; margin-left: 1px; color: #EC455A; font-size: inherit; line-height: inherit; vertical-align: top; } 
.form-wrap .forms .tit .tooltip-wrap { margin-top: 3px; margin-left: 4px; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .tit .tooltip-wrap { margin-top: 0; } 
 }

.form-wrap .forms .tit .right-btn { float: right; } 
.form-wrap .forms .tit.type2 { display: block; width: auto; } 
.form-wrap .forms .tit.type2 span { font-size: 16px; line-height: 26px; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .tit.type2 span { font-size: 14px; line-height: 22px; } 
 }

.form-wrap .forms .conts { position: relative; display: inline-block; width: calc(100% - (25% + 24px)); vertical-align: top; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .conts { display: block; width: 100%; margin-top: 6px; } 
 }

.form-wrap .forms .conts .input-wrap { display: block; } 
.form-wrap .forms .conts .select-wrap { max-width: 100%; } 
.form-wrap .forms .conts .input-box-wrap { display: table; width: 100%; } 
.form-wrap .forms .conts .input-box-wrap .input-box { display: table-cell; margin: 0; white-space: nowrap; } 
.form-wrap .forms .conts .input-box-wrap .input-box.rdo-btn-wrap { padding-right: 34px; } 
.form-wrap .forms .conts .input-box-wrap.addr-box { margin-top: 12px; } 
.form-wrap .forms .conts .input-box-wrap.addr-box .input-box { width: 50%; padding-right: 0; } 
.form-wrap .forms .conts .input-box-wrap.addr-box .input-box + .input-box { padding-left: 16px; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .conts .input-box-wrap.addr-box .input-box { display: block; width: 100%; } 
.form-wrap .forms .conts .input-box-wrap.addr-box .input-box + .input-box { margin-top: 16px; padding-left: 0; } 
 }

.form-wrap .forms .conts .select-list-wrap { margin-bottom: 16px; } 
.form-wrap .forms .conts .select-list-wrap:last-child { margin-bottom: 0; } 
.form-wrap .forms .conts .add-box { margin-top: 16px; } 
.form-wrap .forms .conts.cert-phone .complete-text { right: 187px; } 
.form-wrap .forms .conts.right { text-align: right; } 
.form-wrap .forms .conts .check-box.bottom { margin-top: 16px; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .conts .check-box.bottom { margin-top: 12px; } 
 }

.form-wrap .forms .conts .tabs-wrap ~ .bullet-list { margin: 8px 24px 0; } 
.form-wrap .forms.inner-type .tit { display: block; width: 100%; margin-bottom: 8px; } 
.form-wrap .forms.inner-type .tit label,.form-wrap .forms.inner-type .tit .label { font-weight: 700; font-size: 16px; line-height: 26px; } 
@media screen and (max-width: 767px){
 .form-wrap .forms.inner-type .tit label, .form-wrap .forms.inner-type .tit .label { font-size: 14px; line-height: 22px; } 
 }

.form-wrap .forms.inner-type .conts { display: block; width: 100%; } 
.form-wrap .forms.type2 .tit, .form-wrap .forms.type4 .tit { padding: 0 24px 0 0; } 
@media screen and (min-width: 768px){
 .form-wrap .forms.type2 .select-list-wrap > ul > li:first-child, .form-wrap .forms.type4 .select-list-wrap > ul > li:first-child { padding-left: 0; } 
 }

.form-wrap .forms.type3 .tit { display: block; width: 100%; padding: 0 0 12px 0; } 
.form-wrap .forms.type3 .conts { display: block; width: 100%; } 
@media screen and (min-width: 768px){
 .form-wrap .forms.type3 .select-list-wrap li:first-child { padding-left: 0; } 
 }

.form-wrap .forms .box { position: relative; display: table; width: 100%; } 
.form-wrap .forms .box > .input-wrap,.form-wrap .forms .box > .select-wrap { display: table-cell; } 
.form-wrap .forms .box .cell { display: table-cell; width: 1%; padding-left: 8px; vertical-align: top; } 
.form-wrap .forms .box .cell:first-child { padding: 0 8px 0 0; } 
.form-wrap .forms .box .cell.wide { width: 10%; padding-left: 0; padding-right: 0; } 
.form-wrap .forms .box .cell.wide + .wide { padding-left: 8px; } 
.form-wrap .forms .box .cell.middle { vertical-align: middle; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .box .cell { padding-left: 6px; } 
.form-wrap .forms .box .cell:first-child { padding: 0 6px 0 0; } 
 }

.form-wrap .forms .box .cell.text { padding-right: 20px; font-size: 16px; line-height: 26px; vertical-align: middle; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .box .cell.text { font-size: 14px; line-height: 22px; } 
 }

.form-wrap .forms .box .cell.text-middle { font-size: 16px; padding: 0 8px; text-align: center; vertical-align: middle; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .box .cell.text-middle { padding: 0 6px; } 
 }
@media screen and (max-width: 767px){
 .form-wrap .forms .box.type2 { display: block; } 
.form-wrap .forms .box.type2 > .input-wrap, .form-wrap .forms .box.type2 > .select-wrap { display: block; } 
.form-wrap .forms .box.type2 > .cell { display: block; width: 100%; margin-top: 6px; padding-left: 0; text-align: right; } 
.form-wrap .forms .box.type2 + .btm-more { position: absolute; bottom: 13px; left: 0; max-width: calc(100% - 120px); margin-top: 0; } 
.form-wrap .forms .box.type2 + .btm-more.err-address-install { position: static; margin-top: 8px; } 
.form-wrap .forms .box.type2 .comp { position: absolute; top: 52px; left: 0; margin-top: 0; } 
 }

.form-wrap .forms .input-wrap .box .cell { padding-left: 0; } 
@media screen and (min-width: 768px){
 .form-wrap .forms .address-box { position: relative; display: table; width: 100%; padding-right: 87px; } 
.form-wrap .forms .address-box .box { position: static; display: table-cell; width: 91px; } 
.form-wrap .forms .address-box .input-wrap { display: table-cell; padding-left: 8px; } 
.form-wrap .forms .address-box .input-wrap.zip-code { padding-left: 0; } 
.form-wrap .forms .address-box .cell { position: absolute; top: 0; right: 0; display: block; width: 79px; padding-left: 0; } 
 }

.form-wrap .forms .date-select-box .cell { padding-left: 0; } 
.form-wrap .forms .date-select-box .cell:last-child .text { padding-right: 0; } 
.form-wrap .forms .date-select-box .text { display: table-cell; padding-left: 8px; padding-right: 20px; font-size: 16px; line-height: 26px; vertical-align: middle; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .date-select-box .text { font-size: 14px; line-height: 22px; } 
 }
@media screen and (min-width: 768px){
 .form-wrap .forms .date-select-box.col-2 { padding-right: calc( 33.33% - -10px); } 
 }

.form-wrap .forms .birth-date-box { font-size: 0; white-space: nowrap; } 
.form-wrap .forms .birth-date-box .input-wrap,.form-wrap .forms .birth-date-box .cell { display: inline-block; vertical-align: top; } 
.form-wrap .forms .birth-date-box > .input-wrap { width: 210px; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .birth-date-box > .input-wrap { width: 50%; } 
 }

.form-wrap .forms .birth-date-box .cell::after { content: '······'; display: inline-block; margin-left: 5px; color: #000; font-size: 40px; line-height: 48px; letter-spacing: 3px; vertical-align: top; } 
.form-wrap .forms .birth-date-box .cell .input-wrap { width: auto; } 
.form-wrap .forms .birth-date-box .cell .input-wrap input { width: 41px; padding: 10px 0; text-align: center; } 
.form-wrap .forms .card-num-box { font-size: 0; padding: 0 11px; border: 1px solid #ddd; border-radius: 8px; } 
.form-wrap .forms .card-num-box .input-wrap { display: inline-block; margin: 0; vertical-align: top; } 
.form-wrap .forms .card-num-box .input-wrap input { width: auto; border: none; padding: 10px 0; text-align: center; } 
.form-wrap .forms .card-num-box .input-wrap::before { content: '-'; display: inline-block; margin: 0 4px; padding: 10px 0; font-size: 16px; line-height: 26px; vertical-align: top; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .card-num-box .input-wrap::before { font-size: 14px; line-height: 22px; } 
 }

.form-wrap .forms .card-num-box .input-wrap:first-child::before { display: none; } 
.form-wrap .forms .bank-input-box { margin-top: 8px; } 
.form-wrap .forms .bank-input-box:first-child { margin-top: 0; } 
.form-wrap .forms .bank-input-box:after { content: ""; display: block; clear: both; } 
.form-wrap .forms .bank-input-box .select-wrap { float: left; width: calc((100% - 8px) / 2); } 
@media screen and (max-width: 767px){
 .form-wrap .forms .bank-input-box .select-wrap { float: none; width: 100%; } 
 }

.form-wrap .forms .bank-input-box .box { float: right; width: calc((100% - 8px) / 2); margin: 0; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .bank-input-box .box { float: none; width: 100%; margin-top: 6px; } 
 }

.form-wrap .forms .datepicker { width: calc((100% - 8px) / 2); } 
@media screen and (max-width: 767px){
 .form-wrap .forms .datepicker { width: 100%; } 
 }

.form-wrap .forms .bullet-list { margin-top: 12px; } 
.form-wrap .forms .bullet-list.bgGray { margin-top: 0; } 
.form-wrap .forms .bullet-list.top-border { margin-top: 48px; } 
.form-wrap .forms .btm-more { display: block; margin-top: 8px; } 
.form-wrap .forms .btm-more .btn-text { font-size: 14px; line-height: 20px; } 
.form-wrap .forms .btm-more .discount-txt { color: #EC455A; font-weight: 500; font-size: 14px; line-height: 24px; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .btm-more .discount-txt { font-size: 13px; line-height: 21px; } 
 }

.form-wrap .forms .btm-more.right { text-align: right; } 
.form-wrap .forms .btm-more.both:after { content: ""; display: block; clear: both; } 
.form-wrap .forms .btm-more.both *:first-child { float: left; } 
.form-wrap .forms .btm-more.both *:last-child { float: right; } 
.form-wrap .forms .btm-more.err-block { display: none; } 
.form-wrap .forms .gray-box { margin-top: 16px; padding: 24px; border-radius: 8px; background: #f4f4f4; } 
.form-wrap .forms .gray-box:first-child { margin-top: 0; } 
@media screen and (max-width: 767px){
 .form-wrap .forms .gray-box { padding: 20px 12px; } 
 }

.agree-wrap .agree-tit { margin-bottom: 16px; } 
.agree-wrap .agree-tit .tit { font-size: 16px; line-height: 26px; font-weight: 700; } 
@media screen and (max-width: 767px){
 .agree-wrap .agree-tit .tit { font-size: 14px; line-height: 22px; } 
 }

.agree-wrap .agree-tit .tit.req::after { content: '*'; display: inline-block; margin-left: 1px; color: #EC455A; font-size: inherit; line-height: inherit; vertical-align: top; } 
@media screen and (max-width: 767px){
 .agree-wrap { margin-bottom: 12px; } 
 }

.agree-cont-wrap .agree-input { padding: 16px 24px; border: 1px solid #ddd; border-top: 0; border-radius: 0 0 8px 8px; } 
@media screen and (max-width: 767px){
 .agree-cont-wrap .agree-input { padding: 12px 16px; } 
 }

.agree-cont-wrap .agree-cont-box { height: auto; max-height: 88px; overflow-y: auto; padding: 24px 24px 24px 24px; color: #767676; font-size: 14px; line-height: 24px; font-weight: 500; border: 1px solid #ddd; border-radius: 8px 8px 0 0; } 
@media screen and (max-width: 767px){
 .agree-cont-wrap .agree-cont-box { font-size: 13px; line-height: 21px; } 
 }
@media screen and (max-width: 767px){
 .agree-cont-wrap .agree-cont-box { max-height: 94px; padding: 12px 16px; } 
 }

.agree-cont-wrap .btm-more { margin-top: 4px; } 
.agree-cont-wrap .btm-more.err-block { display: none; } 
.agree-all-chk { font-weight: 700; } 
.agree-all-chk .desc { margin-left: 12px; font-weight: 400; } 
@media screen and (max-width: 767px){
 .agree-all-chk .desc { display: block; margin: 6px 0 0; } 
 }

.agree-all-chk + .input-info { margin-top: 32px; } 
.form-sections { margin-top: 80px; } 
@media screen and (max-width: 767px){
 .form-sections { margin-top: 60px; } 
 }

.form-sections.type2 { margin-top: 48px; } 
@media screen and (max-width: 767px){
 .form-sections.type2 { margin-top: 40px; } 
 }

.form-sections:first-child { margin-top: 0; } 
.form-sections .sect-tit { position: relative; margin-bottom: 24px; font-size: 0; } 
@media screen and (max-width: 767px){
 .form-sections .sect-tit { margin-bottom: 20px; } 
 }

.form-sections .sect-tit .tit { display: inline-block; vertical-align: top; color: #000; font-size: 20px; line-height: 30px; font-weight: 700; } 
@media screen and (max-width: 767px){
 .form-sections .sect-tit .tit { font-size: 16px; line-height: 24px; } 
 }
@media screen and (max-width: 767px){
 .form-sections .sect-tit .tit { font-size: 18px; line-height: 24px; } 
 }

.form-sections .sect-tit .tooltip-wrap { margin-top: 3px; margin-left: 4px; } 
.form-sections .agree-all-chk { margin-top: 16px; } 
.form-sections .agree-all-chk + .input-info { margin-top: 32px; } 
.input-wrap { display: inline-block; vertical-align: top; } 
.input-wrap input, .input-wrap textarea { display: inline-block; width: 100%; border: 1px solid #ddd; border-radius: 8px; color: #000; font-size: 16px; line-height: 26px; vertical-align: top; resize: none; } 
@media screen and (max-width: 767px){
 .input-wrap input, .input-wrap textarea { font-size: 14px; line-height: 22px; } 
 }

.input-wrap input::-webkit-input-placeholder, .input-wrap input:-moz-placeholder, .input-wrap input:-ms-input-placeholder, .input-wrap textarea::-webkit-input-placeholder, .input-wrap textarea:-moz-placeholder, .input-wrap textarea:-ms-input-placeholder { color: #767676; } 
.input-wrap input::placeholder, .input-wrap textarea::placeholder { color: #767676; opacity: 1; } 
.input-wrap input:focus, .input-wrap textarea:focus { outline: none; border-color: #EC455A; } 
.input-wrap input:disabled, .input-wrap input.disabled, .input-wrap input:read-only, .input-wrap textarea:disabled, .input-wrap textarea.disabled, .input-wrap textarea:read-only { background: #ededed; border-color: #ededed; } 
.input-wrap input:disabled::placeholder, .input-wrap input.disabled::placeholder, .input-wrap input:read-only::placeholder, .input-wrap textarea:disabled::placeholder, .input-wrap textarea.disabled::placeholder, .input-wrap textarea:read-only::placeholder { color: #aaa; } 
.input-wrap input { height: 48px; padding: 10px 15px; } 
.input-wrap input[type=number]::-webkit-outer-spin-button, .input-wrap input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; } 
@media screen and (max-width: 767px){
 .input-wrap input { height: 46px; padding: 11px; } 
 }

.input-wrap textarea { height: 120px; padding: 15px; } 
@media screen and (max-width: 767px){
 .input-wrap textarea { height: 130px; padding: 11px; } 
 }

.input-wrap .box { display: table; margin: 0; } 
.input-wrap .box input { display: table-cell; border-right: none; border-radius: 8px 0 0 8px; } 
.input-wrap .box .cell { display: table-cell; padding: 0 15px 0 0; border: 1px solid #ddd; border-left: none; border-radius: 0 8px 8px 0; vertical-align: middle; } 
.input-wrap .box input:focus + .cell { border-color: #EC455A; } 
.input-wrap .box input:disabled + .cell,.input-wrap .box input:read-only + .cell { background: #ededed; border-color: #ededed; } 
.input-wrap .comp { margin-top: 4px; color: #76892d; font-size: 14px; line-height: 24px; font-weight: 500; white-space: nowrap; } 
@media screen and (max-width: 767px){
 .input-wrap .comp { font-size: 13px; line-height: 21px; } 
 }

.input-wrap .comp::before { content: ' '; display: inline-block; width: 20px; height: 20px; margin-top: 2px; margin-right: 2px; background: url("../images/icons/icon-comp.svg") center no-repeat; vertical-align: top; } 
@media screen and (max-width: 767px){
 .input-wrap .comp::before { margin-top: 1px; } 
 }

.input-wrap .link { margin-top: 8px; } 
.input-wrap.block { display: block; } 
.input-wrap.count { position: relative; } 
.input-wrap.count .total { display: block; margin-top: 8px; color: #aaa; font-size: 14px; line-height: 24px; font-weight: 500; text-align: right; } 
@media screen and (max-width: 767px){
 .input-wrap.count .total { font-size: 13px; line-height: 21px; } 
 }

.input-wrap.count .total em { color: #000; font-size: inherit; line-height: inherit; } 
.input-wrap.count textarea { height: 160px; } 
.input-wrap.count .err-msg { position: absolute; left: 0; bottom: 0; } 
.input-wrap.datepicker { position: relative; } 
.input-wrap.datepicker .box .cell { vertical-align: middle; } 
.input-wrap.datepicker input,.input-wrap.datepicker input:read-only { border-color: #ddd; background: transparent; } 
.input-wrap.datepicker input:read-only + .cell,.input-wrap.datepicker input:disabled + .cell { border-color: #ddd; background: transparent; } 
.input-wrap.datepicker button.ui_calendar { display: inline-block; width: 24px; height: 24px; border: none; background: url("../images/icons/icon-cal.svg") center no-repeat; background-size: 24px; vertical-align: middle; } 
.input-wrap.datepicker input.selected + .cell button.ui_calendar { background: url("../images/icons/icon-cal-selected.svg") center no-repeat; } 
.input-wrap.datepicker.disabled input,.input-wrap.datepicker.disabled input:read-only { border-color: #ededed; background: #ededed; } 
.input-wrap.datepicker.disabled input:read-only + .cell,.input-wrap.datepicker.disabled input:disabled + .cell { border-color: #ededed; background: #ededed; } 
.input-wrap.search { position: relative; } 
.input-wrap.search input[type=text] { padding-right: 80px; } 
.input-wrap.search .btn-delete { display: none; position: absolute; top: 50%; right: 54px; width: 20px; height: 20px; margin-top: -10px; background: url("../images/icons/icon-delete-20.svg") no-repeat 0 0; } 
.input-wrap.search .btn-search { position: absolute; top: 0; right: 0; width: 54px; height: 48px; background: center/20px 20px url(../images/icons/icon-search-20.svg) no-repeat; } 
.input-wrap.error .total { border-color: #f00; } 
.input-wrap.error input, .input-wrap.error textarea { border-color: #f00; } 
.input-wrap.error input:focus + .total, .input-wrap.error textarea:focus + .total { border-color: #f00; } 
.input-wrap.error input:read-only + .cell, .input-wrap.error textarea:read-only + .cell { border-color: #f00; } 
.input-wrap.error .cell { border-color: #f00; } 
.input-wrap.info { position: relative; } 
.input-wrap.info .info-msg { margin-top: 8px; color: #808080; font-size: 14px; line-height: 20px; vertical-align: top; } 
.input-wrap.info .info-msg-top { position: absolute; top: -28px; right: 0; font-size: 14px; line-height: 20px; color: #ec455a; } 
@media screen and (min-width: 768px){
 .input-wrap.info.phone .info-msg-top { right: 187px; } 
 }

.text-form { position: relative; } 
.text-form textarea { height: 120px; padding: 12px 16px 8px; border-bottom: 0; border-radius: 8px 8px 0 0; } 
.text-form textarea:focus + .inner-text { outline: none; border-color: #EC455A; } 
.text-form textarea:disabled + .inner-text,.text-form textarea:read-only + .inner-text { background: #ededed; border-color: #ededed; } 
.text-form textarea:disabled + .inner-text::placeholder,.text-form textarea:read-only + .inner-text::placeholder { color: #aaa; } 
.text-form textarea + .inner-text { display: inline-block; width: 100%; padding: 0 16px 8px; border: 1px solid #ddd; border-top: 0; border-radius: 0 0 8px 8px; vertical-align: top; font-size: 14px; line-height: 24px; text-align: right; } 
@media screen and (max-width: 767px){
 .text-form textarea + .inner-text { font-size: 13px; line-height: 21px; } 
 }

.text-form input[type=text] { padding-right: 100px; } 
.text-form input[type=text] + .inner-text { position: absolute; right: 24px; top: 50%; transform: translateY(-50%); font-size: 14px; line-height: 24px; } 
@media screen and (max-width: 767px){
 .text-form input[type=text] + .inner-text { font-size: 13px; line-height: 21px; } 
 }

.err-msg { padding-left: 24px; color: #f00; font-size: 14px; line-height: 24px; text-indent: -24px; vertical-align: top; } 
@media screen and (max-width: 767px){
 .err-msg { font-size: 13px; line-height: 21px; } 
 }

.err-msg::before { content: ' '; display: inline-block; width: 20px; height: 20px; margin: 3px 4px 0 0; background: url("../images/icons/icon-error.svg") center no-repeat; vertical-align: top; } 
@media screen and (max-width: 767px){
 .err-msg::before { margin-top: 1px; } 
 }

.input-mix-wrap { display: block; margin-top: 8px; border: 1px solid #ddd; border-radius: 8px; background: #fff; } 
@media screen and (max-width: 767px){
 .input-mix-wrap { margin-top: 6px; } 
 }

.input-mix-wrap:first-child { margin-top: 0; } 
.input-mix-wrap .mix-input { display: table; width: 100%; padding: 15px 23px; } 
.input-mix-wrap .mix-input .check-box.bold label { font-weight: 700; } 
.input-mix-wrap .mix-input .check-box,.input-mix-wrap .mix-input .cell { display: table-cell; vertical-align: middle; } 
.input-mix-wrap .mix-input .cell { text-align: right; } 
@media screen and (max-width: 767px){
 .input-mix-wrap .mix-input { display: block; padding: 16px; } 
.input-mix-wrap .mix-input .check-box, .input-mix-wrap .mix-input .cell { display: block; } 
.input-mix-wrap .mix-input .cell { margin-top: 8px; padding-left: 30px; text-align: left; } 
 }

.input-mix-wrap .mix-cont { border-top: 1px solid #ddd; padding: 11px 23px 15px; } 
.input-mix-wrap .mix-cont .desc { color: #666; font-size: 14px; line-height: 24px; font-weight: 500; } 
@media screen and (max-width: 767px){
 .input-mix-wrap .mix-cont .desc { font-size: 13px; line-height: 21px; } 
 }

.input-mix-wrap .mix-cont .desc em { color: #da0f47; } 
.input-mix-wrap .mix-cont .btn-wrap { margin-top: 12px; } 
@media screen and (max-width: 767px){
 .input-mix-wrap .mix-cont .btn-wrap { margin-top: 12px !important; padding: 0 !important; background: transparent !important; } 
 }

.input-mix-wrap .mix-cont .gray-box { margin-bottom: 7px; } 
@media screen and (max-width: 767px){
 .input-mix-wrap .mix-cont .gray-box { margin-bottom: 0; } 
 }

.input-mix-wrap .mix-cont:first-child { padding: 15px 23px; } 
@media screen and (max-width: 767px){
 .input-mix-wrap .mix-cont { padding: 16px; } 
 }

.input-mix-wrap.cell-type { display: table; width: 100%; padding: 0; } 
.input-mix-wrap.cell-type .check-box { display: table-cell; padding: 15px 0 15px 23px; white-space: nowrap; } 
.input-mix-wrap.cell-type .input-wrap { display: table-cell; } 
.input-mix-wrap.cell-type .input-wrap input { border: none; text-align: right; color: #e51346; } 
.input-mix-wrap.cell-type .input-wrap input:focus { box-shadow: none; } 
.file-box .file-input { display: block; position: relative; width: calc(50% - 4px); } 
.file-box .file-input .file-label { display: block; padding: 11px 90px 11px 24px; border: 1px solid #ddd; border-radius: 8px; font-size: 16px; line-height: 24px; color: #adadad; } 
.file-box .file-input label { padding-right: 28px; font-size: 16px; color: #ec455a; line-height: 1.5; cursor: pointer; } 
.file-box .file-input input[type=file] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; } 
@media screen and (max-width: 767px){
 .file-box .file-input { width: 100%; } 
 }

.file-box .file-lists li { position: relative; margin-top: 8px; padding: 16px 24px; padding-right: 72px; border-radius: 8px; background: #f4f4f4; } 
.file-box .file-lists li .file-name { display: block; overflow: hidden; text-overflow: ellipsis; font-size: 16px; line-height: 24px; color: #000; white-space: nowrap; word-break: keep-all; } 
.file-box .file-lists li .btn-del { position: absolute; top: 50%; right: 26px; width: 20px; height: 20px; margin-top: -10px; background: #616161; border-radius: 50%; } 
.file-box .file-lists li .btn-del::before, .file-box .file-lists li .btn-del::after { content: ' '; position: absolute; top: 50%; left: 50%; width: 12px; height: 2px; margin-left: -6px; margin-top: -1px; background: #fafafa; } 
.file-box .file-lists li .btn-del::before { transform: rotate(45deg); } 
.file-box .file-lists li .btn-del::after { transform: rotate(-45deg); } 
.quantity-wrap .select-quantity .inner { display: inline-block; border: 1px solid #ddd; border-radius: 6px; font-size: 0; } 
.quantity-wrap .select-quantity .minus,.quantity-wrap .select-quantity .plus { position: relative; width: 32px; height: 32px; background: #fff no-repeat center center; } 
.quantity-wrap .select-quantity .minus.minus,.quantity-wrap .select-quantity .plus.minus { border-radius: 6px 0 0 6px; background-image: url("../images/icons/btn-minus-16.svg"); } 
.quantity-wrap .select-quantity .minus.plus,.quantity-wrap .select-quantity .plus.plus { border-radius: 0 6px 6px 0; background-image: url("../images/icons/btn-plus-16.svg"); } 
.quantity-wrap .select-quantity .minus.disabled, .quantity-wrap .select-quantity .minus:disabled,.quantity-wrap .select-quantity .plus.disabled,.quantity-wrap .select-quantity .plus:disabled { cursor: default; } 
.quantity-wrap .select-quantity .minus.disabled.minus, .quantity-wrap .select-quantity .minus:disabled.minus,.quantity-wrap .select-quantity .plus.disabled.minus,.quantity-wrap .select-quantity .plus:disabled.minus { background-image: url("../images/icons/btn-minus-16-gray.svg"); } 
.quantity-wrap .select-quantity .minus.disabled.plus, .quantity-wrap .select-quantity .minus:disabled.plus,.quantity-wrap .select-quantity .plus.disabled.plus,.quantity-wrap .select-quantity .plus:disabled.plus { background-image: url("../images/icons/btn-plus-16-gray.svg"); } 
.quantity-wrap .select-quantity .quantity { width: 40px; height: 32px; border-right: 1px solid #ddd; border-left: 1px solid #ddd; background-color: #fff; font-weight: 700; font-size: 14px; line-height: 24px; text-align: center; } 
@media screen and (max-width: 767px){
 .quantity-wrap .select-quantity .quantity { font-size: 13px; line-height: 21px; } 
 }

.quantity-wrap .select-quantity .quantity::-webkit-outer-spin-button, .quantity-wrap .select-quantity .quantity::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; } 
.check-box { position: relative; display: inline-block; } 
.check-box input { position: absolute; width: 100%; height: 100%; border: none; background: transparent; } 
.check-box input::-ms-check { display: none; } 
.check-box input + label { position: relative; display: inline-block; padding-left: 30px; color: #000; font-size: 16px; line-height: 26px; vertical-align: top; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; } 
@media screen and (max-width: 767px){
 .check-box input + label { font-size: 13px; line-height: 22px; } 
 }

.check-box input + label br.mob-only { display: none; } 
@media screen and (max-width: 767px){
 .check-box input + label br.mob-only { display: block; } 
 }

.check-box input + label::after { content: ' '; position: absolute; top: 1px; left: 0; width: 24px; height: 24px; background: no-repeat center center; background-size: 100%; } 
@media screen and (max-width: 767px){
 .check-box input + label::after { top: -1px; } 
 }

.check-box input + label::after { background-image: url("../images/icons/btn-checkbox-off-48.svg"); } 
.check-box input + label strong { display: block; } 
.check-box input:checked + label::after { background-image: url("../images/icons/btn-checkbox-on-48.svg"); } 
.check-box input:disabled + label { color: #aaa; cursor: default; } 
.check-box input:disabled + label::after { background-image: url("../images/icons/btn-checkbox-disabled-48.svg"); } 
.check-box.chk-sm input + label { padding-left: 24px; font-size: 14px; line-height: 24px; } 
@media screen and (max-width: 767px){
 .check-box.chk-sm input + label { font-size: 13px; line-height: 21px; } 
 }

.check-box.chk-sm input + label::after { top: 4px; width: 16px; height: 16px; } 
@media screen and (max-width: 767px){
 .check-box.chk-sm input + label::after { top: 3px; } 
 }

.check-box.btn-type:first-child label { border-radius: 8px 0 0 8px; } 
.check-box.btn-type:last-child label { border-radius: 0 8px 8px 0; } 
.radio-btn { position: relative; display: inline-block; } 
.radio-btn input { position: absolute; width: 100%; height: 100%; border: none; background: transparent; } 
.radio-btn input::-ms-check { display: none; } 
.radio-btn input + label { position: relative; display: inline-block; padding-left: 30px; color: #000; font-size: 16px; line-height: 26px; vertical-align: top; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; } 
@media screen and (max-width: 767px){
 .radio-btn input + label { font-size: 14px; line-height: 22px; } 
 }

.radio-btn input + label br.mob-only { display: none; } 
@media screen and (max-width: 767px){
 .radio-btn input + label br.mob-only { display: block; } 
 }

.radio-btn input + label::after { content: ' '; position: absolute; top: 1px; left: 0; width: 24px; height: 24px; background: no-repeat center center; background-size: 100%; } 
@media screen and (max-width: 767px){
 .radio-btn input + label::after { top: -1px; } 
 }

.radio-btn input + label::after { background-image: url("../images/icons/btn-radio-off-48.svg"); } 
.radio-btn input + label strong { display: block; } 
.radio-btn input:checked + label::after { background-image: url("../images/icons/btn-radio-on-48.svg"); } 
.radio-btn input:disabled + label { color: #aaa; cursor: default; } 
.radio-btn input:disabled + label::after { background-image: url("../images/icons/btn-radio-disabled-48.svg"); } 
.radio-btn.btn-type:first-child label { border-radius: 8px 0 0 8px; } 
.radio-btn.btn-type:last-child label { border-radius: 0 8px 8px 0; } 
.radio-btn.btn-type input + label { position: relative; min-width: 82px; margin-left: -1px; padding: 11px 16px; border: 1px solid #ddd; background: #fff; color: #666; font-size: 14px; line-height: 24px; text-align: center; font-weight: 500; } 
@media screen and (max-width: 767px){
 .radio-btn.btn-type input + label { font-size: 13px; line-height: 21px; } 
 }

.radio-btn.btn-type input + label::after { display: none; } 
.radio-btn.btn-type input:checked + label { z-index: 1; border-color: #da0f47; color: #da0f47; } 
.radio-btn.btn-type input:disabled + label { background: #f4f4f4; opacity: 0.5; } 
.radio-btn.btn-type2 input + label { position: relative; width: 78px; padding: 12px 0; border-radius: 8px; border: solid 1px #ddd; text-align: center; } 
.radio-btn.btn-type2 input + label:after { display: none; } 
@media screen and (max-width: 767px){
 .radio-btn.btn-type2 input + label { border-radius: 4px; font-size: 14px; line-height: 18px; } 
 }

.radio-btn.btn-type2 input:checked + label { color: #ec455a; border: 2px solid #ec455a; background-color: transparent; } 
.radio-btn.btn-type3 input + label { display: block; position: relative; height: 74px; padding: 11px 32px; line-height: 52px; border-radius: 8px; text-align: center; box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.14); } 
.radio-btn.btn-type3 input + label:before, .radio-btn.btn-type3 input + label:after { display: none; } 
.radio-btn.btn-type3 input + label span { display: inline-block; font-size: 16px; font-weight: 500; line-height: 26px; } 
@media screen and (max-width: 767px){
 .radio-btn.btn-type3 input + label:checked + label span { font-size: 14px; line-height: 18px; } 
 }

.radio-btn.btn-type3 input:checked + label { color: #ec455a; } 
.radio-btn.btn-type3 input:checked + label:after { content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: 2px solid #ec455a; border-radius: 8px; background-color: transparent; } 
.radio-btn.box-type input + label { display: block; padding: 16px 16px 16px 46px; border: 1px solid #ddd; border-radius: 8px; } 
.radio-btn.box-type input + label::after { top: 17px; left: 15px; } 
@media screen and (max-width: 767px){
 .radio-btn.box-type input + label { border-radius: 4px; font-size: 14px; line-height: 18px; } 
.radio-btn.box-type input + label:after { top: 13px; left: 16px; } 
 }

.radio-btn.box-type input:checked + label { border-color: #ec455a; } 
.select-list-wrap > ul { font-size: 0; margin-top: -32px; } 
@media screen and (max-width: 767px){
 .select-list-wrap > ul { margin-top: -16px; margin-left: -12px; } 
 }

.select-list-wrap > ul > li { display: inline-block; width: 25%; margin-top: 32px; padding-left: 32px; vertical-align: top; } 
@media screen and (max-width: 767px){
 .select-list-wrap > ul > li { width: 50%; margin-top: 16px; padding-left: 16px; } 
 }

.select-list-wrap.w-auto > ul li { width: auto; } 
.select-list-wrap.payment-method > ul { margin-top: -20px; } 
.select-list-wrap.payment-method > ul > li { margin-top: 20px; padding-left: 0; } 
.select-list-wrap.payment-method .tab-panel { margin-top: 16px; border-radius: 8px; background-color: #f4f4f4; } 
@media screen and (max-width: 767px){
 .select-list-wrap.payment-method > ul { margin-top: -16px; margin-left: 0; } 
.select-list-wrap.payment-method > ul > li { margin-top: 16px; padding-left: 0; } 
.select-list-wrap.payment-method .tab-panel { padding: 24px 20px; } 
 }

.select-list-wrap.type2 { padding-top: 32px; } 
.select-list-wrap.type2 li { margin: 0 0 16px 0; } 
.check-box-colorchip { position: relative; display: inline-block; } 
.check-box-colorchip input { position: absolute; width: 100%; height: 100%; border: none; background: transparent; } 
.check-box-colorchip input::-ms-check { display: none; } 
.check-box-colorchip input + label { position: relative; display: inline-block; padding-left: 32px; color: #000; font-size: 16px; line-height: 24px; vertical-align: top; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; } 
.check-box-colorchip input + label::before { content: ' '; position: absolute; top: 3px; left: 3px; width: 18px; height: 18px; border: 1px solid #ddd; border-radius: 50%; } 
.check-box-colorchip input + label::after { content: ' '; position: absolute; top: 0; left: 0; width: 24px; height: 24px; border: 1px solid #fff; border-radius: 50%; } 
.check-box-colorchip input:checked + label::after { border-color: #ccc; } 
.check-box-colorchip input:disabled + label { color: #aaa; } 
.check-box-colorchip input:disabled + label::before { background: #aaa; border-color: transparent; } 
.chk-wish-wrap { position: relative; display: inline-block; } 
.chk-wish-wrap input { position: absolute; width: 100%; height: 100%; border: none; background: transparent; } 
.chk-wish-wrap input::-ms-check { display: none; } 
.chk-wish-wrap input + label { position: relative; display: inline-block; width: 24px; height: 24px; vertical-align: top; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; } 
.chk-wish-wrap input + label:before { position: absolute; top: 0; left: 0; width: 24px; height: 24px; border: 0; border-radius: 0; background: url("../images/icons/btn-like-off-32.svg") no-repeat 0 0; background-size: 24px 24px; content: ''; } 
.chk-wish-wrap input:checked + label:before { background-image: url("../images/icons/btn-like-on-32.svg"); } 
.chk-wish-wrap input:disabled + label { cursor: default; } 
.chk-wish-wrap input:disabled + label:before { background-image: url("../images/icons/btn-like-32-gray.svg"); } 
.chk-wish-wrap.large input + label { width: 32px; height: 32px; } 
.chk-wish-wrap.large input + label:before { width: 32px; height: 32px; background-size: 32px 32px; } 
.bookmark-wrap .txt { font-size: 16px; line-height: 24px; vertical-align: middle; } 
@media screen and (max-width: 767px){
 .bookmark-wrap .txt { font-size: 14px; line-height: 26px; } 
 }

.chk-bookmark-wrap { display: inline-block; position: relative; vertical-align: middle; } 
.chk-bookmark-wrap input { position: absolute; width: 100%; height: 100%; border: none; background: transparent; } 
.chk-bookmark-wrap input::-ms-check { display: none; } 
.chk-bookmark-wrap input + label { display: inline-block; position: relative; width: 24px; height: 24px; vertical-align: top; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; } 
.chk-bookmark-wrap input + label:before { position: absolute; top: 0; left: 0; width: 24px; height: 24px; border: 0; border-radius: 0; background: url("../images/icons/icon-marking-off-24.svg") no-repeat 0 0; background-size: 24px 24px; content: ''; } 
.chk-bookmark-wrap input:checked + label:before { background-image: url("../images/icons/icon-marking-on-24.svg"); } 
.select-wrap { display: inline-block; position: relative; width: 100%; } 
.select-wrap.block { display: block; max-width: 100%; } 
.select-wrap select { position: absolute; z-index: 10; } 
@media screen and (max-width: 767px){
 .select-wrap { display: block; max-width: 100%; } 
 }

.select-wrap .ui-selectbox-wrap { display: block; position: relative; } 
.select-wrap .ui-selectbox-wrap .ui-select-button { display: block; position: relative; padding: 10px 15px; padding-right: 47px; border: 1px solid #ddd; border-radius: 8px; background: #fff; } 
@media screen and (max-width: 767px){
 .select-wrap .ui-selectbox-wrap .ui-select-button { padding: 11px; padding-right: 35px; } 
 }

.select-wrap .ui-selectbox-wrap .ui-select-button .ui-select-text { display: inline-block; overflow: hidden; max-width: 100%; color: #000; font-size: 16px; line-height: 26px; text-overflow: ellipsis; white-space: nowrap; word-break: break-all; vertical-align: top; } 
@media screen and (max-width: 767px){
 .select-wrap .ui-selectbox-wrap .ui-select-button .ui-select-text { font-size: 14px; line-height: 22px; } 
 }

.select-wrap .ui-selectbox-wrap .ui-select-button.placeholder .ui-select-text { color: #767676; } 
.select-wrap .ui-selectbox-wrap .ui-select-button .ico { position: absolute; top: 50%; right: 16px; width: 16px; height: 16px; margin-top: -8px; background: url("../images/icons/btn-down-16-black.svg") no-repeat 0 0; transition: all 0.3s; } 
@media screen and (max-width: 767px){
 .select-wrap .ui-selectbox-wrap .ui-select-button .ico { right: 19px; } 
 }

.select-wrap .ui-selectbox-wrap.on .ui-select-button { border-radius: 8px 8px 0 0; border-color: #222; border-bottom-color: transparent; } 
.select-wrap .ui-selectbox-wrap.on .ui-select-button .ico { transform: rotate(180deg); } 
.select-wrap .ui-selectbox-wrap.on.type_up .ui-selectbox-list { border: 1px solid #222; border-bottom: none; border-radius: 8px 8px 0 0; } 
.select-wrap .ui-selectbox-wrap.on.type_up .ui-select-button { border: 1px solid #222; border-top: none; border-radius: 0 0 8px 8px; } 
.select-wrap .ui-selectbox-wrap .ui-selectbox-list { position: absolute; top: 47px; right: 0; left: 0; overflow: hidden; border: 1px solid #222; border-top: none; border-radius: 0 0 8px 8px; background: #fff; z-index: 3; } 
.select-wrap .ui-selectbox-wrap .ui-selectbox-list .ui-select-scrollarea { max-height: 220px; overflow-y: auto; } 
.select-wrap .ui-selectbox-wrap .ui-selectbox-list .ui-select-scroll { display: none !important; } 
.select-wrap .ui-selectbox-wrap .ui-selectbox-list ul li a { display: block; overflow: hidden; padding: 11px 15px; color: #767676; font-size: 16px; line-height: 26px; white-space: nowrap; word-break: break-all; text-overflow: ellipsis; } 
@media screen and (max-width: 767px){
 .select-wrap .ui-selectbox-wrap .ui-selectbox-list ul li a { font-size: 14px; line-height: 22px; } 
 }

.select-wrap .ui-selectbox-wrap .ui-selectbox-list ul li a:hover { color: #000; background: #f4f4f4; } 
.select-wrap .ui-selectbox-wrap .ui-selectbox-list ul li.on a { color: #000; background: #f4f4f4; } 
.select-wrap .ui-selectbox-wrap.disabled .ui-select-button { border-color: #ededed; background: #ededed; cursor: default; } 
.select-wrap .ui-selectbox-wrap.disabled .ui-select-button .ui-select-text { color: #aaa; } 
.select-wrap .ui-selectbox-wrap.disabled .ui-select-button .ico { background-image: url("../images/icons/btn-down-16-gray.svg"); } 
.select-wrap .ui-selectbox-wrap.disabled .ui-selectbox-list { display: none; } 
.sort-select-wrap { display: inline-block; position: relative; width: auto; } 
.sort-select-wrap.block { display: block; max-width: 100%; } 
.sort-select-wrap select { position: absolute; z-index: 10; } 
.sort-select-wrap .ui-selectbox-wrap { display: block; position: relative; text-align: left; } 
.sort-select-wrap .ui-selectbox-wrap .ui-select-button { display: block; position: relative; padding: 0 20px 0 0; } 
@media screen and (max-width: 767px) { /* .sort-select-wrap .ui-selectbox-wrap .ui-select-button { padding-right: 28px; } */}
.sort-select-wrap .ui-selectbox-wrap .ui-select-button .ui-select-text { display: inline-block; overflow: hidden; max-width: 100%; color: #000; font-size: 14px; line-height: 24px; text-overflow: ellipsis; white-space: nowrap; word-break: break-all; vertical-align: top; } 
@media screen and (max-width: 767px){
 .sort-select-wrap .ui-selectbox-wrap .ui-select-button .ui-select-text { font-size: 13px; line-height: 21px; } 
 }

.sort-select-wrap .ui-selectbox-wrap .ui-select-button.placeholder .ui-select-text { color: #808080; } 
.sort-select-wrap .ui-selectbox-wrap .ui-select-button .ico { position: absolute; top: 50%; right: 0; width: 16px; height: 16px; margin-top: -8px; background: url("../images/icons/btn-down-16-black.svg") no-repeat; transition: all 0.1s; } 
.sort-select-wrap .ui-selectbox-wrap.on .ui-select-button .ico { transform: rotate(180deg); } 
.sort-select-wrap .ui-selectbox-wrap .ui-selectbox-list { position: absolute; top: 34px; left: 50%; overflow: hidden; padding: 4px 0; border-radius: 4px; background: #fff; box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15); transform: translateX(-50%); z-index: 89; } 
.sort-select-wrap .ui-selectbox-wrap .ui-selectbox-list ul li a { display: block; overflow: hidden; padding: 8px 27px; border-radius: 4px; color: #000; font-size: 14px; line-height: 24px; white-space: nowrap; word-break: break-all; text-overflow: ellipsis; text-align: center; } 
@media screen and (max-width: 767px){
 .sort-select-wrap .ui-selectbox-wrap .ui-selectbox-list ul li a { font-size: 13px; line-height: 21px; } 
 }

.sort-select-wrap .ui-selectbox-wrap .ui-selectbox-list ul li.on a { background: #f4f4f4; } 
.sort-select-wrap .ui-selectbox-wrap.disabled .ui-selectbox-list { display: none; } 
.star-rating-wrap .ui-rating-wrap > a { display: inline-block; width: 24px; height: 24px; font-size: 0; vertical-align: middle; background: url("../images/icons/icon-star-off-24.svg") no-repeat; background-size: 100%; } 
.star-rating-wrap .ui-rating-wrap > a + a { margin-left: 4px; } 
.star-rating-wrap .ui-rating-wrap > a.on { background-image: url("../images/icons/icon-star-on-24.svg"); } 
.star-rating-wrap .ui-rating-wrap .ui-select-label { display: inline-block; margin-left: 8px; font-size: 16px; line-height: 26px; vertical-align: middle; } 
@media screen and (max-width: 767px){
 .star-rating-wrap .ui-rating-wrap .ui-select-label { font-size: 14px; line-height: 22px; } 
 }

.star-rating-wrap .rating-box { font-size: 0; } 
.star-rating-wrap .rating-box .ui-rating-wrap { display: inline-block; vertical-align: middle; } 
.star-rating-wrap .rating-box .rating-info { display: inline-block; margin-left: 16px; font-size: 16px; line-height: 26px; vertical-align: middle; } 
@media screen and (max-width: 767px){
 .star-rating-wrap .rating-box .rating-info { font-size: 14px; line-height: 22px; } 
 }

.ui-calendar-container { position: absolute; top: 60px; left: 0; background: #fff; width: 360px; padding: 0; border-radius: 8px; box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.14); overflow: hidden; z-index: 9999; } 
@media screen and (max-width: 767px){
 .ui-calendar-container { top: 54px; width: 100%; } 
 }

.ui-calendar-container .ui-calendar-header-second { position: relative; padding: 24px 64px; background: #767676; text-align: center; } 
@media screen and (max-width: 767px){
 .ui-calendar-container .ui-calendar-header-second { padding: 16px 58px; } 
 }

.ui-calendar-container .ui-calendar-header-second > a { position: absolute; top: 50%; margin-top: -16px; font-size: 0; } 
@media screen and (max-width: 767px){
 .ui-calendar-container .ui-calendar-header-second > a { margin-top: -12px; } 
 }

.ui-calendar-container .ui-calendar-header-second > a::before { content: ' '; display: block; width: 32px; height: 32px; background: url("../images/icons/btn-arrow-right-wt-32.svg"); background-size: 32px; } 
@media screen and (max-width: 767px){
 .ui-calendar-container .ui-calendar-header-second > a::before { width: 24px; height: 24px; background-size: 24px; } 
 }

.ui-calendar-container .ui-calendar-header-second > a.ui-calendar-prev { left: 32px; width: 32px; height: 32px; -webkit-transform: translate3d(0, 0, 0); overflow: hidden; } 
@media screen and (max-width: 767px){
 .ui-calendar-container .ui-calendar-header-second > a.ui-calendar-prev { left: 34px; width: 24px; height: 24px; } 
 }

.ui-calendar-container .ui-calendar-header-second > a.ui-calendar-prev::before { transform: rotate(180deg); } 
.ui-calendar-container .ui-calendar-header-second > a.ui-calendar-next { right: 32px; width: 32px; height: 32px; overflow: hidden; } 
@media screen and (max-width: 767px){
 .ui-calendar-container .ui-calendar-header-second > a.ui-calendar-next { right: 34px; width: 24px; height: 24px; } 
 }

.ui-calendar-container .ui-calendar-header-second > a.disabled { cursor: default; opacity: 0.5; } 
.ui-calendar-container .ui-calendar-header-second .ui-calendar-now { color: #fff; font-size: 20px; line-height: 30px; font-weight: 700; } 
@media screen and (max-width: 767px){
 .ui-calendar-container .ui-calendar-header-second .ui-calendar-now { font-size: 16px; line-height: 24px; } 
 }

.ui-calendar-container .ui-calendar-header-second .ui-calendar-now .year::after { content: '.'; display: inline-block; } 
.ui-calendar-container .ui-calendar-date { padding: 32px 32px 40px; } 
@media screen and (max-width: 767px){
 .ui-calendar-container .ui-calendar-date { padding: 20px 34px; } 
 }

.ui-calendar-container .ui-calendar-date .ui-calendar-table { table-layout: fixed; width: calc(100% + 12px); margin: 0 -6px; text-align: center; } 
@media screen and (max-width: 767px){
 .ui-calendar-container .ui-calendar-date .ui-calendar-table { width: calc(100% + 6px); margin: 0 -3px; } 
 }

.ui-calendar-container .ui-calendar-date .ui-calendar-table th { height: 32px; padding: 0; color: #767676; font-size: 14px; line-height: 24px; font-weight: 500; } 
@media screen and (max-width: 767px){
 .ui-calendar-container .ui-calendar-date .ui-calendar-table th { font-size: 13px; line-height: 21px; } 
 }
@media screen and (max-width: 767px){
 .ui-calendar-container .ui-calendar-date .ui-calendar-table th { padding: 7px 0; } 
 }

.ui-calendar-container .ui-calendar-date .ui-calendar-table tbody .ui-calendar-cell { padding: 6px; } 
@media screen and (max-width: 767px){
 .ui-calendar-container .ui-calendar-date .ui-calendar-table tbody .ui-calendar-cell { padding: 3px; } 
 }

.ui-calendar-container .ui-calendar-date .ui-calendar-table tbody .ui-calendar-cell .ui-calendar-day { display: inline-block; width: 32px; height: 32px; border-radius: 50%; background: transparent; color: #000; font-size: 14px; line-height: 24px; font-weight: 500; vertical-align: top; } 
@media screen and (max-width: 767px){
 .ui-calendar-container .ui-calendar-date .ui-calendar-table tbody .ui-calendar-cell .ui-calendar-day { font-size: 13px; line-height: 21px; } 
 }

.ui-calendar-container .ui-calendar-date .ui-calendar-table tbody .ui-calendar-cell .ui-calendar-day.disabled { color: #aaa; } 
.ui-calendar-container .ui-calendar-date .ui-calendar-table tbody .ui-calendar-cell.ui-calendar-active .ui-calendar-day { background: #e51346; color: #fff; font-weight: 700; } 
.err-block { display: none; } /* button */.btn-group { margin: 64px auto 0; } 
@media screen and (max-width: 767px){
 .btn-group { margin-top: 32px; padding: 0 16px; } 
 }
@media screen and (max-width: 767px){
 .btn-group.bestshop { margin: 0 !important; padding: 0 !important; } 
 }

.btn-delete { position: absolute; top: 50%; right: 54px; width: 20px; height: 20px; margin-top: -10px; background: url("../images/icons/icon-delete-20.svg") no-repeat 0 0; } 
@media screen and (max-width: 767px){
 .btn-delete { right: 68px; } 
 }

.btn-search { position: absolute; top: 0; right: 0; width: 54px; height: 48px; background: center/20px 20px url(../images/icons/icon-search-20.svg) no-repeat; } 
@media screen and (max-width: 767px){
 .btn-search { width: 68px; height: 46px; } 
 }

.image-file-wrap:after { content: ""; display: block; clear: both; } 
.image-file-wrap .file-item { float: left; width: 93px; } 
.image-file-wrap .file-item .file-image { position: relative; margin-bottom: 10px; } 
.image-file-wrap .file-item .file-image .file-preview { overflow: hidden; width: 93px; height: 93px; text-align: center; border: 1px solid #ddd; border-radius: 8px; background: url(../images/icons/icon-no-image.svg) no-repeat; background-size: 100%; } 
.image-file-wrap .file-item .file-image .file-preview:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; } 
.image-file-wrap .file-item .file-image .file-preview img { max-width: 100%; max-height: 100%; } 
.image-file-wrap .file-item .file-image .file-btns { position: absolute; bottom: -8px; right: -8px; } 
.image-file-wrap .file-item .file-image .file-btns .btn-upload { display: block; width: 24px; height: 24px; border-radius: 50%; background: url(../images/icons/btn-imgadd-24.svg) no-repeat; cursor: pointer; } 
.image-file-wrap .file-item .file-image .file-btns input[type="file"]:focus + .btn-upload { outline: 1px solid #000; } 
.image-file-wrap .file-item .file-image .file-btns .btn-file-del,.image-file-wrap .file-item .file-image .file-btns .btn-del { display: none; width: 24px; height: 24px; border-radius: 50%; background: url(../images/icons/btn-imgdelet-24.svg) no-repeat; } 
.image-file-wrap .file-item .file-image .file-btns input[type="file"] { position: absolute; z-index: -10; width: 0 !important; height: 0 !important; overflow: hidden !important; font-size: medium; line-height: normal; word-break: break-all; } 
.image-file-wrap .file-item .file-name .name { display: block; width: 100%; text-align: center; color: #000; font-size: 14px; line-height: 24px; background: transparent; } 
.image-file-wrap .file-item .file-name .name::placeholder { color: #000; } 
.image-file-wrap .file-item.on .file-preview { background: none; } 
.image-file-wrap .file-item.on .file-btns .btn-upload { display: none; } 
.image-file-wrap .file-item.on .file-btns .btn-del { display: block; } 
.image-file-wrap .file-item + .file-item { margin-left: 24px; } 


.list-sorting { padding: 50px 0 12px; } 
.list-sorting:after { content: ""; display: block; clear: both; } 
@media screen and (max-width: 767px){
 .list-sorting {  padding:21px 0 25px; } 
 }

 .list-sorting .check-box input + label {  font-size: 14px; padding-left: 28px;}
  @media screen and (max-width: 767px){
  .list-sorting .check-box input + label { font-size: 13px; line-height: 22px;}
  }



.list-sorting .check-soldout { float: right; margin-right: 40px; } 
@media screen and (max-width: 767px){
 .list-sorting .check-soldout { position: absolute; top: 76px; left: 0; } 
 .list-sorting .check-soldout .check-box input + label { font-size: 14px; } 
 }
.list-sorting .sort-area { float: right; } 
.list-sorting .sort-area.left { float: left; } 
.list-sorting .sort-area .sort-list { font-size: 0; } 
.list-sorting .sort-area .sort-list .sort-select-wrap { margin-left: 34px; } 

@media screen and (max-width: 767px){
 .list-sorting .sort-area .sort-list .sort-select-wrap { margin-left: 12px; } 
 }
.list-sorting .sort-area .sort-list .sort-select-wrap:first-child { margin-left: 0; } 
.list-sorting .list-count { float: left; font-weight: 700; font-size: 14px; line-height: 24px; } 

@media screen and (max-width: 767px){
 .list-sorting .list-count { font-size: 13px; line-height: 21px; } 
 }
.list-sorting .sort-tit { font-size: 14px; line-height: 24px; color: #000; font-weight: 700; } 
@media screen and (max-width: 767px){
 .list-sorting .sort-tit { font-size: 13px; line-height: 21px; } 
 }

