@charset "UTF-8";

/* 사이트맵 */
.sitemap .inner {padding-bottom:104px}
.sitemap .inner .title {padding:16px 0 64px; background:#fff; color:#000; font-size:24px; font-weight:700; line-height:34px; text-align:center}
.sitemap .inner > ul {max-width:calc(1147px + 80px); margin:0 auto; padding:0 40px}

/* cluster layout */
@media screen and (min-width:992px) {
  .sitemap .inner > ul .category-cluster {width:100%; margin-top:80px}
  .sitemap .inner > ul .category-cluster:first-child {margin-top:0}
  .sitemap .inner > ul .category-cluster .category-column {display:flex; flex-wrap:wrap; width:100%}
  .sitemap .inner > ul .category-cluster .category-column > li {width:25%; margin-top:38px}
  .sitemap .inner > ul .category-cluster .category-depth.mgt {margin-top:-82px}
}
@media screen and (max-width:991px) {
  .sitemap .inner > ul .category-cluster {margin-top:80px; font-size:0}
  .sitemap .inner > ul .category-cluster .category-column {display:block; width:100%; margin-top:24px; vertical-align:top}
  .sitemap .inner > ul .category-cluster .category-column > li {margin-top:32px}
  .sitemap .inner > ul .category-cluster .category-column > li:first-child {margin-top:24px}
}

/* depth style */
.sitemap .inner > ul .category-cluster .level-1 {padding-bottom:12px; border-bottom:2px solid #222}
.sitemap .inner > ul .category-cluster .level-1 h2 * {display:inline-block; color:#000; font-size:22px; line-height:32px; font-weight:700; vertical-align:top}
.sitemap .inner > ul .category-cluster .level-2 h3 * {display:inline-block; color:#000; font-size:16px; font-weight:700; line-height:26px; vertical-align:top}
.sitemap .inner > ul .category-cluster .level-3 {margin-top:18px}
.sitemap .inner > ul .category-cluster .level-3 * {color:#000; font-size:16px; line-height:26px; vertical-align:top}
.sitemap .inner > ul .category-cluster .level-3 li + li {margin-top:12px}
.sitemap .inner > ul .category-cluster .category-depth.level-2 a[target="_blank"] {position:relative; padding-right:20px}
.sitemap .inner > ul .category-cluster .category-depth.level-2 a[target="_blank"]::after {content:''; display:block; position:absolute; top:0; right:0; bottom:0; width:16px; margin-left:4px; vertical-align:top; background:url(../images/icons/btn-outlink-16.svg) no-repeat right center}
.sitemap .inner > ul .category-cluster .category-depth {padding-right:12px}

/* mobile */
@media screen and (max-width:767px) {
  .sitemap .inner {padding-bottom:0}
  .sitemap .inner .title {padding:4px 0 32px; line-height:33px}
  .sitemap .inner > ul {padding:0}
  .sitemap .inner > ul .category-cluster {margin-top:0; border-top:12px solid #f4f4f4; padding:32px 16px 55px}
  .sitemap .inner > ul .category-cluster:first-child {border-top:none}
  .sitemap .inner > ul .category-cluster .level-1 {padding-bottom:16px}
  .sitemap .inner > ul .category-cluster .level-1 h2 * {font-size:18px; line-height:26px}
  .sitemap .inner > ul .category-cluster .level-2 h3 * {font-size:14px; line-height:22px}
  .sitemap .inner > ul .category-cluster .level-3 * {font-size:14px; line-height:22px}
  .sitemap .inner > ul .category-cluster .level-3 li + li {margin-top:8px}
}
/* // 사이트맵 */

/* 방문상담예약 */
/* 상단 공통 영역 */
.res-main .top-wrap .guide-area {background-image:linear-gradient(104deg,#ddd5f9,#ffccd8 100%)}
.res-main .top-wrap .guide-area .guide-process {padding:30px 0}
.res-main .top-wrap .guide-area .guide-process .inner {max-width:1460px; margin:0 auto; padding:0 40px}
.res-main .top-wrap .guide-area .guide-process .desc {margin-top:30px; font-size:24px; font-weight:bold; line-height:36px}
.res-main .top-wrap .guide-area .guide-process .box-area {display:flex; justify-content:space-between; margin-top:30px; white-space:nowrap; overflow-x:auto}
.res-main .top-wrap .guide-area .guide-process .box-area li {width:20%; max-width:250px; padding:23px 0 28px; box-sizing:border-box; border:3px solid #ca9bd8; border-radius:16px; background-color:#fff}
.res-main .top-wrap .guide-area .guide-process .box-area li + li {position:relative}
.res-main .top-wrap .guide-area .guide-process .box-area li + li::before {content:''; display:block; position:absolute; width:32.5px; height:20px; top:calc(50% - 10px); left:-35.5px; background:url(../images/icons/icon-arr-11-white.svg) no-repeat center}
.res-main .top-wrap .guide-area .guide-process .box-area li .icon-wrap {display:block; width:140px; height:140px; margin:0 auto; border-radius:50%; background-color:#fbf5ff}
.res-main .top-wrap .guide-area .guide-process .box-area li .icon-wrap i[class^="icon"] {display:block; width:100%; height:100%}
.res-main .top-wrap .guide-area .guide-process .box-area li .icon-wrap .icon01 {background:url(../images/icons/icon-res-guide-01.svg) no-repeat center}
.res-main .top-wrap .guide-area .guide-process .box-area li .icon-wrap .icon02 {background:url(../images/icons/icon-res-guide-02.svg) no-repeat center}
.res-main .top-wrap .guide-area .guide-process .box-area li .icon-wrap .icon03 {background:url(../images/icons/icon-res-guide-03.svg) no-repeat center}
.res-main .top-wrap .guide-area .guide-process .box-area li .icon-wrap .icon04 {background:url(../images/icons/icon-res-guide-04.svg) no-repeat center}
.res-main .top-wrap .guide-area .guide-process .box-area li .icon-wrap .icon05 {background:url(../images/icons/icon-res-guide-05.svg) no-repeat center}
.res-main .top-wrap .guide-area .guide-process .box-area li .txt {margin-top:19px; font-size:16px; line-height:24px; text-align:center}
.res-main .top-wrap .guide-area .guide-benefits {background-color:rgba(255,255,255,0.3)}
.res-main .top-wrap .guide-area .guide-benefits .inner {max-width:1460px; margin:0 auto; padding: 0 40px}
.res-main .top-wrap .guide-area .guide-benefits .list-area {display:flex; justify-content:space-between; align-items:center; padding:20px 0}
.res-main .top-wrap .guide-area .guide-benefits .list-area .tit {width:250px; font-size:16px; font-weight:bold; line-height:24px}
.res-main .top-wrap .guide-area .guide-benefits .list-area .cont {display:flex; width:calc(100% - 250px); margin-left:33px}
.res-main .top-wrap .guide-area .guide-benefits .list-area .cont li {display:flex; align-items:center; width:33.3333%; max-width:336px; margin-left:29px}
.res-main .top-wrap .guide-area .guide-benefits .list-area .cont li i[class^="icon"] {display:block; width:64px; height:64px}
.res-main .top-wrap .guide-area .guide-benefits .list-area .cont li .icon01 {background:url(../images/icons/icon-res-benefits-01.svg) no-repeat center}
.res-main .top-wrap .guide-area .guide-benefits .list-area .cont li .icon02 {background:url(../images/icons/icon-res-benefits-02.svg) no-repeat center}
.res-main .top-wrap .guide-area .guide-benefits .list-area .cont li .icon03 {background:url(../images/icons/icon-res-benefits-03.svg) no-repeat center}
.res-main .top-wrap .guide-area .guide-benefits .list-area .cont li .txt {margin-left:12px; font-size:16px; line-height:24px}
.res-main .top-wrap .guide-area .guide-benefits .list-area .cont li .txt strong {display:block; font-weight:bold}

.res-main .top-wrap .add-area {max-width:1460px; margin:40px auto}
.res-main .top-wrap .add-area .res-banner-01 {padding:0 40px}
.res-main .top-wrap .add-area .res-banner-01 .swiper-slide > [class^="banner"] {display:flex; align-items:center; width:100%; height:200px; padding:0 86px; }
.res-main .top-wrap .add-area .res-banner-01 .swiper-slide > .banner01 {background:url(../images/img-res-banner-01.png) no-repeat center}
.res-main .top-wrap .add-area .res-banner-01 .swiper-slide > .banner02 {background:url(../images/img-res-banner-01.png) no-repeat center}
.res-main .top-wrap .add-area .res-banner-01 .swiper-slide > [class^="banner"] .boxs {width:100%}
.res-main .top-wrap .add-area .res-banner-01 .swiper-slide > [class^="banner"] .boxs > a {display:block; width:100%}
.res-main .top-wrap .add-area .res-banner-01 .swiper-slide > [class^="banner"] .boxs .tit {font-size:28px; font-weight:bold; line-height:36px}
.res-main .top-wrap .add-area .res-banner-01 .swiper-slide > [class^="banner"] .boxs .desc {margin-top:18px; font-size:12px; line-height:20px}
.res-main .top-wrap .add-area .res-banner-01 .banner-btns {position:absolute; width:100%; height:40px; top:50%; left:50%; transform:translate(-50%,-50%); z-index:10}
.res-main .top-wrap .add-area .res-banner-01 .banner-btns [class^="swiper-button"] {width:40px; height:40px; top:0; margin-top:0; border-radius:50%; background-color:#fff; box-shadow:2px 2px 6px 0 rgba(0, 0, 0, 0.16)}
.res-main .top-wrap .add-area .res-banner-01 .banner-btns [class^="swiper-button"]::after {width:100%; height:100%; font-size:0; background:url(../images/icons/icon-carousel-btn.svg) no-repeat center}
.res-main .top-wrap .add-area .res-banner-01 .banner-btns .swiper-button-prev {left:20px}
.res-main .top-wrap .add-area .res-banner-01 .banner-btns .swiper-button-next {right:20px}
.res-main .top-wrap .add-area .res-banner-01 .banner-btns .swiper-button-next::after {transform:rotate(180deg)}

.res-main .cont-wrap .progress-area {margin:40px auto 0; padding:40px}
.res-main .cont-wrap .progress-area ul {display:flex; justify-content:center}
.res-main .cont-wrap .progress-area ul li {position:relative; width:33.3333%; max-width:290px; padding-top:28px}
.res-main .cont-wrap .progress-area ul li::before {content:''; display:block; position:absolute; width:8px; height:8px; top:6px; left:calc(50% - 4px); border-radius:50%; background-color:#aaa}
.res-main .cont-wrap .progress-area ul li.active::before {width:20px; height:20px; top:0; left:calc(50% - 10px); border:6px solid #000; background-color:#fff}
.res-main .cont-wrap .progress-area ul li::after {content:''; display:block; position:absolute; width:100%; height:1px; top:10px; left:-50%; border-top:1px dashed #aaa; z-index:-1}
.res-main .cont-wrap .progress-area ul li:first-child:after {display:none}
.res-main .cont-wrap .progress-area ul li.active::after {border-color:#000}
.res-main .cont-wrap .progress-area ul li p {color:#999; font-size:14px; font-weight:500; line-height:20px; text-align:center}
.res-main .cont-wrap .progress-area ul li.active p {color:#000}

/* 컨텐츠 영역 */
/* step 1 */
.res-main .cont-wrap .cont-area {padding:0 40px}
.res-main .cont-wrap .cont-area .step-area {display:none}
.res-main .cont-wrap .cont-area .step-area.active {display:block}
.res-main .cont-wrap .cont-area .step-area .select-area {display:none}
.res-main .cont-wrap .cont-area .step-area .select-area.active {display:block}
.res-main .cont-wrap .cont-area .step-area .result-area {display:none}
.res-main .cont-wrap .cont-area .step-area .result-area.active {display:block}
.res-main .cont-wrap .cont-area .step-area .btn-area {display:none; margin-top:20px; margin-bottom:50px; text-align:center}
.res-main .cont-wrap .cont-area .step-area .btn-area.active {display:block}
.res-main .cont-wrap .cont-area .step-area .btn-area .btn {min-width:158px}
.res-main .cont-wrap .cont-area .step-area .btn-area.bg {padding:30px 0; background-color:#f6f6f6; border-radius:8px}
.res-main .cont-wrap .cont-area .step-area .btn-area.bg.active {background-image:linear-gradient(98deg, #9a7fed 1%, #ff6489 100%, #ff6489 100%)}
.res-main .cont-wrap .cont-area .step-area .btn-area.bg .result-txt {font-size:20px; line-height:32px}
.res-main .cont-wrap .cont-area .step-area .btn-area.bg.active .result-txt {color:#fff}
.res-main .cont-wrap .cont-area .step-area .btn-area.bg > .btn {margin-top:30px}
.res-main .cont-wrap .cont-area .step-area .btn-area.bg.active > .btn {margin-top:30px; background-color:#fff; color:#000}

.res-main .cont-wrap .cont-area .step-tit {display:flex; align-items:center; margin-bottom:16px; font-size:20px; font-weight:bold; line-height:32px}
.res-main .cont-wrap .cont-area .step-tit > span {display:block; margin-left:3px; font-size:16px; font-weight:500}
.res-main .cont-wrap .cont-area .step-tit ~ .step-tit {margin-top:50px}

.res-main .cont-wrap .cont-area .step-area {border-top:1px solid #707070}
.res-main .cont-wrap .cont-area .step-area .select-area {padding:20px 0}
.res-main .input-area > ul {display:flex}
.res-main .input-area ul.icon-type > li {flex:1}
.res-main .input-area ul.icon-type > li + li {margin-left:15px}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 {width:100%}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 label {display:flex; justify-content:center; align-items:center; width:100%; height:80px; border-radius:28px; font-size:18px; font-weight:500; line-height:27px}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 input:checked + label {border:2px solid #da0f47; color:#da0f47}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 .icon {display:block; width:48px; height:48px; margin-right:8px}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 .icon.wedding {background:url(../images/icons/icon-wedding.svg) no-repeat center}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 .icon.move {background:url(../images/icons/icon-move.svg) no-repeat center}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 .icon.interior {background:url(../images/icons/icon-interior.svg) no-repeat center}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 .icon.as {background:url(../images/icons/icon-as.svg) no-repeat center}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 .icon.etc {background:url(../images/icons/icon-etc.svg) no-repeat center}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 input:checked + label .icon.wedding {background:url(../images/icons/icon-wedding_on.svg) no-repeat center}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 input:checked + label .icon.move {background:url(../images/icons/icon-move_on.svg) no-repeat center}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 input:checked + label .icon.interior {background:url(../images/icons/icon-interior_on.svg) no-repeat center}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 input:checked + label .icon.as {background:url(../images/icons/icon-as_on.svg) no-repeat center}
.res-main .input-area ul.icon-type .radio-btn.btn-type2 input:checked + label .icon.etc {background:url(../images/icons/icon-etc_on.svg) no-repeat center}

.res-main .input-area ul.cate-type {display:flex; flex-wrap:wrap; justify-content:space-between; margin-top:-12px}
.res-main .input-area ul.cate-type > li {display:flex; flex-wrap:wrap; justify-content:space-between; align-items:flex-start; width:calc(50% - 6px); margin-top:12px; padding:16px 14px 16px 18px; border-radius:8px; background-color:#fcfcfc}
.res-main .input-area ul.cate-type .cate-tit {display:flex; align-items:center; font-size:16px; line-height:26px}
.res-main .input-area ul.cate-type .cate-tit > .icon {display:block; width:48px; height:48px; margin-right:6px}
.res-main .input-area ul.cate-type .cate-tit > .icon.tv-audio {background:url(../images/icons/icon-tv.svg) no-repeat center}
.res-main .input-area ul.cate-type .cate-tit > .icon.pc {background:url(../images/icons/icon-desktop.svg) no-repeat center}
.res-main .input-area ul.cate-type .cate-tit > .icon.kitchens {background:url(../images/icons/icon-fridge.svg) no-repeat center}
.res-main .input-area ul.cate-type .cate-tit > .icon.house {background:url(../images/icons/icon-washing-machine.svg) no-repeat center}
.res-main .input-area ul.cate-type .cate-tit > .icon.mobile {background:url(../images/icons/icon-mobile.svg) no-repeat center}
.res-main .input-area ul.cate-type .cate-tit > .icon.beauty {background:url(../images/icons/icon-medihair.svg) no-repeat center}
.res-main .input-area ul.cate-type .cate-pdt {display:flex; flex-wrap:wrap; max-width:498px}
.res-main .input-area ul.cate-type ul.cate-pdt {margin-top:-10px}
.res-main .input-area ul.cate-type .cate-pdt > li {width:156px; height:48px; margin-top:10px; margin-right:10px}
.res-main .input-area ul.cate-type .cate-pdt .radio-btn.btn-type2 label {width:100%; height:100%; padding:10px 0; background-color:#fff; border-radius:48px; font-size:16px; font-weight:500; line-height:24px; box-sizing:border-box}
.res-main .input-area ul.cate-type .cate-pdt .radio-btn.btn-type2 input:checked + label {border:1px solid #da0f47; color:#da0f47}

.res-main .input-area ul.base-type > li {flex:1}
.res-main .input-area ul.base-type > li + li {margin-left:12px}
.res-main .input-area ul.base-type .radio-btn.btn-type2 {width:100%}
.res-main .input-area ul.base-type .radio-btn.btn-type2 label {display:flex; justify-content:center; align-items:center; width:100%; height:48px; border-radius:28px; font-size:16px; font-weight:500; line-height:24px}
.res-main .input-area ul.base-type .radio-btn.btn-type2 input:checked + label {border:2px solid #da0f47; color:#da0f47}

.res-main .input-area .text-area textarea {height:140px; padding:26px 24px; border:1px solid #ddd; border-radius:8px; font-size:16px; line-height:24px}
.res-main .input-area .text-area textarea::placeholder {color:#666; font-size:16px}
.res-main .input-area .text-area .info-msg {margin-top:10px; margin-left:10px; color:#777; font-size:14px; line-height:22px}

.res-main .cont-wrap .cont-area .step-area .result-area {padding:22px 0; border-top:1px solid #707070}
.res-main .cont-wrap .cont-area .step-area .result-area.active {border-top:1px solid #ddd}
.res-main .cont-wrap .cont-area .step-area .result-area .info-txt {display:flex}
.res-main .cont-wrap .cont-area .step-area .result-area .info-txt li {position:relative; font-size:18px; line-height:28px}
.res-main .cont-wrap .cont-area .step-area .result-area .info-txt li + li::before {content:'/'; display:inline-block; margin-left:3px; color:#666}
.res-main .cont-wrap .cont-area .step-area .result-area .info-txt li span {display:inline-block; color:#666}
.res-main .cont-wrap .cont-area .step-area .result-area .info-txt li strong {display:inline-block; color:#da0f47; font-weight:bold}

/* step 2 */
.res-main .cont-wrap .cont-area .step-area .view-area {position:relative}
.res-main .cont-wrap .cont-area .step-area .view-area .sort-area {position:absolute; top:0; right:0}
.res-main .cont-wrap .cont-area .step-area .view-area .sort-area button {display:none; padding-left:26px; font-size:16px; line-height:32px}
.res-main .cont-wrap .cont-area .step-area .view-area .sort-area button.active {display:block}
.res-main .cont-wrap .cont-area .step-area .view-area .sort-area button.view-list {background:url(../images/icons/icon-view-list.svg) no-repeat 0 8px}
.res-main .cont-wrap .cont-area .step-area .view-area .sort-area button.view-map {background:url(../images/icons/icon-view-map.svg) no-repeat 0 center}
.res-main .cont-wrap .cont-area .step-area .view-area .map-wrap {display:none; height:300px; border:1px solid #000; border-radius:8px}
.res-main .cont-wrap .cont-area .step-area .view-area .map-wrap.active {display:block}
.res-main .cont-wrap .cont-area .step-area .view-area .list-wrap {display:none; height:300px; border:1px solid #000; border-radius:8px}
.res-main .cont-wrap .cont-area .step-area .view-area .list-wrap.active {display:block}

.res-main .cont-wrap .cont-area .step-area .bottom-area {display:flex; margin-top:12px}
.res-main .cont-wrap .cont-area .step-area .bottom-area .shop-info-wrap {width:60%; max-width:820px; height:386px}
.res-main .cont-wrap .cont-area .step-area .bottom-area .shop-info-wrap .box {height:100%; padding:54px 42px; border:1px solid #ddd; border-radius:8px}
.res-main .cont-wrap .cont-area .step-area .bottom-area .date-wrap {display:flex; width:40%; height:386px; margin-left:12px}
.res-main .cont-wrap .cont-area .step-area .bottom-area .date-wrap .calendar {width:414px; height:100%; border:1px solid #ddd; border-radius:8px}
.res-main .cont-wrap .cont-area .step-area .bottom-area .date-wrap .time {width:118px; margin-left:12px}
.res-main .step-area.step02 .date-wrap .input-area > ul {flex-direction:column; margin-top:-10px}
.res-main .step-area.step02 .date-wrap .input-area > ul li {margin-left:0; margin-top:10px}
.res-main .step-area.step02 .date-wrap .input-area > .base-type .radio-btn.btn-type2 label {height:34px; padding:0; border-radius:8px; font-size:14px; line-height:34px}



/* // 방문상담예약 */