@charset "UTF-8";

/* 사이트맵 */
.sitemap .inner {padding-bottom:104px}
.sitemap .inner .title {padding:16px 0 64px; background:#fff; color:#000; font-size:24px; font-weight:700; line-height:34px; text-align:center}
.sitemap .inner > ul {max-width:calc(1147px + 80px); margin:0 auto; padding:0 40px}

/* cluster layout */
@media screen and (min-width:992px) {
  .sitemap .inner > ul .category-cluster {width:100%; margin-top:80px}
  .sitemap .inner > ul .category-cluster:first-child {margin-top:0}
  .sitemap .inner > ul .category-cluster .category-column {display:flex; flex-wrap:wrap; width:100%}
  .sitemap .inner > ul .category-cluster .category-column > li {width:25%; margin-top:38px}
  .sitemap .inner > ul .category-cluster .category-depth.mgt {margin-top:-82px}
}
@media screen and (max-width:991px) {
  .sitemap .inner > ul .category-cluster {margin-top:80px; font-size:0}
  .sitemap .inner > ul .category-cluster .category-column {display:block; width:100%; margin-top:24px; vertical-align:top}
  .sitemap .inner > ul .category-cluster .category-column > li {margin-top:32px}
  .sitemap .inner > ul .category-cluster .category-column > li:first-child {margin-top:24px}
}

/* depth style */
.sitemap .inner > ul .category-cluster .level-1 {padding-bottom:12px; border-bottom:2px solid #222}
.sitemap .inner > ul .category-cluster .level-1 h2 * {display:inline-block; color:#000; font-size:22px; line-height:32px; font-weight:700; vertical-align:top}
.sitemap .inner > ul .category-cluster .level-2 h3 * {display:inline-block; color:#000; font-size:16px; font-weight:700; line-height:26px; vertical-align:top}
.sitemap .inner > ul .category-cluster .level-3 {margin-top:18px}
.sitemap .inner > ul .category-cluster .level-3 * {color:#000; font-size:16px; line-height:26px; vertical-align:top}
.sitemap .inner > ul .category-cluster .level-3 li + li {margin-top:12px}
.sitemap .inner > ul .category-cluster .category-depth.level-2 a[target="_blank"] {position:relative; padding-right:20px}
.sitemap .inner > ul .category-cluster .category-depth.level-2 a[target="_blank"]::after {content:''; display:block; position:absolute; top:0; right:0; bottom:0; width:16px; margin-left:4px; vertical-align:top; background:url(../images/icons/btn-outlink-16.svg) no-repeat right center}
.sitemap .inner > ul .category-cluster .category-depth {padding-right:12px}

/* mobile */
@media screen and (max-width:767px) {
  .sitemap .inner {padding-bottom:0}
  .sitemap .inner .title {padding:4px 0 32px; line-height:33px}
  .sitemap .inner > ul {padding:0}
  .sitemap .inner > ul .category-cluster {margin-top:0; border-top:12px solid #f4f4f4; padding:32px 16px 55px}
  .sitemap .inner > ul .category-cluster:first-child {border-top:none}
  .sitemap .inner > ul .category-cluster .level-1 {padding-bottom:16px}
  .sitemap .inner > ul .category-cluster .level-1 h2 * {font-size:18px; line-height:26px}
  .sitemap .inner > ul .category-cluster .level-2 h3 * {font-size:14px; line-height:22px}
  .sitemap .inner > ul .category-cluster .level-3 * {font-size:14px; line-height:22px}
  .sitemap .inner > ul .category-cluster .level-3 li + li {margin-top:8px}
}
/* // 사이트맵 */

/* 방문상담예약 */

/* // 방문상담예약 */