@charset "UTF-8"; 

/* main common */
.content-group {padding-top:100px}
.content-group .content-group-tit {text-align:center}
.content-group .content-group-tit h3 {font-size:40px; line-height:60px; letter-spacing:-1px}
.content-group .content-group-tit p {color:#111; font-size:16px; line-height:26px; letter-spacing:-0.8px}
.content-group .content-group-detail {margin-top:34px}
.content-group .btn-area {font-size:0}
.content-group .btn-area .btn {padding:0 23px; white-space:nowrap}

/* Hero Area */
.hero-slide {overflow:hidden; position:relative; width:100%; height:640px}
.hero-slide .content-wrap {overflow:hidden; position:relative; height:100%; background-repeat:no-repeat; background-position:50% 0; background-size:auto 100%}
.hero-slide .content-wrap .img-wrap {position:relative; width:100%; height:100%; overflow:hidden}
.hero-slide .content-wrap .img-wrap > img {position:absolute; width:auto; min-width:100%; height:auto; min-height:100%; left:50%; top:50%; transform:translate(-50%,-50%)}
.hero-slide .content-wrap .hero-tit {position:absolute; top:100px; bottom:120px; left:0; width:100%; z-index:2}
.hero-slide .content-wrap .hero-tit.left {text-align:left}
.hero-slide .content-wrap .hero-tit.center {text-align:center}
.hero-slide .content-wrap .hero-tit.right {text-align:right}
.hero-slide .content-wrap .hero-tit .hero-tit-detail {width:100%; max-width:1614px; margin:0 auto; padding:0 40px}
.hero-slide .content-wrap .hero-tit .hero-tit-detail * {color:#fff}
.hero-slide .content-wrap .hero-tit .hero-tit-detail em {display:block; font-size:24px; font-weight:bold; line-height:32px; letter-spacing:-0.6px}
.hero-slide .content-wrap .hero-tit .hero-tit-detail strong {display:block; margin-top:18px; font-size:48px; font-weight:bold; line-height:60px; letter-spacing:-1.2px}
.hero-slide .content-wrap .hero-tit .hero-tit-detail span {display:block; margin-top:24px; font-size:18px; font-weight:normal; line-height:26px}
.hero-slide .content-wrap .hero-tit .hero-tit-detail .cta {margin-top:32px}
.hero-slide .content-wrap .hero-tit .hero-tit-detail .btn {min-width:0; padding:0 17px; border-color:#fff!important; letter-spacing:-0.7px}
.hero-slide .content-wrap .hero-tit .hero-tit-detail .btn:hover,
.hero-slide .content-wrap .hero-tit .hero-tit-detail .btn:active,
.hero-slide .content-wrap .hero-tit .hero-tit-detail .btn:focus {border-color:#fa263e!important; background-image:linear-gradient(280deg,#fb5a72,#fa263e)!important}
.hero-slide .content-wrap .hero-tit .hero-tit-detail [class^="btn-"] {position:relative; font-size:24px; line-height:36px}
.hero-slide .content-wrap .hero-tit .hero-tit-detail [class^="btn-"]::after {content:''; display:block; position:absolute; width:32px; height:32px; top:calc(50% - 16px)}
.hero-slide .content-wrap .hero-tit .hero-tit-detail .btn-view {padding-right:32px}
.hero-slide .content-wrap .hero-tit .hero-tit-detail .btn-view::after {right:0; background:url('../images/icons/btn_arrow_right_24_white.svg') no-repeat center / contain}
.hero-slide .content-wrap .hero-tit .hero-tit-detail .btn-video-view {padding-left:44px}
.hero-slide .content-wrap .hero-tit .hero-tit-detail .btn-video-view::after {left:0; background:url('../images/icons/btn-play-32.svg') no-repeat center / contain}

.hero-slide .content-wrap .hero-tit.black .hero-tit-detail * {color:#000}
.hero-slide .content-wrap .hero-tit.black .hero-tit-detail .btn {border-color:#000!important}
.hero-slide .content-wrap .hero-tit.black .hero-tit-detail .btn:hover,
.hero-slide .content-wrap .hero-tit.black .hero-tit-detail .btn:active,
.hero-slide .content-wrap .hero-tit.black .hero-tit-detail .btn:focus {border-color:#fa263e!important; background-image:linear-gradient(280deg,#fb5a72,#fa263e)!important; color:#fff}
.hero-slide .content-wrap .hero-tit.black .hero-tit-detail .btn-view::after {background-image:url('../images/icons/btn_arrow_right_24_black.svg')}
.hero-slide .content-wrap .hero-tit.black .hero-tit-detail .btn-video-view::after {background-image:url('../images/icons/btn-play-32-black.svg')}

.hero-slide .content-wrap video {position:absolute; top:0; left:0; width:100%; min-width:1920px; min-height:640px; transform:rotateX(-50%)}
.hero-slide .slide-navi {position:absolute; bottom:25px; left:0; width:100%}

/* bookmark menu */
.bookmark-menu {padding:50px 0 50px 40px; background:#f9f9f9}
.bookmark-menu-detail {display:flex; max-width:1020px; margin:0 auto}
.bookmark-menu-detail h3 {flex:none; font-size:30px; font-weight:400; color:#333; letter-spacing:-0.75px; line-height:42px; padding-right:50px}
.bookmark-menu-detail .bookmark-menu-list {flex:1; overflow:hidden}
.bookmark-menu-detail .bookmark-menu-list ul {display:flex}
.bookmark-menu-detail .bookmark-menu-list ul li {flex:1; min-width:150px; font-size:16px; line-height:26px; letter-spacing:-0.8px; padding:0 20px 0 21px}
.bookmark-menu-detail .bookmark-menu-list ul li + li {position:relative}
.bookmark-menu-detail .bookmark-menu-list ul li + li:before {display:block; content:''; position:absolute; top:calc(50% - 15px); left:0; width:1px; height:30px; background:#e0e0e0}
.bookmark-menu-detail .bookmark-menu-list ul li a {display:block; text-align:center}
.bookmark-menu-detail .bookmark-menu-list ul li img {display:block; margin:0 auto}
.bookmark-menu-detail .bookmark-menu-list ul li span {display:block; margin-top:2px}

/* info store */
.info-store .slide-store {overflow:hidden; position:relative; padding-top:70px; padding-bottom:26px}
.info-store .slide-store .swiper-slide {width:1240px!important; height:600px; transition:all 0.2s linear}
.info-store .slide-store .swiper-slide .slide-cont {width:100%; height:600px; background-repeat:no-repeat; background-position:center; background-size:cover; border-radius:10px; transition:all 0.1s linear; opacity:0}
.info-store .slide-store .swiper-slide.swiper-slide-prev {transform:scale(0.87); left:20px}
.info-store .slide-store .swiper-slide.swiper-slide-next {transform:scale(0.87); right:20px}
.info-store .slide-store .swiper-slide.swiper-slide-active .slide-cont {opacity:1; z-index:2; transition:all 0.3s linear}
.info-store .slide-store .swiper-slide.swiper-slide-prev .slide-cont,
.info-store .slide-store .swiper-slide.swiper-slide-next .slide-cont {opacity:0.3; z-index:1; transition:all 0.3s linear}
.info-store .slide-store .swiper-slide .scont-tit {position:absolute; bottom:0; left:0; right:0; height:260px; color:#fff; padding:32px 42px; border-radius:0 0 10px 10px; background:rgba(0,0,0,0.5)}
.info-store .slide-store .swiper-slide .scont-tit em,
.info-store .slide-store .swiper-slide .scont-tit span,
.info-store .slide-store .swiper-slide .scont-tit strong {display:block; color:#fff; text-shadow:0 0 10px rgba(0,0,0,0.3)}
.info-store .slide-store .swiper-slide .scont-tit em {font-size:28px; font-weight:400; line-height:37px; margin-top:3px}
.info-store .slide-store .swiper-slide .scont-tit span {font-size:18px; font-weight:300; line-height:25px; margin-top:14px}
.info-store .slide-store .swiper-slide .scont-tit strong {font-size:32px; line-height:43px}
.info-store .slide-store .swiper-slide .scont-tit p {font-size:0; margin-top:32px}
.info-store .slide-store .swiper-slide .scont-tit p > * {display:inline-block; height:40px; font-size:14px; font-weight:300; color:#fff; text-align:center; line-height:37px; padding:0 24px; border:1px solid #fff; border-radius:20px}
.info-store .slide-store .swiper-slide .scont-tit p > * + * {margin-left:12px}
.info-store .slide-store .swiper-slide .scont-tit p > * img {width:17px; vertical-align:-3px; margin-right:3px}
.info-store .slide-store .slide-navi {position:absolute; bottom:0; left:0; width:100%; text-align:center}
.info-store .slide-store .slide-navi .slide-navi-detail {padding:0}
.info-store .slide-store .slide-navi .swiper-pager {width:100%; padding:0; text-align:center; background:none}
.info-store .slide-store .tab-pager-wrap {position:absolute; bottom:auto; top:0; left:0; width:100%}
.info-store .slide-store .tab-pager {bottom:0 !important; font-size:0; text-align:center}
.info-store .slide-store .tab-pager .swiper-pagination-bullet {width:auto; height:auto; font-size:0; margin:0; background:none; border-radius:0; opacity:1}
.info-store .slide-store .tab-pager .swiper-pagination-bullet + .swiper-pagination-bullet {margin-left:40px}
.info-store .slide-store .tab-pager .swiper-pagination-bullet button {position:relative; font-size:18px; font-weight:700; line-height:32px; letter-spacing:-0.36px; white-space:nowrap; opacity:0.6}
.info-store .slide-store .tab-pager .swiper-pagination-bullet.swiper-pagination-bullet-active button {opacity:1}
.info-store .slide-store .tab-pager .swiper-pagination-bullet button:before {display:block; content:''; position:absolute; top:34px; right:0; width:0; height:4px; background:#000; transition:all 0.3s linear}
.info-store .slide-store .tab-pager .swiper-pagination-bullet.swiper-pagination-bullet-active button:before {width:100%}
.info-store .store-option {position:absolute; bottom:70px; left:calc(50% - 690px); width:100%; max-width:1380px; padding-right:90px}
.info-store .store-option ul {font-size:0; text-align:right}
.info-store .store-option ul li {display:inline-block; text-align:center; vertical-align:top}
.info-store .store-option ul li + li {margin-left:42px}
.info-store .store-option ul li img {display:block; margin:0 auto}
.info-store .store-option ul li span {display:block; height:54px; font-size:18px; color:#fff; line-height:27px; margin-top:10px}

/* bestshop event */
.bestshop-event {overflow:hidden; position:relative; margin:0 auto}
.bestshop-event .event-list {max-width:1460px; padding:0 40px; margin:0 auto}
.bestshop-event .event-list .swiper-slide {width:calc(100% / 3 - 16px)}
.bestshop-event .event-list .swiper-slide a {display:block; overflow:hidden; border-radius:16px; box-shadow:2px 4px 14px rgba(0,0,0,0.16)}
.bestshop-event .event-list .swiper-slide a:focus {outline:2px solid #000}
.bestshop-event .event-list .swiper-slide + .swiper-slide {margin-left:24px}
.bestshop-event .event-list .swiper-slide img {display:block; width:100%}
.bestshop-event .event-list .swiper-slide .thumb {display:block; overflow:hidden}
.bestshop-event .event-list .swiper-slide .txtBox {display:block; padding:24px 32px}
.bestshop-event .event-list .swiper-slide .txtBox > * {display:block}
.bestshop-event .event-list .swiper-slide .txtBox strong {display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; height:56px; font-size:20px; line-height:28px; text-overflow:ellipsis}
.bestshop-event .event-list .swiper-slide .txtBox .date {font-size:14px; line-height:22px; margin-top:16px}
.bestshop-event .btn-area {margin-top:32px}

/* store benefit */
.store-benefit {max-width:1396px; margin:0 auto}
.store-benefit ul {display:flex; flex-wrap:wrap; justify-content:center}
.store-benefit ul li {max-width:100%; padding:12px}
.store-benefit ul li a {display:block; overflow:hidden; position:relative; border-radius:8px}
.store-benefit ul li a strong {display:block; position:absolute; bottom:24px; left:24px; font-size:24px; font-weight:400; color:#fff; line-height:36px; letter-spacing:-0.24px}
.store-benefit ul li a img {max-width:100%}
.store-benefit ul li a img.pc {display:block}
.store-benefit ul li a img.mobile {display:none}

/* bestshop sns */
.bestshop-sns .content-group-detail {overflow:hidden; position:relative; padding:79px 0 95px}
.bestshop-sns .content-group-detail:before {display:block; content:''; position:absolute; top:0; left:0; width:44%; height:100%; border-radius:8px; background:#f8f8f8}
.bestshop-sns .benefit-slide {width:calc(100% + 300px); margin-left:-300px}
.bestshop-sns .swiper-wrapper {display:flex; left:-9%}
.bestshop-sns .swiper-slide {position:relative; width:270px; opacity:0; transition:all 0.1s ease}
.bestshop-sns .swiper-slide,
.bestshop-sns .swiper-slide * {transition:all 0.3s ease}
.bestshop-sns .swiper-slide {margin:0 25px}
.bestshop-sns .swiper-slide img {display:block; width:270px; height:270px; margin:0 auto; border-radius:8px}
.bestshop-sns .swiper-slide strong {display:block; overflow:hidden; font-size:18px; text-overflow:ellipsis; line-height:28px; letter-spacing:-0.9px; white-space:nowrap; margin-top:12px}
.bestshop-sns .swiper-slide span,
.bestshop-sns .swiper-slide em,
.bestshop-sns .swiper-slide a {display:none}
.bestshop-sns .swiper-slide.swiper-slide-active {transform:scale(1.185); opacity:1; z-index:3; margin:0 55px}
.bestshop-sns .swiper-slide.swiper-slide-prev {opacity:0}
.bestshop-sns .swiper-slide.swiper-slide-prev strong {opacity:0}
.bestshop-sns .swiper-slide.swiper-slide-active ~ .swiper-slide {opacity:0.3}
.bestshop-sns .swiper-slide.swiper-slide-active strong {opacity:0}
.bestshop-sns .left-cont-wrap {position:absolute; top:0; left:0; width:44%; height:100%; z-index:2; text-align:center}
.bestshop-sns .left-cont-wrap .left-cont {display:inline-block; max-width:45%; margin:0 auto; padding-top:96px; margin:0 auto; text-align:left}
.bestshop-sns .left-cont-wrap .left-cont em {display:inline-block; width:auto; font-size:13px; font-weight:400; line-height:24px; padding:0 10px; border:1px solid #000}
.bestshop-sns .left-cont-wrap .left-cont strong {display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; font-size:32px; font-weight:500; text-overflow:ellipsis; line-height:44px; letter-spacing:-0.8px}
.bestshop-sns .left-cont-wrap .left-cont span {display:none}
.bestshop-sns .left-cont-wrap .left-cont .btn-area {margin-top:24px}
.bestshop-sns .left-cont-wrap .left-cont .btn-area .btn {padding:0 41px}
.bestshop-sns .slide-navi {position:absolute; left:calc(41% - 137px); bottom:76px; font-size:0; white-space:nowrap; z-index:2}
.bestshop-sns .slide-navi > * {display:inline-block}
.bestshop-sns .slide-navi .slide-navi-detail {padding:0}
.bestshop-sns .slide-navi .swiper-pager {padding:0; text-align:center; background:none}
.bestshop-sns .slide-navi .swiper-auto .slideBtn {width:25px; height:25px}
.bestshop-sns .cont-desc {max-width:1380px; margin:0 auto}
.bestshop-sns .cont-desc dl {font-size:0; text-align:right; white-space:nowrap}
.bestshop-sns .cont-desc dl dt,
.bestshop-sns .cont-desc dl dd {display:inline-block; vertical-align:top}
.bestshop-sns .cont-desc dl dt {width:377px; text-align:left}
.bestshop-sns .cont-desc dl dt > * {display:block}
.bestshop-sns .cont-desc dl dt strong {font-size:24px; font-weight:400; letter-spacing:-0.24px; line-height:35px}
.bestshop-sns .cont-desc dl dt span {font-size:16px; font-weight:300; color:#666; line-height:24px; letter-spacing:-0.4px}
.bestshop-sns .cont-desc dl dd ul {font-size:0; padding-top:19px}
.bestshop-sns .cont-desc dl dd ul li {display:inline-block}
.bestshop-sns .cont-desc dl dd ul li + li {margin-left:20px}
.bestshop-sns .cont-desc dd li a {display:block; width:40px; height:40px; font-size:0; text-indent:-9999em; background-color:transparent; background-repeat:no-repeat; background-position:50% 50%; background-size:contain}
.bestshop-sns .cont-desc dd li a.blog {background-image:url('../images/icons/ico_main_naver_blog.png')}
.bestshop-sns .cont-desc dd li a.facebook {background-image:url('../images/icons/ico_main_facebook.png')}
.bestshop-sns .cont-desc dd li a.instagram {background-image:url('../images/icons/ico_main_instagram.png')}
.bestshop-sns .cont-desc dd li a.youtube {background-image:url('../images/icons/ico_main_youtube.png')}
.bestshop-sns .cont-desc dd li a.naverTv {background-image:url('../images/icons/ico_main_naver_tv.png')}
.bestshop-sns .cont-desc dd li a.naverPost {background-image:url('../images/icons/ico_main_naver_post.png')}

/* notice */
.main-notice {display:flex; max-width:1380px; margin:80px auto 0; border-top:3px solid #000}
.main-notice .notice-tit {position:relative; font-size:16px; font-weight:400; color:#333; line-height:24px; padding:24px 15px 24px 0}
.main-notice .notice-tit:after {display:block; content:''; position:absolute; top:calc(50% - 4px); right:0; width:1px; height:11px; background:#ccc}
.main-notice .notice-slide {flex:1; overflow:hidden; height:72px}
.main-notice .notice-slide .swiper-slide {padding:24px 0}
.main-notice .notice-slide .swiper-slide a {display:block; overflow:hidden; font-size:16px; font-weight:400; color:#333; text-overflow:ellipsis; line-height:24px; letter-spacing:-0.4px; white-space:nowrap; padding:0 15px}
.main-notice .notice-slide .swiper-slide a i {font-style:normal; color:#da0f47; margin-right:5px}
.main-notice .slide-navi .slide-navi-detail {padding:0 0 0 20px}
.main-notice .slide-navi .swiper-pager {padding:0; background:none}
.main-notice .slide-navi .swiper-pager .slideBtn {width:20px; height:20px; background-color:#999; background-image:url('../images/icons/bul_arrow_down_white.svg'); background-position:48% 50%; background-size:auto 11px; border-radius:100%}
.main-notice .slide-navi .swiper-pager .slideBtn.btn-prev {transform:rotate(90deg)}
.main-notice .slide-navi .swiper-pager .slideBtn.btn-next {transform:rotate(-90deg)}
.main-notice .slide-navi .swiper-pager .slideBtn.swiper-button-disabled {opacity:0.5}
.main-notice .slide-navi .swiper-pager .slideBtn + .slideBtn {margin-left:10px}
.main-notice .slide-navi .swiper-auto {margin-left:0}
.main-notice .slide-navi .swiper-auto .slideBtn {width:20px; height:20px; margin-left:10px}

/* store search */
.store-search {position:relative; max-width:1240px; height:47px; font-size:14px; line-height:47px; margin:50px auto 0; background-color:#f4f4f4; text-align:center}
.store-search-btn {position:absolute; top:calc(50% - 10px); right:32px; line-height:16px}
.store-search-btn > .btn {width:auto; min-width:0; height:20px; color:#000; line-height:16px; padding:0; border:transparent; background-color:transparent; background-image:none}
.store-search-btn > .btn span:after {display:inline-block; content:''; width:16px; height:16px; background:url('../images/icons/icon-arrow-down-48.svg') no-repeat 0 0; transform:rotate(270deg); vertical-align:-3px}
.store-search-btn > .btn img {vertical-align:-3px; margin-right:3px}

/* store near */
.store-near {display:none; overflow:hidden; padding-bottom:30px; margin-bottom:-30px}
.store-near .near-slide {max-width:1460px; padding:0 40px; margin:0 auto}
.store-near .near-slide .swiper-slide {max-width:448px; min-height:128px; border-radius:8px; box-shadow:2px 4px 14px rgba(0,0,0,0.16)}
.store-near .near-slide .swiper-slide + .swiper-slide {margin-left:18px}
.store-near .near-info {padding:24px 24px 0}
.store-near .near-info .tit {line-height:32px}
.store-near .near-info .tit strong {font-size:24px}
.store-near .near-info .tit span {font-size:12px; color:#da0f47; margin-left:5px}
.store-near .near-info address {font-style:normal; font-size:12px; color:#666; line-height:18px; margin-top:12px}
.store-near .near-info a {display:block; position:absolute; top:44px; right:20px; font-size:14px; text-decoration:underline; text-underline-position:under; line-height:20px; padding-right:16px}
.store-near .near-info a:after {display:block; content:''; position:absolute; top:calc(50% - 8px); right:0; width:18px; height:18px; background:url('../images/icons/icon-arrow-down-48.svg') no-repeat 0 0; background-size:contain; transform:rotate(270deg)}

/* sns channel */
.sns-channel {max-width:1460px; padding:0 40px; margin:100px auto 0}
.sns-channel dl {display:flex}
.sns-channel dl dt {flex:none; font-size:16px; color:#666; letter-spacing:-0.4px; line-height:24px}
.sns-channel dl dt strong {display:block; font-size:36px; color:#000; line-height:52px; letter-spacing:-0.36px}
.sns-channel dl dd {flex:1}
.sns-channel dl dd ul {font-size:0; text-align:right}
.sns-channel dl dd ul li {display:inline-block}
.sns-channel dl dd ul li + li {margin-left:20px}
.sns-channel dl dd ul li a {display:block; width:60px; height:60px; background-repeat:no-repeat; background-position:0 0; background-size:contain}
.sns-channel dl dd ul li a.blog {background-image:url('../images/ico_sns_01.png')}
.sns-channel dl dd ul li a.facebook {background-image:url('../images/ico_sns_02.png')}
.sns-channel dl dd ul li a.instagram {background-image:url('../images/ico_sns_03.png')}
.sns-channel dl dd ul li a.youtube {background-image:url('../images/ico_sns_04.png')}
.sns-channel dl dd ul li a.naverPost {background-image:url('../images/ico_sns_05.png')}
.sns-channel dl dd ul li a.naverTv {background-image:url('../images/ico_sns_06.png')}
.sns-channel dl dd ul li a.kakaoChannel {display:none}

/* high dpi pc */
@media screen and (min-width:1400px) {
    .store-benefit ul li:nth-child(1),
    .store-benefit ul li:nth-child(2),
    .store-benefit ul li:nth-child(5) {width:50%}
    .store-benefit ul li:nth-child(3),
    .store-benefit ul li:nth-child(4) {width:25%}
}

/* middle dpi pc */
/* @media screen and (max-width:1475px) {
} */
/* low dpi pc */
@media screen and (max-width:1380px) {
    /* info store */
    .info-store .slide-store .swiper-slide {width:100%!important}
    .info-store .slide-store .swiper-slide.swiper-slide-prev {left:auto}
    .info-store .slide-store .swiper-slide.swiper-slide-next {right:auto}
    .info-store .store-option,
    .info-store .slide-store .slide-navi {left:0}

    /* bestshop sns */
    .bestshop-sns .content-group-detail {padding-top:0; padding-bottom:26px}
    .bestshop-sns .content-group-detail:before {min-width:320px; height:309px; border-radius:0}
    .bestshop-sns .left-cont-wrap {position:relative; min-width:320px; height:309px}
    .bestshop-sns .left-cont-wrap .left-cont {width:100%; max-width:100%; padding:35px}
    .bestshop-sns .left-cont-wrap .left-cont em {padding:0 2px; font-size:9px; line-height:14px}
    .bestshop-sns .left-cont-wrap .left-cont strong {margin-top:2px; font-size:21px; line-height:26px; letter-spacing:-0.525px}
    .bestshop-sns .left-cont-wrap .left-cont .btn-area {margin-top:15px}
    .bestshop-sns .left-cont-wrap .left-cont .btn-area .btn {min-width:0; padding:0 17px; font-size:13px; line-height:34px}
    .bestshop-sns .sns-slide {margin-top:-84px}
    .bestshop-sns .swiper-wrapper {left:36px}
    .bestshop-sns .swiper-slide {width:173px}
    .bestshop-sns .swiper-slide img {width:173px; height:173px}
    .bestshop-sns .swiper-slide {margin:0 15px}
    .bestshop-sns .swiper-slide.swiper-slide-active {margin:0 37px 0 22px; transform:scale(1.25)}
    .bestshop-sns .slide-navi {left:28px; bottom:0}

    .bestshop-sns .cont-desc {margin-top:24px}
    .bestshop-sns .cont-desc dl {overflow:hidden; white-space:normal}
    .bestshop-sns .cont-desc dl dt {width:100%; padding:0 36px}
    .bestshop-sns .cont-desc dl dt strong {font-size:21px; line-height:30.5px; letter-spacing:-0.525px}
    .bestshop-sns .cont-desc dl dt span {width:100%; font-size:13px; line-height:18.5px; letter-spacing:-0.325px}
    .bestshop-sns .cont-desc dl dd {width:100%}
    .bestshop-sns .cont-desc dl dd ul {text-align:center}
    .bestshop-sns .cont-desc dl dd ul li + li {margin-left:8px}
}
/* tablet pc */
@media screen and (max-width:1024px) and (min-width:768px) {
    /* info store */
    .info-store .slide-store .slide-navi {display:none}
    .info-store .store-option {padding:0 60px}
    .info-store .store-option ul {text-align:left}
    .event-list-slide {overflow:hidden}

}
/* tablet pc + mobile */
@media screen and (max-width:1024px) {
    .hero-slide .content-wrap .hero-tit .hero-tit-detail em {font-size:16px; line-height:22px; letter-spacing:0}
    .hero-slide .content-wrap .hero-tit .hero-tit-detail strong {margin-top:12px; font-size:32px; line-height:42px; letter-spacing:0}
    .hero-slide .content-wrap .hero-tit .hero-tit-detail span {margin-top:12px; font-size:15px; line-height:21px}
    .hero-slide .content-wrap .hero-tit .hero-tit-detail .cta {margin-top:24px}
    .hero-slide .content-wrap .img-wrap > img{max-width:100%;}

    /* bestshop event */
    .bestshop-event .event-list .swiper-slide {width:calc(50% - 24px)}

    /* near shop */
    .store-search {font-size:12px; text-align:left; padding:0 16px; margin-top:0}
    .store-search-btn {right:16px}
    .store-search-btn > .btn {font-size:11px}
    .store-search-btn > .btn img {width:14px}

    /* sns channel */
    .sns-channel {padding:0 16px; margin-top:58px}
    .sns-channel dl {display:block}
    .sns-channel dl dt {font-size:13px; line-height:19px; letter-spacing:-0.3px}
    .sns-channel dl dt strong {font-size:21px; line-height:30px; letter-spacing:-0.5px; margin-bottom:5px}
    .sns-channel dl dd ul {text-align:left; margin-top:20px}
    .sns-channel dl dd ul li + li {margin-left:10px}
    .sns-channel dl dd ul li a {width:34px; height:34px}
    .sns-channel dl dd ul li a.kakaoChannel {display:block; background-image:url('../images/ico_sns_07.png')}
}
/* mobile */
@media screen and (max-width:767px) {
    /* main common */
    .content-group {padding-top:50px}
    .content-group .content-group-tit {text-align:left; padding:0 16px}
    .content-group .content-group-tit h3 {font-size:24px; line-height:35px; letter-spacing:-0.6px}
    .content-group .content-group-tit p {color:#222; font-size:13px; line-height:19px; letter-spacing:-0.65px; margin-top:5px}
    .content-group .content-group-detail {margin-top:17px}
    .content-group .btn-area .btn {padding:0 15px}
    .slide-navi .pager-pagination .swiper-pagination-bullet {width:6px; height:6px}
    .slide-navi .pager-pagination .swiper-pagination-bullet {margin:0 !important}
    .slide-navi .pager-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {margin-left:10px !important}

    /* Hero Area */
    .hero-slide {height:390px}
    .hero-slide .content-wrap video {left:calc(50% - 600px); width:1200px; min-width:1200px; min-height:400px}
    .hero-slide .content-wrap .hero-tit {top:32px; bottom:102px; padding:0 20px}
    .hero-slide .content-wrap .hero-tit.left,
    .hero-slide .content-wrap .hero-tit.right,
    .hero-slide .content-wrap .hero-tit.center {text-align:left}
    .hero-slide .content-wrap .hero-tit.top {align-items:start}
    .hero-slide .content-wrap .hero-tit.bottom {align-items:end}
    .hero-slide .content-wrap .hero-tit.bottom .hero-tit-detail {padding-bottom:0}
    .hero-slide .content-wrap .hero-tit .hero-tit-detail {padding:0}
    .hero-slide .content-wrap .hero-tit .hero-tit-detail .btn {padding:0 14px; line-height:34px; letter-spacing:0}
    .hero-slide .content-wrap .hero-tit .hero-tit-detail [class^="btn-"] {font-size:16px; line-height:24px}
    .hero-slide .content-wrap .hero-tit .hero-tit-detail .btn-view {padding-right:18px}
    .hero-slide .content-wrap .hero-tit .hero-tit-detail .btn-video-view {padding-left:24px}
    .hero-slide .content-wrap .hero-tit .hero-tit-detail [class^="btn-"]::after {width:20px; height:20px; top:calc(50% - 10px)}
    .hero-slide .content-wrap .hero-tit .hero-tit-detail .btn-video-view::after {background-image:url('../images/icons/btn-play.svg')}
    .hero-slide .slide-navi {bottom:20px}

    /* bookmark menu */
    .bookmark-menu {display:none}

    /* bestshop event */
    .bestshop-event .event-list {padding:0 16px}
    .bestshop-event .event-list .swiper-slide {width:274px}
    .bestshop-event .event-list .swiper-slide + .swiper-slide {margin-left:16px}
    .bestshop-event .event-list .swiper-slide a {border-radius:8px}
    .bestshop-event .event-list .swiper-slide .txtBox {padding:16px}
    .bestshop-event .event-list .swiper-slide .txtBox strong {height:44px; font-size:16px; line-height:22px}
    .bestshop-event .event-list .swiper-slide .txtBox .date {font-size:13px; line-height:19px; margin-top:11px}
    .bestshop-event .btn-area .btn {min-width:0; line-height:34px; letter-spacing:-0.5px}

    /* store benefit */
    .store-benefit ul {position:relative; padding:0 13px}
    .store-benefit ul li {width:50%; padding:3px}
    .store-benefit ul li:first-child {width:100%}
    .store-benefit ul li a img.pc {display:none}
    .store-benefit ul li a img.mobile {display:block}
    .store-benefit ul li a strong {bottom:16px; left:16px; font-size:16px; line-height:26px; letter-spacing:-0.16px}

    /* info store */
    .info-store {padding-bottom:0}
    .info-store .slide-store {padding-top:44px; padding-bottom:0}
    .info-store .slide-store .swiper-slide {height:343px}
    .info-store .slide-store .swiper-slide .scont-tit {height:auto; padding:20px 16px 16px; border-radius:0}
    .info-store .slide-store .swiper-slide .scont-tit strong {font-size:24px; line-height:30px}
    .info-store .slide-store .swiper-slide .scont-tit em {margin-top:4px; font-size:18px; line-height:24px}
    .info-store .slide-store .swiper-slide .scont-tit span {margin-top:8px; font-size:12px; line-height:17px}
    .info-store .slide-store .swiper-slide .scont-tit strong + p {margin-top:25px}
    .info-store .slide-store .swiper-slide .scont-tit p {margin-top:12px}
    .info-store .slide-store .swiper-slide .scont-tit p a {min-width:0; height:auto; font-size:13px; text-align:center; line-height:34px; white-space:nowrap; padding:0 20px; border-radius:18px}
    .info-store .slide-store .swiper-slide .scont-tit p > * + * {margin-left:8px}
    .info-store .slide-store .swiper-slide .scont-tit p a img {width:16px; height:16px; vertical-align:-3.5px}
    .info-store .slide-store .swiper-slide .slide-cont {height:343px; border-radius:0}
    .info-store .slide-store .swiper-slide.swiper-slide-prev,
    .info-store .slide-store .swiper-slide.swiper-slide-next {transform:scale(1)}
    .info-store .slide-store .swiper-slide.swiper-slide-prev .slide-cont,
    .info-store .slide-store .swiper-slide.swiper-slide-next .slide-cont {opacity:1}
    .info-store .slide-store .slide-navi {position:absolute; bottom:-20px; left:0; width:100%; text-align:center}
    .info-store .slide-store .slide-navi .slide-navi-detail {padding:0; text-align:center}
    .info-store .slide-store .slide-navi .swiper-pager .slideBtn {display:none}
    .info-store .store-option {bottom:30px; padding:0 4%}
    .info-store .store-option ul {display:flex}
    .info-store .store-option ul li {flex:1}
    .info-store .store-option ul li + li {margin-left:0}
    .info-store .store-option ul li img {width:32px; height:32px}
    .info-store .store-option ul li span {height:35px; font-size:12px; line-height:17.5px; margin-top:5px}
    .info-store .slide-store .tab-pager-wrap {width:100%; padding:0; box-sizing:border-box}
    .info-store .slide-store .tab-pager {overflow-x:auto; height:32px; text-align:left; white-space:nowrap; scroll-behavior:smooth}
    .info-store .slide-store .tab-pager .swiper-pagination-bullet {margin:0 16.5px !important}
    .info-store .slide-store .tab-pager .swiper-pagination-bullet button {font-size:14px; line-height:20px}
    .info-store .slide-store .tab-pager .swiper-pagination-bullet button:before {top:25px; height:3px}

    /* bestshop sns */
    .bestshop-sns .content-group-detail {padding-bottom:24px}
    .bestshop-sns .swiper-slide strong {margin-top:6px; font-size:12px; line-height:17px}
    .bestshop-sns .slide-navi {left:36px; bottom:0}
    .bestshop-sns .slide-navi .swiper-auto .slideBtn {width:16.5px; height:16.5px; background-size:contain}

    /* notice */
    .main-notice {display:block; position:relative; width:calc(100% - 32px); padding:12px 0; margin:45px auto 0; border-top: 1.5px solid #000}
    .main-notice .slide-navi {position:absolute; top:12px; right:0}
    .main-notice .slide-navi .swiper-pager .slideBtn {width:14px; height:14px; background-size:auto 6px}
    .main-notice .slide-navi .swiper-auto .slideBtn {width:14px; height:14px}
    .main-notice .notice-tit {font-size:13px; line-height:18.5px; letter-spacing:-0.65px; padding:0}
    .main-notice .notice-tit:after {display:none}
    .main-notice .notice-slide {height:26px}
    .main-notice .notice-slide .swiper-slide {padding:5px 0}
    .main-notice .notice-slide .swiper-slide a {font-size:13px; line-height:18.5px; letter-spacing:-0.65px; padding:0}

    /* near store */
    .store-near .near-slide {padding:0 16px}
    .store-near .near-slide .swiper-slide {max-width:310px; min-height:auto; padding:16px 12px}
    .store-near .near-slide .swiper-slide + .swiper-slide {margin-left:8px}
    .store-near .near-info .tit {line-height:20px}
    .store-near .near-info .tit strong {font-size:14px}
    .store-near .near-info .tit span {font-size:6px}
    .store-near .near-info a {top:16px; font-size:11px}
    .store-near .near-info ul li {font-size:9px; line-height:13px; letter-spacing:-0.03em}
    .store-near .near-info ul li + li {margin-left:8px}
    .store-near .near-info ul li + li:before {top:calc(50% - 3px); left:-4px; height:8px}
}
/* tablet pc vertical */
@media screen and (min-width:620px) and (max-width:767px) {
    /* bookmark menu */
    .bookmark-menu-detail .bookmark-menu-list ul {justify-content:center}
}