/* common.css와 base.css를 상속받아 반응형일 때 
모바일, 태블릿 환경일 때만 별도로 modify 해야하는 CSS 작성 */

@charset "UTF-8";

/* 하은 */
.mo .wrap {padding-top:85px}

/* 헤더 */
.mo .header {position:fixed; top:0; left:0; right:0; z-index:100}
.mo .header-wrap {max-width:100%; padding:0 16px}
.mo .header-top {padding:12px 0}
.mo .header-top .logo {float:none}
.mo .header-top .logo a {height:24px}
.mo .header-top .logo a img {height:23px}
.mo .header-top .logo a span {padding-left:7.5px; line-height:24px; letter-spacing:-0.5px}
.mo .header-top .top-links {position:absolute; top:7px; right:11px}
.mo .header-top .top-links .util {display:none}
.mo .header-top .top-links .my-tooltip {display:none}
.mo .header-top .top-links .mobile-mypage {display:block}
.mo .header-top .top-links .mobile-mypage > a {width:34px; height:34px; background-size:24px 24px}

.mo .header-bottom .menu-wrap {position:fixed; display:block; right:-100%; top:0; bottom:0; width:calc(100% - 20px); padding:60px 0 70px; background-color:#fff; overflow-y:auto; transition:right .5s; z-index:111}
.mo .header-bottom .menu-wrap.active {right:0}
.mo .header-bottom .menu-wrap .pc-menu {display:none}
.mo .menu-banner {display:none}
.mo .header-bottom .menu-wrap .mobile-acco-menu {display:block; width:100%}
.mo .header-bottom .menu-wrap .mobile-acco-menu > li + li {border-top:2px solid #f4f4f4}
.mo .header-bottom .menu-wrap .mobile-acco-menu .link-section > .depth1 {position:relative}
.mo .header-bottom .menu-wrap .mobile-acco-menu .link-section > .depth1::after {content:''; display:block; position:absolute; right:16px; top:calc(50% - 12px); width:24px; height:24px; background: url(../images/icons/btn-arr-48-black.svg) center no-repeat; background-size:24px 24px; transform: rotate(180deg); transition:all ease .5s}
.mo .header-bottom .menu-wrap .mobile-acco-menu .link-section > .depth1.active::after {transform:rotate(0)}
.mo .header-bottom .menu-wrap .mobile-acco-menu .link-section > .depth1 a {display:block; padding:20px 16px; font-size:16px; font-weight:700; line-height:24px}
.mo .header-bottom .menu-wrap .mobile-acco-menu .link-section > .depth2 {display:none; border-top:1px solid #f4f4f4}
.mo .header-bottom .menu-wrap .mobile-acco-menu .link-section > .depth2 ul li a {display:block; padding:14px 16px; color:#000; font-size:14px; line-height:22px; font-weight:400}
.mo .header-bottom .menu-wrap .mobile-acco-menu .link-section .depth3 .depth3-tit {position:relative; display:block; padding:14px 16px; color:#000; font-size:14px; line-height:22px; font-weight:500}
.mo .header-bottom .menu-wrap .mobile-acco-menu .link-section .depth3 .depth3-tit::after {content:''; display:block; position:absolute; top:calc(50% - 12px); right:24px; width:24px; height:24px; background:url(../images/icons/btn-plus-48.svg) center no-repeat; background-size:24px 24px; transition:all ease .5s}
.mo .header-bottom .menu-wrap .mobile-acco-menu .link-section .depth3.on .depth3-tit::after {background:url(../images/icons/btn-minus-48.svg) center no-repeat; background-size:24px 24px}
.mo .header-bottom .menu-wrap .mobile-acco-menu .link-section .depth3 > ul {display:none; padding:14px 0; background-color:#f4f4f4}
.mo .header-bottom .menu-wrap .mobile-acco-menu .link-section .depth3 > ul > li > a {padding:10px 28px; color:#666; font-size:13px; font-weight:400; line-height:21px}

.mo .mobile-nav-wrap {position:fixed; display:block; width:100%; top:48px; left:0; right:0; padding:0 8px; z-index:99; border-bottom:1px solid #ddd; background-color:#fff; box-shadow:0 2px 2px 0 rgba(0,0,0,0.05); box-sizing:border-box}
.mo .mobile-nav-wrap.main .mobile-menu {display:flex; white-space:nowrap; overflow-x:auto}
.mo .mobile-nav-wrap.main .mobile-menu::-webkit-scrollbar {display:none}
.mo .mobile-nav-wrap.main .mobile-menu li {margin:0 10px}
.mo .mobile-nav-wrap.main .mobile-menu li a {display:block; color:#666; font-size:15px; line-height:36px}
.mo .mobile-nav-wrap.main .mobile-menu li a.active {position:relative; color:#000; font-weight:700}
.mo .mobile-nav-wrap.main .mobile-menu li a.active::after {content:''; display:block; position:absolute; left:0; right:0; bottom:0; height:3px; background-color:#000}

.mo .mobile-nav-wrap.sub {display:none; top:0; height:48px; padding:0 80px}
.mo .mobile-nav-wrap.sub .btn-back {position:absolute; display:block; left:0; top:0; min-height:48px; padding-left:36px; background:url(../images/icons/btn-arr-32-left.svg) no-repeat left 16px center; background-size:16px; font-size:14px; line-height:48px}
.mo .mobile-nav-wrap.sub .btn-mypage {position:absolute; right:11px; top:6px; display:block; width:34px; height:34px; background:url(../images/icons/icon-person-48-m.svg) no-repeat center; background-size:24px 24px}
.mo .mobile-nav-wrap.sub .page-title {display:block; height:100%; font-size:16px; font-weight:700; line-height:48px; text-align:center}
.mo .mobile-nav-wrap.sub .page-title > span {display:inline-block}
.mo .mobile-nav-wrap.sub .page-title > span::after {content:''; display:inline-block; width:16px; height:16px; margin-left:5px; background:url(../images/icons/btn-arr-16-black-sm.svg) no-repeat center; transform:rotate(90deg)}
.mo .mobile-nav-wrap.sub .mobile-menu > li {display:none}
.mo .mobile-nav-wrap.sub .mobile-menu > li.active {display:block; position:absolute; top:48px; left:0; right:0}
.mo .mobile-nav-wrap.sub .mobile-menu > li .menu-category-wrap {display:none; width:100%; background-color:#fff}
.mo .mobile-nav-wrap.sub .mobile-menu > li .menu-category-wrap.active {display:block}
.mo .mobile-nav-wrap.sub .mobile-menu > li .menu-category-wrap .category-items > ul {position:relative; width:50%; padding:12px 0}
.mo .mobile-nav-wrap.sub .mobile-menu > li .menu-category-wrap .category-items > ul > li.on {background-color:#f4f4f4}
.mo .mobile-nav-wrap.sub .mobile-menu > li .menu-category-wrap .category-items > ul > li.on a {font-weight:700}
.mo .mobile-nav-wrap.sub .mobile-menu > li .menu-category-wrap .category-items > ul > li a {display:inline-block; padding:6px 18px; background:url(../images/icons/btn-arr-16-black-sm.svg) no-repeat right center; font-size:14px; line-height:22px}
.mo .mobile-nav-wrap.sub .mobile-menu > li .menu-category-wrap .category-items > ul .depth3 > ul {display:none}
.mo .mobile-nav-wrap.sub .mobile-menu > li .menu-category-wrap .category-items > ul .depth3.on {background-color:#f4f4f4}
.mo .mobile-nav-wrap.sub .mobile-menu > li .menu-category-wrap .category-items > ul .depth3.on > ul {position:absolute; display:block; top:0; right:-100%; width:100%; height:100%; padding:12px 0; background-color:#f4f4f4}
.mo .mobile-nav-wrap.sub .mobile-menu > li .menu-category-wrap .category-items > ul .depth3 > ul li a {background:none}
.mo .mobile-nav-wrap.sub .mobile-menu > li .menu-category-wrap .category-items > ul > li .depth3-tit {display:block; padding:6px 18px; font-size:14px; line-height:22px}
.mo .mobile-nav-wrap.sub .mobile-menu > li .menu-category-wrap .category-items > ul .depth3.on .depth3-tit {font-weight:700}

.mo .header-bottom .menu-wrap .mobile-login {display:block; padding:0 16px; border-bottom:12px solid #f4f4f4}
.mo .header-bottom .menu-wrap .mobile-login .login-info {position:relative; padding:3px 0 17px; font-size:18px; font-weight:700; line-height:26px}
.mo .header-bottom .menu-wrap .mobile-login .login-info a.text {position:relative}
.mo .header-bottom .menu-wrap .mobile-login .login-info a.text::after {content:''; display:block; position:absolute; width:16px; height:16px; right:-22px; top:calc(50% - 8px); background:url(../images/icons/btn-arr-32-black.svg) no-repeat center / 100%; transform:rotate(180deg)}
.mo .header-bottom .menu-wrap .mobile-login .btn-mypage {position:absolute; top:-1px; right:0}
.mo .header-bottom .menu-wrap .mobile-login .btn-mypage a {display:block; width:34px; height:34px; background:url(../images/icons/icon-person-48-m.svg) no-repeat center; background-size:24px 24px}

.mo .header-bottom .menu-wrap .mobile-marketing-link {display:block; padding:24px 0; border-bottom:12px solid #f4f4f4}
.mo .header-bottom .menu-wrap .mobile-marketing-link .items {display:flex; overflow-x:auto; padding:0 16px}
.mo .header-bottom .menu-wrap .mobile-marketing-link .items::-webkit-scrollbar {display:none}
.mo .header-bottom .menu-wrap .mobile-marketing-link .ui_carousel_slide + .ui_carousel_slide {margin-left:12px}
.mo .header-bottom .menu-wrap .mobile-marketing-link .banner-box {position:relative; display:inline-block; width:60vw; border-radius:4px; overflow:hidden}
.mo .header-bottom .menu-wrap .mobile-marketing-link .banner-box img {width:100%}
.mo .header-bottom .menu-wrap .mobile-marketing-link .banner-text {position:absolute; bottom:14px; left:19px; color:#fff; font-size:12px; line-height:20px; text-shadow:0 1px 20px rgba(0,0,0,0.4)}

.mo .header-bottom .menu-wrap .mobile-service-link {display:block; padding:32px 16px; border-top:12px solid #f4f4f4}
.mo .header-bottom .menu-wrap .mobile-service-link .links {margin-top:-16px}
.mo .header-bottom .menu-wrap .mobile-service-link .links::after {content:''; display:block; clear:both}
.mo .header-bottom .menu-wrap .mobile-service-link .links li {float:left; width:50%; margin-top:16px}
.mo .header-bottom .menu-wrap .mobile-service-link .links li a {font-size:13px; font-weight:500; line-height:21px}

.mo .header-bottom .menu-wrap .mobile-outer-link {display:block; padding:32px 16px; border-top:12px solid #f4f4f4}
.mo .header-bottom .menu-wrap .mobile-outer-link .links {margin-top:-16px}
.mo .header-bottom .menu-wrap .mobile-outer-link .links::after {content:''; display:block; clear:both}
.mo .header-bottom .menu-wrap .mobile-outer-link .links li {float:left; width:50%; margin-top:16px}
.mo .header-bottom .menu-wrap .mobile-outer-link .links li a {padding-right:18px; background:url(../images/icons/btn-outlink-16.svg) no-repeat right top 3px; font-size:13px; font-weight:500; line-height:21px}

.mo .header-bottom .mobile-nav-close {position:absolute; display:block; top:11px; right:11px; width:34px; height:34px; padding:5px; background:url(../images/icons/btn-close-24-black.svg) no-repeat center; background-size:24px 24px}

/* 컨텐트 임시 */
.mo #content {border:0}
.mo #content .main-carousel .swiper[class*=main-carousel-] {width:100%; height:auto}
.mo #content .main-carousel .swiper-slide .carousel-img {height:auto; padding-bottom:88%}
.mo #content .main-carousel .swiper-slide .video-wrap {height:auto; padding-bottom:88%}
.mo #content .main-carousel .swiper-slide .video-wrap video {width:auto; height:100%}
.mo #content .main-carousel .carousel-btns .btn {width:28px; height:28px}
.mo #content .main-carousel .carousel-btns .btn.swiper-button-next {right:4px}
.mo #content .main-carousel .carousel-btns .btn.swiper-button-prev {left:4px}
.mo #content .main-carousel .carousel-btns .btn::after {background:url(../images/icons/icon-carousel-btn-mo.svg) no-repeat center; background-size:6px}
.mo #content .main-carousel .swiper-pagination {left:0; right:0; transform:translateX(0); padding:0 42px; bottom:18px}
.mo #content .main-carousel .swiper-pagination .swiper-pagination-bullet {width:calc(33.3333% - 20px); height:4px; margin:0 10px}
.mo #content .main-carousel .slide-info-area {top:31px; padding:0 20px; bottom:50px}
.mo #content .main-carousel .slide-info-area .boxs {position:relative}
.mo #content .main-carousel .slide-info-area .boxs .eyebrow {position:absolute; left:0; top:75px; font-size:14px; font-weight:500; line-height:20px}
.mo #content .main-carousel .slide-info-area .boxs .txt {position:absolute; left:0; top:0; font-size:25px; line-height:32px}
.mo #content .main-carousel .slide-info-area .link {display:none}

/* 푸터 */
.mo footer {margin-top:80px; padding:16px 0 130px}
.mo footer .pc-dropdown-wrap {display:none}
.mo footer .foot-cont .mobile-link-wrap {display:block}
.mo footer .foot-cont .mobile-link-wrap .link-section {border-bottom:1px solid #ddd}
.mo footer .foot-cont .mobile-link-wrap .link-section > .depth1 {position:relative; padding:0 16px}
.mo footer .foot-cont .mobile-link-wrap .link-section > .depth1::after {content:''; display:block; position:absolute; right:16px; top:50%; width:16px; height:16px; margin-top:-10px; background: url(../images/icons/btn-arr-16-black.svg) center no-repeat; background-size:100%; transform: rotate(90deg); transition:all .3s}
.mo footer .foot-cont .mobile-link-wrap .link-section > .depth1.active::after {transform:rotate(270deg)}
.mo footer .foot-cont .mobile-link-wrap .link-section > .depth1 a {display:block; padding:17px 0; font-size:13px; font-weight:700; line-height:21px}
.mo footer .foot-cont .mobile-link-wrap .link-section > .depth2 {display:none; border-top:1px solid #ddd; padding:0 16px}
.mo footer .foot-cont .mobile-link-wrap .link-section > .depth2 > ul > li {border-bottom:1px solid #ddd}
.mo footer .foot-cont .mobile-link-wrap .link-section > .depth2 > ul > li:last-child {border:0}
.mo footer .foot-cont .mobile-link-wrap .link-section > .depth2 ul li a {display:block; padding:12px 0; color:#000; font-size:11px; line-height:19px; font-weight:500}
.mo footer .foot-cont .mobile-link-wrap .link-section .depth3 .depth3-tit {position:relative; display:block; padding:12px 0; color:#000; font-size:11px; line-height:19px; font-weight:500}
.mo footer .foot-cont .mobile-link-wrap .link-section .depth3 .depth3-tit::after {content:''; display:block; position:absolute; top:50%; right:2px; width:16px; height:16px; margin-top:-8px; background:url(../images/icons/btn-plus-16.svg) center no-repeat; background-size:100%; transition:all .3s}
.mo footer .foot-cont .mobile-link-wrap .link-section .depth3.on .depth3-tit::after {transform:rotate(135deg)}
.mo footer .foot-cont .mobile-link-wrap .link-section .depth3 > ul {display:none}
.mo footer .foot-cont .mobile-link-wrap .link-section .depth3 > ul > li > a {color:#767676; font-weight:400}

.mo footer .foot-cont .foot-bottom {padding:0 16px; border:0}
.mo footer .foot-cont .foot-bottom .bottom-head .sns-link {float:none; margin:12px -14px 0}
.mo footer .foot-cont .foot-bottom .bottom-head .sns-link li {width:33.3333%; padding:0 14px}
.mo footer .foot-cont .foot-bottom .bottom-head .sns-link li + li {margin:0}
.mo footer .foot-cont .foot-bottom .bottom-head .sns-link li a {flex-direction:column; padding:12px 0}
.mo footer .foot-cont .family-site {float:none}
.mo footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns {width:calc((100% - 6px)/2)}
.mo footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .slt-btn {position:relative; display:block; padding:11px 28px 11px 12px; border:1px solid #ddd; border-radius:8px}
.mo footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .slt-btn::after {position:absolute; top:50%; right:12px; margin:-8px 0 0 0; background: url(../images/icons/icon-arr-40-bk.svg) center no-repeat; background-size:100%}
.mo footer .foot-cont .foot-bottom .bottom-head .dropdown-wrap .dropdowns .lists {top:48px; left:0; right:0; transform: translateX(0)}

.mo footer .foot-cont .foot-bottom .bottom-body .bottom-link li {width:50%; margin-top:16px; margin-left:0}
.mo footer .foot-cont .foot-bottom .bottom-body .comp-info {margin-top:24px; padding:0}
.mo footer .foot-cont .foot-bottom .bottom-body .comp-info p {margin-top:16px}
.mo  footer .foot-cont .foot-bottom .bottom-body .foot-last {position:static; right:auto; bottom:auto; margin-top:24px}

/* 푸터 스티키 하단바 */
.mo .mobile-status-bar {display:block}