@charset "UTF-8";
/* 공지사항 리스트 */
.notice .search-wrap {margin-bottom:80px}
.notice .tb_row table td {padding:24px}
/* 서치영역(공통) */
.notice .keyword-search {
  position: relative;
  text-align: center;
  z-index: 2;
}
.notice .keyword-search .search-box {
  display: inline-block;
  position: relative;
  width: 443px;
  text-align: left;
}
.notice .keyword-search .search-select {
  position: relative;
  width: 443px;
  margin: 0 auto;
  text-align: left;
}
.notice .keyword-search .search-select input[type=text] {
  width: 100%;
  padding: 10px 70px 10px 50px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 24px;
  border: 0 none;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.14);
}
.notice .btn-back {
  left: 24px;
}
.notice .btn-clear {
  display: none;
  position: absolute;
  top: 50%;
  right: 54px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: url(../images/icons/icon-delete-20.svg) no-repeat 0 0;
  text-indent: -9999em;
}
.notice .keyword-search .search-select input:valid + .btn-clear {
  display: block;
}
.notice .btn-back {
  top: 15px;
}
.notice .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 46px;
  background: url(../images/icons/icon-search-24.svg) no-repeat center / 24px;
  text-indent: -9999em;
}
.notice .keyword-search .search-error {
  display: none;
  margin-top: 6px;
  color: red;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
}
.notice .keyword-search .search-error::before {
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 3px 4px 0 0;
  background: url(../images/icons/icon-error.svg) center no-repeat;
  vertical-align: top;
}
.notice .total {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.notice .total .count {
  color: #da0f47;
}
/* pagination(공통) */
.notice .pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}
.notice .pagination .next, .pagination .prev, .notice .pagination .next-last, .pagination .prev-first {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 3px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-image: url(../images/icons/icon-arr-pagination-prev.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  cursor: pointer;
}
.notice .pagination .next {
  background-image: url(../images/icons/icon-arr-pagination-next.svg);
}
.notice .pagination .next.disabled {
  background-image: url(../images/icons/icon-arr-pagination-next-gray.svg);
}
.notice .pagination .next-last {
  background-image: url(../images/icons/icon-double-arr-pagination-next.svg);
}
.notice .pagination .next-last.disabled {
  background-image: url(../images/icons/icon-double-arr-pagination-next-gray.svg);
}
.notice .pagination .prev.disabled {
  background-image: url(../images/icons/icon-arr-pagination-prev-gray.svg);
}
.notice .pagination .prev-first {
  background-image: url(../images/icons/icon-double-arr-pagination-prev.svg);
}
.notice .pagination .prev-first.disabled {
  background-image: url(../images/icons/icon-double-arr-pagination-prev-gray.svg);
}
.notice .pagination .page_num {
  display: inline-block;
  font-size: 0;
}
.notice .pagination .page_num a, .pagination .page_num button, .pagination .page_num strong {
  display: inline-block;
  width: 32px;
  margin: 0 3px;
  font-size: 14px;
  line-height: 32px;
  color: #aaa;
  cursor: pointer;
}
.notice .pagination .page_num strong {
  border-radius: 4px;
  background-color: #da0f47;
  color: #fff;
  font-weight: 500;
}
.notice .pagination .page_num a, .pagination .page_num button {
  color: #000;
}
/* // 공지사항 리스트 */

/* 공지사항 상세 */
.notice .board-view-wrap {
  padding-top: 64px;
}
.notice .board-view-wrap .board-view {
  position: relative;
}
.notice .board-view-wrap .board-view-head {
  padding-bottom: 16px;
  border-bottom: 1px solid #666;
}
.notice .board-view-wrap .board-view-head .flag-wrap {
  margin-bottom: 2px;
}
.notice .flag-wrap .flag {
  display: inline-block;
  height: 22px;
  margin-left: 4px;
  color: #da0f47;
  font-size: 12px;
  line-height: 22px;
  line-height: 22px;
  font-weight: 700;
  vertical-align: middle;
}
.notice .flag-wrap .flag:first-child {
  margin-left: 0;
}
.notice .flag-wrap.bar-type .flag {
  min-width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  line-height: 22px;
}
.notice .board-view-wrap .board-view-head .head-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
.notice .board-view-wrap .board-view-head .head-infos {
  margin-top: 8px;
  display: inline-block;
}
.notice .board-view-wrap .board-view-head .head-infos:after {
  content: "";
  display: block;
  clear: both;
}
.notice .board-view-wrap .board-view-head .head-infos>li {
  float: left;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  margin-left: 8px;
  padding-left: 9px;
}
.notice .board-view-wrap .board-view-head .head-infos:first-of-type>li:first-child {
  padding-left: 0;
  margin-left: 0;
}
.notice .board-view-wrap .board-view-head .head-infos>li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 1px;
  height: 14px;
  background: #ddd;
}
.notice .board-view-wrap .board-view-head .head-infos>li:first-child::before {
  display: none;
}
.notice .board-view-wrap .board-view-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}
.notice .tooltip-wrap {
  display: inline-block;
  position: relative;
  height: 24px;
  margin-top: 2px;
  line-height: 24px;
  vertical-align: top;
}
.notice .tooltip-wrap.share {
  height: 32px;
  margin-top: 0;
  padding: 4px;
}
.notice .board-view-wrap .board-view-sub .tooltip-wrap:only-child {
  margin-left: auto;
}
.notice .board-view-wrap .board-view-body {
  padding: 60px 0 120px;
}
.notice .board-view-wrap .board-view-body .view-content {
  padding: 0 24px;
}
.notice .board-view-wrap .board-view-body .view-content div {
  color: #000;
  font-size: 16px;
  line-height: 26px;
}
.notice .board-view-wrap .board-view-body .view-content div > a {
  text-decoration: underline; 
}
.notice .board-view-wrap .board-navi .navi {
  display: flex;
  padding: 24px;
  font-size: 0;
  border-radius: 4px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}
.notice .board-view-wrap .board-navi .navi:after {
  content: "";
  display: block;
  clear: both;
}
.notice .board-view-wrap .board-navi .navi:last-child {
  border-bottom: 1px solid #ddd;
}
.notice .board-view-wrap .board-navi .navi-label {
  position: relative;
  margin-right: 64px;
  color: #666;
}
.notice .board-view-wrap .board-navi .navi-desc {
  color: #000;
  font-weight: 400;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.notice .board-view-wrap .board-navi .navi-date,
.notice .board-view-wrap .board-navi .navi-desc,
.notice .board-view-wrap .board-navi .navi-label,
.notice .board-view-wrap .board-navi .navi-views {
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  vertical-align: middle;
}
.notice .btn-group {
  margin: 64px auto 0;
}
.notice .btn-group.center {
  text-align: center;
}
.notice .board-view-wrap+.btn-group {
  margin-top: 64px;
}
/* 공유하기 툴팁영역(공통) */
.notice .tooltip-wrap .tooltip-icon {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(../images/icons/icon-tooltip.svg) center no-repeat;
  background-size: 100%;
  font-size: 0;
  line-height: 16px;
  cursor: pointer;
}
.notice .tooltip-wrap.share .tooltip-icon {
  width: 24px;
  height: 24px;
  background: url(../images/icons/icon-share-24.svg) no-repeat 0 0;
  line-height: 32px;
}
.notice .tooltip-wrap .tooltip-box {
  display: none;
  position: absolute;
  left: -8px;
  top: 28px;
  min-width: 460px;
  padding: 32px;
  border-radius: 8px;
  background: #fff;
  text-align: left;
  box-shadow: 1px 2px 10px 0 rgb(0 0 0 / 22%);
  z-index: 90;
}
.notice .tooltip-wrap .tooltip-box.fixed-right {
  left: auto;
  right: 0;
}
.notice .tooltip-wrap.share .tooltip-box {
  top: 34px;
  min-width: 348px;
  border-radius: 8px;
  box-shadow: 2px 4px 16px 0 rgb(0 0 0 / 16%);
  line-height: 0;
}
.notice .tooltip-wrap.share .title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.notice .tooltip-wrap.share .sns-wrap {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 2px solid #000;
  text-align: center;
}
.notice .sns-wrap .sns-list {
  display: inline-block;
}
.notice .tooltip-wrap.share .sns-wrap .sns-list>li {
  display: inline-block;
}
.notice .sns-wrap .sns-list li:first-child {
  margin-left: 0;
}
.notice .sns-wrap .sns-list li .ico-btn {
  display: block;
  min-width: 56px;
  padding-top: 36px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.notice .sns-wrap .sns-list li .ico-btn.fb {
  background: url(../images/icons/icon-facebook-black.svg) center 0 no-repeat;
  background-size: 32px 32px;
}
.notice .sns-wrap .sns-list li .ico-btn.tw {
  background: url(../images/icons/icon-twitter-black.svg) center 0 no-repeat;
  background-size: 32px 32px;
}
.notice .sns-wrap .sns-list li .ico-btn.kk {
  background: url(../images/icons/icon-kakao-black.svg) center 0 no-repeat;
  background-size: 32px 32px;
}
.notice .sns-wrap .sns-list li .ico-btn.url {
  background: url(../images/icons/icon-url-black.svg) center 0 no-repeat;
  background-size: 32px 32px;
}
.notice .tooltip-wrap .btn-close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 32px;
  height: 32px;
}
.notice .tooltip-wrap .btn-close {
  top: 10px;
  right: 10px;
}
.notice .tooltip-wrap.share .btn-close {
  top: 32px;
  right: 32px;
}
.notice .btn-area {
  margin-top:64px
}
.notice .btn-area .btn {
  font-weight: bold;
}


/* 공유하기 툴팁영역(공통) */
.tooltip-wrap .tooltip-icon {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(../images/icons/icon-tooltip.svg) center no-repeat;
  background-size: 100%;
  font-size: 0;
  line-height: 16px;
  cursor: pointer;
}
.tooltip-wrap.share .tooltip-icon {
  width: 24px;
  height: 24px;
  background: url(../images/icons/icon-share-24.svg) no-repeat 0 0;
  line-height: 32px;
}
.tooltip-wrap .tooltip-box {
  display: none;
  position: absolute;
  left: -8px;
  top: 28px;
  min-width: 460px;
  padding: 32px;
  border-radius: 8px;
  background: #fff;
  text-align: left;
  box-shadow: 1px 2px 10px 0 rgb(0 0 0 / 22%);
  z-index: 90;
}
.tooltip-wrap .tooltip-box.fixed-right {
  left: auto;
  right: 0;
}
.tooltip-wrap.share .tooltip-box {
  top: 34px;
  min-width: 348px;
  border-radius: 8px;
  box-shadow: 2px 4px 16px 0 rgb(0 0 0 / 16%);
  line-height: 0;
}
.tooltip-wrap.share .title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.tooltip-wrap.share .sns-wrap {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 2px solid #000;
  text-align: center;
}
.sns-wrap .sns-list {
  display: inline-block;
}
.tooltip-wrap.share .sns-wrap .sns-list>li {
  display: inline-block;
}
.sns-wrap .sns-list li:first-child {
  margin-left: 0;
}
.sns-wrap .sns-list li .ico-btn {
  display: block;
  min-width: 56px;
  padding-top: 36px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.sns-wrap .sns-list li .ico-btn.fb {
  background: url(../images/icons/icon-facebook-black.svg) center 0 no-repeat;
  background-size: 32px 32px;
}
.sns-wrap .sns-list li .ico-btn.tw {
  background: url(../images/icons/icon-twitter-black.svg) center 0 no-repeat;
  background-size: 32px 32px;
}
.sns-wrap .sns-list li .ico-btn.kk {
  background: url(../images/icons/icon-kakao-black.svg) center 0 no-repeat;
  background-size: 32px 32px;
}
.sns-wrap .sns-list li .ico-btn.url {
  background: url(../images/icons/icon-url-black.svg) center 0 no-repeat;
  background-size: 32px 32px;
}
.tooltip-wrap .btn-close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 32px;
  height: 32px;
}
.tooltip-wrap .btn-close {
  top: 10px;
  right: 10px;
}
.tooltip-wrap.share .btn-close {
  top: 32px;
  right: 32px;
}

/* // 공지사항 상세 */

/* mobile */
@media screen and (max-width: 767px) {
  /* 공지사항 리스트 */
  .notice .tb_row.board-type tbody tr {
    padding: 15px 12px;
  }
  .notice .tb_row.board-type tbody td {
    display: block;
    height: auto;
    padding: 0;
    text-align: left;
    border: 0 none;
  }
  .notice .tb_row.board-type tbody td.board-tit {
    margin-bottom: 3px;
  }
  .notice .tb_row.board-type tbody td.board-tit p {
    font-weight: bold;
  }
  /* 서치영역(공통) */
  .notice .search-wrap {
    margin: 0 0 70px;
  }
  .notice .keyword-search {
    position: relative;
    text-align: center;
    z-index: 2;
  }
  .notice .keyword-search .search-box {
    display: block;
    width: 100%;
  }
  .notice .keyword-search .search-select {
    width: 100%;
  }
  .notice .keyword-search .search-select input[type=text] {
    padding: 10px 54px 10px 36px;
    font-size: 13px;
    line-height: 18px;
  }
  .notice .btn-back {
    top: 11px;
    left: 15px;
  }
  .notice .btn-clear {
    right: 45px;
  }
  .notice .btn-search {
    width: 30px;
    height: 38px;
    right: 10px;
  }
  .notice .keyword-search .search-error {
    font-size: 13px;
    line-height: 21px;
  }
  .notice .keyword-search .search-error::before {
    margin-top:1px
  }
  .notice .total {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 17px;
  }
  /* pagination(공통) */
  .notice .pagination {
    margin: 40px -3.5px 0;
  }
  .notice .pagination .next, .pagination .prev, .notice .pagination .next-last, .pagination .prev-first {
    width: 30px;
    height: 30px;
  }
  .notice .pagination .page_num a, .pagination .page_num button, .pagination .page_num strong {
    width: 30px;
    margin: 0 3.5px;
    font-size: 13px;
    line-height: 30px;
  }
  /* // 공지사항 리스트 */

  /* 공지사항 상세 */
  .notice .board-view-wrap {
    padding-top: 32px;
  }
  .notice .board-view-wrap .board-view-head {
    padding-bottom: 12px;
  }
  .notice .board-view-wrap .board-view-head .flag-wrap {
    margin-bottom: 4px;
  }
  .notice .flag-wrap.bar-type .flag {
    height: auto;
    font-size: 11px;
    line-height: 16px;
  }
  .notice .board-view-wrap .board-view-head .head-title {
    font-size: 24px;
    line-height: 30px;
  }
  .notice .board-view-wrap .board-view-head .head-infos {
    margin-top: 10px;
    display: block;
  }
  .notice .board-view-wrap .board-view-head .head-infos>li {
    font-size: 12px;
    line-height: 17px;
  }
  .notice .board-view-wrap .board-view-head .head-infos>li+li:before {
    height: 10px;
  }
  .notice .board-view-wrap .board-view-sub {
    padding: 9.5px 0;
  }
  .notice .board-view-wrap .board-view-body {
    padding: 40px 0 60px;
  }
  .notice .board-view-wrap .board-view-body .view-content {
    padding: 0;
  }
  .notice .board-view-wrap .board-view-body .view-content div {
    font-size: 14px;
    line-height: 22px;
  }
  .notice .board-view-wrap .board-navi .navi {
    padding: 16px 12px;
    flex-wrap: wrap;
  }
  .notice .board-view-wrap .board-navi .navi-label {
    margin-right: 24px;
  }
  .notice .board-view-wrap .board-navi .navi-desc {
    flex: auto;
    width: calc(100% - 70px);
  }
  .notice .board-view-wrap .board-navi .navi-date,
  .notice .board-view-wrap .board-navi .navi-desc,
  .notice .board-view-wrap .board-navi .navi-label,
  .board-view-wrap .board-navi .navi-views {
    font-size: 14px;
    line-height: 22px;
  }
  .notice .btn-group {
    margin-top: 32px;
    padding: 0;
  }
  .notice .board-view-wrap+.btn-group {
    margin-top: 40px;
  }

  /* 공유하기 툴팁영역(공통) */
  .notice .tooltip-wrap {
    position: static;
    margin-top: 0;
    padding-top: 0;
  }
  .notice .tooltip-wrap .tooltip-box {
    position: absolute;
    left: 16px;
    right: 16px;
    top: initial;
    bottom: initial;
    min-width: initial;
    margin-top: 8px;
    padding: 24px;
    box-shadow: 2px 4px 20px 0 rgb(0 0 0 / 22%);
  }
  .notice .tooltip-wrap.share .tooltip-box {
    min-width: 320px;
  }
  .notice .sns-wrap .sns-list li {
    margin-left: 12px;
  }
  .notice .sns-wrap .sns-list li .ico-btn {
    font-size: 13px;
    line-height: 21px;
  }
  .notice .tooltip-wrap .btn-close {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
  }
  .notice .tooltip-wrap .btn-close {
    top: 8px;
    right: 10px;
  }
  .notice .tooltip-wrap.share .btn-close {
    top: 24px;
    right: 24px;
  }
  .notice .btn-area {
    margin-top:40px
  }
  .notice .btn-area .btn {
    min-width: 0;
  }
  /* // 공지사항 상세 */
}