@charset "UTF-8";

/* common > option list */
.option-list{font-size:0;}
.option-list span{display:inline-block;position:relative;font-size:12px;font-weight:700;line-height:20px;}
.option-list span + span{margin-left:15px;}
.option-list span + span:before{display:block;content:'';position:absolute;top:calc(50% - 4px);left:-7px;width:1px;height:10px;background:#ddd;}
.option-list span.col01{color:#da0f47;}

/* shop > full height */
html.full-height,
html.full-height body,
html.full-height .wrap{position:relative;height:100%;}
html.full-height .wrap #content{margin-bottom:-132px;}
html.full-height .wrap #content{position:relative;height:calc(100% - 144px);}
html.full-height .wrap #content .shop-search-wrap{position:relative;min-width:1380px;max-width:1920px;height:100%;margin:0 auto;}
html.full-height .floating-block{display:none;}

/* shop > shop search */
.shop-search-wrap{display:flex;overflow:hidden;margin-bottom:-132px;}
.shop-search-wrap .shop-search-head{position:relative;display:flex;flex:none;flex-direction:column;width:500px;box-shadow:2px 4px 20px rgba(0,0,0,0.16)}
.shop-search-wrap .shop-search-head [class*="tab"] {position:static}
.shop-search-wrap .shop-search-head .tab-area-wrap {display:flex;flex-direction:column}
.shop-search-wrap .shop-search-head > h2{flex:none;font-size:32px;line-height:47px;padding:16px 32px;}
.shop-search-wrap .shop-search-head .tab-area{flex:none;padding:16px 32px 0;}
.shop-search-wrap .shop-search-head .search-result{flex:1;overflow:hidden;}
.shop-search-wrap .shop-search-head .tab-area .mToggle{display:none;}
.tab-area-wrap{height:calc(100% - 79px);}
.tab-area .tab-title{font-size:0;border-bottom:1px solid #ddd;}
.tab-area .tab-title li{display:inline-block;position:relative;padding:0 2px 8px;}
.tab-area .tab-title li + li{margin-left:34px;}
.tab-area .tab-title li a{display:block;font-weight:700;font-size:18px;color:#666;line-height:27px;}
.tab-area .tab-title li.active a{color:#000;}
.tab-area .tab-title li.active a:after{display:block;content:'';position:absolute;bottom:-1px;left:0;width:100%;height:2px;background:#000;}
.tab-area .tab-content-group{position:relative;height:calc(100% - 40px);}
.tab-area .tab-content{display:none;padding-top:14px;}
.tab-area .tab-content.active{display:block;}
.tab-area .tab-content .search-select{display:flex;position:relative;}
.tab-area .tab-content .search-select.typeA > *{flex:1;}
.tab-area .tab-content .search-select.typeA > * + *{margin-left:9px;}
.tab-area .tab-content .search-select.typeB{flex-wrap:wrap}
.tab-area .tab-content .search-select.typeB > *{flex:none;width:calc(50% - 4.5px)}
.tab-area .tab-content .search-select.typeB > * + *{margin-left:9px;}
.tab-area .tab-content .search-select.typeB > *:nth-child(3){width:calc(100% - 74px);margin-left:0;}
.tab-area .tab-content .search-select.typeB > *:nth-child(2) ~ *{margin-top:9px;}
.tab-area .tab-content .search-select.typeB .btn-area{width:auto;}
.tab-area .tab-content .search-select.typeC input{flex:1;}
.tab-area .tab-content .search-select .sltBox > a{display:block;position:relative;width:100%;height:48px;color:#666;line-height:46px;padding:0 40px 0 16px;}
.tab-area .tab-content .search-select .sltBox.change > a{color:#000;}
.tab-area .tab-content .search-select .sltBox > a:before{display:block;content:'';position:absolute;top:calc(50% - 8px);right:16px;width:16px;height:16px;margin-top:0;background:url('../images/icons/btn-down-16-black.svg') no-repeat 0 0;background-size:contain;}
.tab-area .tab-content .search-select .sltBox > ul{overflow-y:auto;top:47px;left:0;width:100%;max-height:200px;background:#fff;border:1px solid #000;border-top:0 none;border-radius:0 0 8px 8px;}
.tab-area .tab-content .search-select .sltBox > ul a{display:block;width:100%;height:46px;line-height:46px;padding:0 16px;}
.tab-area .tab-content .search-select .sltBox > ul a:hover,
.tab-area .tab-content .search-select .sltBox > ul a:focus,
.tab-area .tab-content .search-select .sltBox > ul .active a{background:#f4f4f4;}
.tab-area .tab-content .search-select .sltBox.border > a{border:1px solid #ddd;border-radius:8px;}
.tab-area .tab-content .search-select .sltBox.border.on > a{border-bottom:0 none;border-color:#000;border-radius:8px 8px 0 0;}
.tab-area .tab-content .search-select > .btn-area{flex:none;margin-left:9px;}
.tab-area .tab-content .search-select > .btn-area > *{display:block;width:65px;height:48px;font-size:16px;text-align:center;line-height:46px;border:1px solid #000;border-radius:8px;}
.tab-area .tab-content .search-select > .btn-area > *:disabled{color:#aaa;background:#f4f4f4;border-color:#ddd;cursor:default;}
.tab-area .tab-content .search-select .btn-clear{display:none;overflow:hidden;position:absolute;top:calc(50% - 10px);right:88px;width:20px;height:20px;text-indent:-9999em;background:url('../images/icons/icon-delete-20.svg') no-repeat 0 0;}
.tab-area .tab-content .search-select input[type="text"]{color:#000;padding:0 46px 0 16px;border:1px solid #ddd;border-radius:8px;}
.tab-area .tab-content .search-select input[type="text"]::placeholder{color:#666;}
.tab-area .tab-content .search-select input[type="text"]:valid + .btn-clear{display:block;}

.search-result{height:auto;padding:32px 32px 0;}
.search-result .result-head{display:flex;padding-bottom:12px;border-bottom:1px solid #666;}
.search-result .result-head .txt-box{flex:1;font-size:16px;color:#000;line-height:24px;}
.search-result .result-head .txt-box em{font-weight:700;color:#da0f47;}
.search-result .result-head .btn-filter{position:relative;flex:none;display:block;width:25px;height:25px;background:url(../images/icons/btn-filter-50.svg) no-repeat center / contain}
.search-result .result-head .btn-filter > a{display:block;width:100%;height:100%;}
.search-result .result-head .btn-filter > .count{position:absolute; display:block; width:16px; height:16px; top:-1.5px; right:-4px; border-radius:50%; background-color:#da0f47; color:#fff; font-size:12px; font-weight:500; line-height:15px; text-align:center}
.search-result .result-body{position:relative;height:calc(100% - 37px);padding-top:25px;}
.search-result .result-body ul{overflow-y:auto;position:relative;width:calc(100% + 30px);height:100%;padding-bottom:32px;}
.search-result .result-body ul.mCS_no_scrollbar{padding-right:32px;}
.search-result .result-body ul li{max-width:436px; padding-bottom:25px;margin-bottom:25px;border-bottom:1px solid #ddd;}
.search-result .result-body ul li:last-of-type{margin-bottom:0;border-bottom:0}
.search-result .result-body ul li a.base-link{display:block;position:relative;font-size:0;padding-left:29px;}
.search-result .result-body ul li a.base-link:before{display:block;content:'';position:absolute;top:2px;left:0;width:24px;height:24px;background-image:url('../images/icons/icon_map_disabled.svg');background-repeat:no-repeat;background-position:0 0;background-size:contain;}
.search-result .result-body ul li.active a.base-link:before{background-image:url('../images/icons/icon_map_select.svg');}
.search-result .result-body ul li a.base-link strong{display:inline-block;font-size:18px;line-height:27px;}
.search-result .result-body ul li a.base-link em{display:block;font-size:16px;letter-spacing:-0.03em;line-height:24px;margin-top:8px;}
.search-result .result-body ul li a.base-link .interval{position:absolute;top:6px;right:0;font-size:12px;color:#999;}
.search-result .result-body ul li a.base-link .option-list{margin-left:12px;vertical-align:3px;}
.search-result .result-body ul li .sub-info{font-size:0;text-align:right;padding-left:29px;margin-top:4px;}
.search-result .result-body ul li .sub-info .call-num{display:block;float:left;font-size:16px;font-weight:400;color:#666;line-height:24px;padding-left:20px;background:url('../images/icons/icon_call.svg') no-repeat 0 60%;background-size:16px 16px;}
.search-result .result-body ul li .sub-info a:not(.call-num){min-width:auto;border-radius:16px;line-height:24px;padding:0 12px;}
.search-result .result-body ul li .sub-info a.active{color:#da0f47;border-color:#da0f47;}
.search-result .result-body ul li .sub-info a + a + a {margin-left:8px;}
.search-result .result-body ul li.nullList{text-align:center;padding:25px 0 50px;}
.search-result .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{right:-32px;margin:0;}

.mCSB_scrollTools{width:10px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#aaa !important;}
.mCSB_scrollTools .mCSB_draggerRail{background:transparent;}

.search-result .result-filter{display:none;position:absolute;bottom:0;left:0;width:100%;height:100%;padding:20px 40px;background:#fff;box-shadow:2px 4px 20px rgba(0,0,0,0.16);}
.search-result .result-filter .filter-title{font-size:16px;line-height:24px;padding-bottom:20px;border-bottom:1px solid #ddd;}
.search-result .result-filter .filter-close{overflow:hidden;position:absolute;top:20px;right:40px;width:24px;height:24px;text-indent:-9999em;background:url('../images/icons/btn_close.svg') no-repeat 0 0;background-size:contain;}
.search-result .result-filter .filter-list{padding:24px 0;border-bottom:1px solid #ddd;}
.search-result .result-filter .filter-list > em{display:block;font-size:16px;font-weight:700;}
.search-result .result-filter .filter-list > em a{display:block;position:relative;width:100%;}
.search-result .result-filter .filter-list > em a:after{display:block;content:'';position:absolute;top:calc(50% - 8px);right:0;width:16px;height:16px;background:url('../images/icons/btn-down-16-black.svg') no-repeat 0 0;transform:rotate(180deg);transition:all 0.1s linear;}
.search-result .result-filter .filter-list.closed > em a:after{transform:rotate(0deg);}
.search-result .result-filter .filter-list ul{padding-top:18px;}
.search-result .result-filter .filter-list li + li{margin-top:8px;}
.search-result .btn-area{margin-top:24px;}
.search-result .btn-reset{font-size:14px;line-height:20px;padding-right:24px;background:url('../images/icons/icon-reset-btn.svg') no-repeat 100% 50%;}

.tab-area .tab-content .result-body ul li.active a.base-link:before{background-image:url('../images/icons/icon_map_select.svg');}

.shop-search-wrap .shop-search-body{flex:1;position:relative;background:lightgray;}
.shop-search-wrap .shop-search-body .btn-area.innerMap{display:flex;position:absolute;bottom: 20px;left:0;width:100%;height:58px;justify-content:center;align-items:center;z-index:1;}
.shop-search-wrap .shop-search-body .btn-area.innerMap.gps {position:absolute;width:auto;left:auto;bottom:20px;right:20px}
.shop-search-wrap .shop-search-body .desc-layer{display:flex;position:absolute;bottom:16px;left:0;width:100%;justify-content:center;align-items:center;z-index:100}
.shop-search-wrap .shop-search-body .desc-layer .txt-desc{flex:none;position:relative;min-width:444px;max-width:calc(100% - 32px);font-size:16px;color:#fff;text-align:center;line-height:24px;padding:19px 44px;background:rgba(0,0,0,0.7);border-radius:81px;}
.shop-search-wrap .shop-search-body .desc-layer .txt-desc .close-pop{display:block;overflow:hidden;position:absolute;top:17px;right:24px;width:24px;height:24px;font-size:0;text-indent:-9999em;background:url('../images/icons/btn_close_desc_popup.svg') no-repeat 0 0;background-size:contain;}

/* benefit > card */
.static-type .static-tit {padding:60px 0 14px; font-size:0; border-bottom:2px solid #000;}
.static-type .static-tit .tit {display:inline-block; font-size:24px; font-weight:700; line-height:36px;}
.static-type .static-tit .desc {display:inline-block; margin-left:8px; font-size:16px; line-height:24px;}
.static-type .static-block{display:flex;width:100%;padding:50px 0;border-bottom:1px solid #ddd;}
.static-type .static-block .thumb{flex:none;text-align:center;padding:0 50px;}
.static-type .static-block .thumb img{display:block;}
.static-type .static-block .thumb .btn-area{margin-top:25px;}
.static-type .static-block .thumb .btn-area .btn{width:220px;}
.static-type .static-block .thumb .txt-desc{font-size:16px;line-height:24px;margin-top:12px;}
.static-type .static-block .cont-block{flex:1;padding:0 22px 0 100px;}
.static-type .static-block .cont-block .title{font-size:24px;font-weight:700;line-height:32px;word-break:keep-all}
.static-type .static-block .cont-block .title + *{margin-top:20px !important;}
.static-type .static-block .cont-block .desc{font-size:16px;line-height:24px;margin:1px 0;}
.static-type .static-block .cont-block .explan-box{margin-top:30px;}
.static-type .static-block .cont-block .explan-box .tit{font-size:16px;font-weight:700;line-height:24px;}
.static-type .static-block .cont-block .explan-box .tit + *{margin-top:20px !important;}
.static-type .static-block .cont-block .explan-box .txt-desc{font-size:16px;font-weight:400;line-height:24px;margin:1px 0;}
.static-type .static-block .cont-block .explan-box > ul{padding:7px 0;}
.static-type .static-block .cont-block .explan-box > ul + *{margin-top:11px !important;}
.static-type .static-block .cont-block .explan-box > ul > li{position:relative;padding-left:10px;}
.static-type .static-block .cont-block .explan-box > ul > li::before{display:block;position:absolute;top:0;left:-5px;font-weight:700;}
.static-type .static-block .cont-block .explan-box > ul > li + li{margin-top:4px;}
.static-type .static-block .cont-block .explan-box > ul > li > ul{padding:6px 0;}
.static-type .static-block .cont-block .explan-box > ul > li > ul > li{position:relative;font-weight:400;line-height:20px;padding-left:10px;}
.static-type .static-block .cont-block .explan-box > ul > li > ul > li::before{display:block;content:'-';position:absolute;top:0;left:0;}
.static-type .static-block .cont-block .explan-box > ul > li > ul > li + li{margin-top:6px;}
.static-type .static-block .cont-block .explan-box > ul > li > ul > li > *{margin-top:6px;}
.static-type .static-block .cont-block .explan-box > ul.bullet > li{font-size:14px;line-height:20px;}
.static-type .static-block .cont-block .explan-box > ul.bullet > li::before {content:'ㆍ';}
.static-type .static-block .cont-block .explan-box > ul.dash > li {font-size:16px;line-height:24px;word-break:keep-all;}
.static-type .static-block .cont-block .explan-box > ul.dash > li::before{content:'-';left:0;}
.static-type .static-block .cont-block .explan-box table{table-layout:fixed;width:100%;border-top:1px solid #e1e1e1;}
.static-type .static-block .cont-block .explan-box table + *{margin-top:20px !important;}
.static-type .static-block .cont-block .explan-box table th,
.static-type .static-block .cont-block .explan-box table td{text-align:center;}
.static-type .static-block .cont-block .explan-box table th + th,
.static-type .static-block .cont-block .explan-box table td + td{border-left:1px solid #e1e1e1}
.static-type .static-block .cont-block .explan-box table th{font-size:16px;color:#666;padding:17px 0;background:#f4f4f4;}
.static-type .static-block .cont-block .explan-box table td{font-size:16px;padding:24px 0;border-bottom:1px solid #e1e1e1;}
.static-type .static-block .cont-block .explan-box table td span{display:block;}
.static-type .static-block .cont-block .explan-box table td span.pay{line-height:24px;}
.static-type .static-block .cont-block .explan-box table td span.txt{font-size:14px;line-height:20px;}
.static-type .static-block .cont-block .explan-box .bold-txt{font-size:14px;font-weight:700;line-height:20px;}
.static-type .static-block .cont-block .explan-box .bold-txt + .bold-txt{margin-top:6px;}

.waring-block{font-size:14px;line-height:22px;padding:40px;background:#f4f4f4;border-radius:8px;}
.waring-block > strong{display:block;font-weight:500;}
.waring-block > ul{margin-top:8px;}
.waring-block > ul > li{position:relative;padding-left:14px;}
.waring-block > ul > li:before{display:block;content:'ㆍ';position:absolute;top:0;left:-4px;font-weight:700;}

/* benefit > signature */
.signature .top-visual h3{font-size:48px;color:#fff;text-align:center;line-height:65px;}
.signature .cont-type-full{width:100%;max-width:1920px;padding:100px 0;margin:0 auto;}
.signature .cont-type-full.special{background:url('../images/bg_signature_desc.png') no-repeat 50% 0;}
.signature .cont-type-full h4{font-size:32px;text-align:center;line-height:46px;}
.signature .cont-type-full .head-desc{font-size:20px;text-align:center;line-height:29px;margin-top:12px;}
.signature .special h4{color:#fff;}
.signature .special dl{display:flex;max-width:1460px;font-weight:400;color:#fff;padding:0 40px;margin:80px auto 0;}
.signature .special dl dt{position:relative;flex:none;width:540px;font-size:24px;line-height:35px;}
.signature .special dl dt:after{display:block;content:'';position:absolute;top:46px;left:0;width:48px;height:5px;background:#da0f47;}
.signature .special dl dd{flex:1;font-size:20px;line-height:28px;}
.signature .special dl dd strong{display:block;font-size:20px;font-weight:400;}
.signature .special dl dd strong + *{margin-top:12px;}
.signature .special dl dd p{font-size:16px;}
.signature .special dl dd ul{font-size:16px;}
.signature .special dl dd ul li{position:relative;padding-left:11px;}
.signature .special dl dd ul li:before{display:block;content:'';position:absolute;top:13px;left:0;width:3px;height:3px;background:#fff;border-radius:100%;}

.signature .service{background:#f4f4f4;}
.signature .service .service-wrap{max-width:1460px;padding:0 40px;margin:60px auto 0;}
.signature .service .service-wrap dt{font-size:24px;font-weight:700;line-height:35px;}
.signature .service .service-wrap dd{margin-top:20px;}
.signature .service .service-wrap dd ul{display:flex;justify-content:space-between;}
.signature .service .service-wrap dd ul li{width:256px;height:360px;text-align:center;padding:30px 0 0;background:#fff;border:1px solid #ddd;border-radius:8px;}
.signature .service .service-wrap dd ul li > *{display:block;}
.signature .service .service-wrap dd ul li strong{font-size:24px;line-height:35px;}
.signature .service .service-wrap dd ul li img{margin:17px auto 0;}
.signature .service .service-wrap dd ul li span{font-size:16px;line-height:24px;margin-top:22px;}
.signature .service .service-wrap .subs-desc-list{margin-top:12px;}
.signature .service .service-wrap .subs-desc-list li{position:relative;font-size:16px;line-height:28px;padding-left:11px;}
.signature .service .service-wrap .subs-desc-list li:before{display:block;content:'';position:absolute;top:13px;left:0;width:3px;height:3px;background:#000;border-radius:100%;}

.signature .warnning{padding:40px 0;background:#ddd;}
.signature .warnning ul{max-width:1460px;font-size:18px;line-height:30px;padding:0 40px;margin:0 auto;}
.signature .warnning ul li{position:relative;padding-left:22px;}
.signature .warnning ul li:before{display:block;content:'※';position:absolute;top:0;left:0;}

/* benefit > 이달의 혜택 */
.benefit-month {position:relative;}
.benefit-month .img-slide {border-radius:0;}
.benefit-month .popup.v-large .pop-wrap {border-radius:0;}
.benefit-month .btn-area {margin-top:65px;}

/* step on */
.step-cont{border-top:1px solid #707070;}
.step-cont .step-cont-block{border-bottom:1px solid #707070;}
.step-cont .step-title{position:relative;font-size:18px;color:#666;line-height:28px;padding:22px 0;}
.step-cont .step-title .title-step strong{font-size:20px;margin-right:15px;}
.step-cont .step-title .cont-summary{font-size:0;white-space:nowrap;}
.step-cont .step-title .cont-summary .summary-detail{display:inline-block;}
.step-cont .step-title .cont-summary .summary-detail + .summary-detail:before{display:inline-block;content:'/';font-size:18px;font-weight:600;color:#666;line-height:28px;margin:0 3px;}
.step-cont .step-title .cont-summary .summary-detail dl{display:inline-block;}
.step-cont .step-title .cont-summary .summary-detail dl > *{display:inline-block;font-size:18px;line-height:28px;}
.step-cont .step-title .cont-summary .summary-detail dl dt:after{display:inline;content:':';margin:0 3px;}
.step-cont .step-title .cont-summary .summary-detail dl dd{font-weight:600;color:#da0f47;}
.step-cont .step-title .cont-summary .summary-detail dl dd + dd:before{display:inline;content:',';margin-right:5px;}
.step-cont .step-title .stepToggle{display:block;overflow:hidden;position:absolute;top:calc(50% - 16px);right:0;width:32px;height:32px;font-size:0;text-indent:-9999em;background:url('../images/icons/icon-arrow-down-32.svg') no-repeat 0 0;}
.step-cont .step-detail{padding-bottom:70px;}
.step-cont .step-detail .detail-block + .detail-block{margin-top:50px;}
.step-cont .step-detail .input-icon-type > li{flex:1;}
.step-cont .step-detail .input-icon-type > li + li{margin-left:15px;}
.step-cont .step-detail .btn-area{margin:20px 0;}
.step-cont .step-detail .btn-area.right{text-align:right;}
.detail-block.step-area{border-top:0 none;}
.detail-block.step-area .main-area{padding:0;}
.detail-block.step-area .shop-date-wrap .sort-area{top:20px;}
.detail-block .step-area{border-top:0 none;}
.step-cont .page-btn{text-align:center;margin-top:52px;}

ul.input-list-type .txt-box .input-wrap{width:100%;}

/* bsf res visit */
.img-slide-wrap .swiper-slide{overflow:hidden;position:relative;}
.img-slide-wrap .btn-video-view{position:absolute;top:25px;left:25px;height:46px;font-size:16px;color:#fff;line-height:46px;padding:0 23px;background:rgba(0,0,0,0.3);border-radius:23px;z-index:10;}

/* shop > map */
.map-balloon{display:inline-block;position:relative;padding:6px 22px 7px;background:#999;border-radius:7px;box-shadow:0 3px 6px rgba(0,0,0,0.16);}
.map-balloon:after{display:block;content:'';position:absolute;bottom:-10px;left:calc(50% - 5px);border-top:10px solid #999;border-left:5px solid transparent;border-right:5px solid transparent;}
.map-balloon p{font-size:14px;color:#fff;line-height:20px;}
.map-balloon.active{background:#da0f47;z-index: 1;}
.map-balloon.active:after{border-top-color:#da0f47;}
.map-mark{display:inline-block;position:relative;width:28px;height:28px;background:#fff;border-radius:100%;border:2px solid #da0f47;box-shadow:0 3px 6px rgba(0,0,0,0.16);}
.map-mark:after{display:block;content:'';position:absolute;top:calc(50% - 9px);left:calc(50% - 9px);width:18px;height:18px;background:#da0f47;border-radius:100%;}

/* high dpi */
@media screen and (min-width:1025px){
    .search-result .result-filter{overflow-y:auto}
}

/* low dpi */
@media screen and (max-width:1380px){
    html.full-height .wrap #content .shop-search-wrap{min-width:0;}
}

/* tablet dpi */
@media screen and (min-width:768px) and (max-width:1024px){
    html.full-height,
    html.full-height body{overflow-x:auto;}

    /* benefit > card */
    .static-type .static-block{display:block;}
    .static-type .static-block .thumb img{margin:0 auto;}
    .static-type .static-block .cont-block{padding-left:0;margin-top:50px;}

    /* shop > shop search */
    .search-result .result-body ul.mCS_no_scrollbar{padding-right:0;}

    /* reservation > visit */
    .img-slide-wrap .btn-video-view{top:10px;left:10px;height:29px;font-size:14px;line-height:29px;border-radius:14px;}
}

/* mobile */
@media screen and (max-width:767px){
    /* common > option list */
    .option-list span{font-size:10px;line-height:15px;}
    .option-list span + span:before{height:8px;}

    /* common > full height */
    html.full-height,
    html.full-height body,
    html.full-height .wrap{overflow:hidden;height:100%;}
    html.full-height .wrap #content{height:calc(100% - 82px);}
    html.full-height .wrap #content.overDime{z-index:1000;}
    html.full-height .wrap #content .shop-search-wrap{display:block;min-width:0;height:100%;}
    html.full-height footer{display:none;}
    html.full-height .floating-block{display:none !important;}

    /* shop > search area */
    .shop-search-wrap .shop-search-head{display:block;width:100%;}
    .shop-search-wrap .shop-search-head > h2{font-size:24px;text-align:center;line-height:35px;padding:8px 16px;}
    .shop-search-wrap .shop-search-head .tab-area{overflow:hidden;left:0;width:100%;padding:40px 0 0;z-index:1;}
    .shop-search-wrap .shop-search-head .tab-area.active{padding-top:40px;}
    .shop-search-wrap .shop-search-head .tab-area .mToggle{display:block;position:absolute;top:14px;left:50%;transform:translateX(-50%);width:auto;height:26px;padding:0 12px;font-size:11px;color:#666;background:#fff;border-radius:8px 8px 0 0;box-shadow:0 -8px 10px 0 rgba(0,0,0,0.08);z-index:2}
    .shop-search-wrap .shop-search-head .tab-area .mToggle:after{display:inline-block;content:'';width:12px;height:12px;margin-left:5px;background:url('../images/icons/icon_open.svg') no-repeat 0 0;background-size:contain;vertical-align:-2px;transition:all 0.1s linear;transform:rotate(180deg);}
    .shop-search-wrap .shop-search-head .tab-area .mToggle.active:after{transform:rotate(0);}
    .shop-search-wrap .shop-search-head .tab-area .tab-title {padding:14px 16px 0;background:#fff;box-shadow:0 0px 16px rgba(0,0,0,0.16);}
    .shop-search-wrap .shop-search-head .tab-area .tab-content-group {padding:0 16px;background:#fff}
    .shop-search-wrap .shop-search-head .search-result{background:#fff;z-index:1;}

    .tab-area-wrap{position:fixed!important;bottom:0;left:0;width:100%;height:160px;transition:all 0.1s linear;z-index:2;}
    .tab-area-wrap.active{height:calc(100% - 48px);padding-bottom:70px}
    .tab-area .tab-title{display:none;}
    .tab-area .tab-title li{padding:0 1px 12px;}
    .tab-area .tab-title li + li{margin-left:20px;}
    .tab-area .tab-title li a{font-size:16px;line-height:23px;}
    .tab-area .tab-title li.active a:after{z-index:1;}

    .tab-area .tab-content-group{display:none;}
    .tab-area .tab-content .search-select .sltBox > a{display:none;}
    .tab-area .tab-content .search-select .sltBox select{width:100%;height:42px;font-size:12px;line-height:40px;padding:0 12px;background:url('../images/icons/btn-down-16-black.svg') no-repeat calc(100% - 12px) 50%;border:1px solid #ddd;border-radius:8px;}
    .tab-area .tab-content .search-select > .btn-area > *{font-size:12px;height:42px;line-height:40px;}
    .tab-area .tab-content .search-select input[type="text"]{max-width:calc(100% - 74px);font-size:12px;}

    .search-result{padding:16px 16px 0;}
    .search-result .result-head{padding-bottom:10px;}
    .search-result .result-head .txt-box{font-size:12px;line-height:18px;}
    .search-result .result-head .btn-filter{width:24px;height:24px;}

    .search-result .result-body{padding:14px 0;overflow-y:auto;}
    .search-result .result-body.active{height:calc(100% - 35px);}
    .search-result .result-body ul{width:100%;padding-bottom:0;overflow-y:initial;}
    .search-result .result-body ul.mCS_no_scrollbar{padding-right:0;}
    .search-result .result-body ul li{max-width:100%; padding-bottom:14px;margin-bottom:14px;}
    .search-result .result-body ul li a.base-link{padding-left:25px;}
    .search-result .result-body ul li a.base-link:before{top:0;width:20px;height:20px;}
    .search-result .result-body ul li a.base-link strong{display:block;font-size:13px;line-height:19px;}
    .search-result .result-body ul li a.base-link em{font-size:11px;line-height:17px;margin-top:4px;}
    .search-result .result-body ul li a.base-link .option-list{display:block;margin-left:0;margin-top:4px;}
    .search-result .result-body ul li a.base-link .interval{top:1px;font-size:11px;}
    .search-result .result-body ul li .sub-info{padding-left:25px;margin-top:6px;}
    .search-result .result-body ul li .sub-info .call-num{display:block;font-size:0 !important;line-height:18px;padding:0 10px;background-size:12px 12px;background-position:7px 55%;border:1px solid #ddd;border-radius:10px;}
    .search-result .result-body ul li .sub-info .call-num:after{content:'통화';font-size:11px;padding-left:10px;vertical-align:middle;}
    .search-result .result-body ul li .sub-info a:not(.call-num){font-size:11px;line-height:18px;padding:0 10px;}

    .shop-search-wrap .shop-search-body{position:relative;top:0;left:0;width:100%;height:calc(100% - 171px);}
    .shop-search-wrap .shop-search-body .btn-area.innerMap{height:auto;top:12px;bottom:auto}
    .shop-search-wrap .shop-search-body .btn-area.innerMap.gps {bottom:38px;top:auto;right:12px}
    .shop-search-wrap .shop-search-body .btn-area.innerMap.gps + div ~ div {z-index:1 !important;}
    .shop-search-wrap .shop-search-body .btn-area.innerMap .btn{padding:0 20px;font-size:10px;line-height:30px}
    .shop-search-wrap .shop-search-body .btn-area.innerMap .btn:hover,
    .shop-search-wrap .shop-search-body .btn-area.innerMap .btn:focus {color: #da0f47!important; border-color: #da0f47; background: #fff!important;}
    .shop-search-wrap .shop-search-body .btn-area.innerMap .btn:active {color: #fff!important; background-color: #da0f47!important;}

    .search-result .result-filter{display:block;overflow:hidden;position:fixed;top:0;bottom:auto;left:auto;right:0;width:100%;height:100%;padding:0;margin-right:-100%;background:transparent;box-shadow:none;z-index:9999;}
    .search-result .result-filter .result-filter-detail{position:absolute;top:0;right:0;width:260px;height:100%;padding:88px 16px 70px;background:#fff;z-index:1;overflow-y:auto;}
    .search-result .result-filter .filter-list{padding:32px 0;}
    .search-result .result-filter .filter-title{position:fixed;width:260px;top:0;left:auto;right:0;bottom:auto;margin-right:-100%;padding:48px 16px 15px;border:0;background-color:#fff;z-index:2;}
    .search-result .result-filter .filter-title::after{content:'';display:block;position:absolute;left:16px;right:16px;bottom:0;height:1px;border-bottom:1px solid #000}
    .search-result .result-filter .filter-close{position:fixed;top:48px;right:10px;margin-right:-100%;z-index:3;}
    .search-result .result-filter .btn-area{position:fixed;top:48px;right:37px;margin-top:0;margin-right:-100%;z-index:3;}
    .search-result .result-filter .btn-area .btn-reset{width:24px;height:24px;font-size:0;padding:0;background-image:url('../images/icons/icon_reset.svg');background-position:0 0;background-size:contain;}
    .search-result .result-filter .dimmde{display:none;content:'';position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);}

    .shop-search-wrap .shop-search-body .desc-layer{display:block;position:fixed;bottom:88px;z-index:100;}
    .shop-search-wrap .shop-search-body .desc-layer .txt-desc{min-width:0;width:calc(100% - 32px);margin:0 auto;font-size:14px;line-height:20px;}

    /* benefit > card */
    .static-type {margin-top:-71px;}
    .static-type .static-tit {padding:33px 0 6px;}
    .static-type .static-tit .tit {font-size:20px; line-height:26px;}
    .static-type .static-tit .desc {display:block; margin-top:6px; margin-left:0; font-size:14px; line-height:20px;}
    .static-type .static-block{display:block;padding:50px 0;}
    .static-type .static-block .thumb{padding:0;}
    .static-type .static-block .thumb img{width:310px;max-width:100%;margin:0 auto;}
    .static-type .static-block .thumb .txt-desc{font-size:14px;line-height:20px;}
    .static-type .static-block .cont-block{padding:0;margin-top:40px;}
    .static-type .static-block .cont-block .title{font-size:20px;line-height:26px}
    .static-type .static-block .cont-block .explan-box > ul + * {margin-top:0 !important}
    .static-type .static-block .cont-block .explan-box > ul.dash > li {font-size:14px;line-height:20px;}
    .waring-block{padding:16px;}

    /* benefit > signature */
    .signature,
    .signature *{word-break:keep-all;}
    .signature .top-visual h3{font-size:24px;line-height:33px;}
    .signature .cont-type-full{padding:50px 16px;}
    .signature .cont-type-full.special{background-color:#000;}
    .signature .cont-type-full h4{font-size:24px;line-height:33px;}
    .signature .cont-type-full .head-desc{font-size:14px;line-height:20px;}
    .signature .service .service-wrap dd ul{display:block;}
    .signature .special dl{display:block;padding:0;margin-top:32px;}
    .signature .special dl + dl{margin-top:40px;}
    .signature .special dl dt{width:100%;font-size:20px;line-height:29px;padding-bottom:20px;margin-bottom:20px;}
    .signature .special dl dt:after{bottom:-1px;width:24px;height:2px;}
    .signature .special dl dd{font-size:16px;line-height:22.5px;}
    .signature .special dl dd strong{font-size:16px;line-height:22.5px;}
    .signature .special dl dd ul{font-size:14px;line-height:20px;}
    .signature .special dl dd ul li{padding-left:10px;}
    .signature .special dl dd ul li:before{width:2px;height:2px;top:9px;}
    .signature .special dl dd ul li + li{margin-top:6px;}
    .signature .special dl dd p{font-size:14px;margin-top:10px;}
    .signature .service .service-wrap{margin-top:32px;padding:0;}
    .signature .service .service-wrap dt{font-size:20px;text-align:center;line-height:29px;}
    .signature .service .service-wrap dd ul li{position:relative;width:100%;height:176px;text-align:left;padding:24px 24px 0 140px;}
    .signature .service .service-wrap dd ul li + li{margin-top:12px;}
    .signature .service .service-wrap dd ul li img{position:absolute;top:calc(50% - 50px);left:20px;width:100px;height:100px;margin-top:0;}
    .signature .service .service-wrap dd ul li strong{font-size:20px;line-height:29px;}
    .signature .service .service-wrap dd ul li span{font-size:14px;line-height:20px;margin-top:5px;}
    .signature .service .service-wrap dd ul li span br{display:none;}
    .signature .service .service-wrap .subs-desc-list{margin-top:16px;}
    .signature .service .service-wrap .subs-desc-list li{font-size:12px;line-height:18px;padding-left:8px;}
    .signature .service .service-wrap .subs-desc-list li:before{top:8px;width:2px;height:2px;}
    .signature .service .service-wrap .subs-desc-list li + li{margin-top:8px;}
    .signature .warnning{padding:25px 16px !important;}
    .signature .warnning ul{font-size:14px;line-height:19px;padding:0;}
    .signature .warnning ul li{padding-left:18px;}
    .signature .warnning ul li + li{margin-top:6px;}

    .step-cont .step-title{line-height:20px;padding:12px 0;}
    .step-cont .step-title .cont-summary .mo-tit{display:block;font-size:13px;font-weight:500;color:#000;line-height:20px;}
    .step-cont .step-title .cont-summary .summary-detail + .summary-detail:before{content:',';color:#da0f47;line-height:20px;margin-left:0;}
    .step-cont .step-title .cont-summary .summary-detail dl > *{font-size:13px;font-weight:600;line-height:20px;}
    .step-cont .step-title .cont-summary .summary-detail dl dt{display:none;}
    .step-cont .step-title .stepToggle{top:calc(50% - 10px);width:20px;height:20px;background-size:contain;}
    .step-cont .step-detail{padding-bottom:54px;}
    .step-cont .step-detail .input-icon-type{justify-content:space-between;}
    .step-cont .step-detail .input-icon-type > li{flex:none;width:calc(50% - 5px);}
    .step-cont .step-detail .input-icon-type > li + li{margin-left:0;}
    .step-cont .step-detail .full .input-cate-type .cate-items{width:100%;justify-content:space-between;}
    .step-cont .step-detail .full .input-cate-type .cate-items > li{width:calc(50% - 7px);}

    .res-main .bottom-fixed-wrap .bar-wrap .foot-area .btn-area a{display:block;width:100%;max-width:328px;margin:0 auto;height:43px;padding:10px 25px;font-size:13px;line-height:21px;}

    /* benefit > 이달의 혜택 */
    .benefit-month .popup.v-large .pop-wrap .pop-cont {height:auto}

    /* reservation > visit */
    .img-slide-wrap .btn-video-view{top:10px;left:10px;height:29px;font-size:14px;line-height:29px;border-radius:14px;}
    
    /* shop > map */
    .map-balloon p{font-size:12px;line-height:18px;}
}