@charset "UTF-8";

/* 가로형 테이블 */
.tb-scroll { margin: 0 -16px; padding: 0 16px; overflow-x: auto; -webkit-overflow-scrolling: touch; }
.tb-scroll table { white-space: nowrap; }
.tb_row table { width: 100%; border-collapse: collapse; }
.tb_row table thead th { padding: 16px 24px; border-top: 1px solid #666; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #666; font-weight: 500; font-size: 16px; line-height: 24px; text-align: center; word-break: keep-all; }
.tb_row table td { padding: 24px; border-bottom: 1px solid #ddd; color: #000; font-size: 16px; line-height: 24px; text-align: center; word-break: keep-all; }

.tb_row table td.lower { color: #808080; }
.tb_row table td.point { color: #ec455a; }
.tb_row table td .bold { font-weight: 700; }
.tb_row table td.black, .tb_row table td .black { color: #000; }
.tb_row table tr.point td { color: #ec455a; }
.tb_row table .al-left { text-align: left; }

.tb_row .btm_info { margin-top: 24px; font-size: 16px; line-height: 24px; color: #000; }
.tb_row .btm_info .btm-tit { color: #000; font-size: 16px; line-height: 24px; font-weight: 700; }
.tb_row .btm_info .btm-desc { margin-top: 8px; color: #000; font-size: 16px; line-height: 24px; }
.tb_row .btm_info .btm-desc em { color: #ec455a; }
.tb_row .btm_info .btm-desc-more { margin-top: 4px; color: #767676; font-size: 14px; line-height: 20px; font-weight: 500; }

.tb_row.tb-row-bl table th,
.tb_row.tb-row-bl table td { border-left: 1px solid #d8d8d8; }
.tb_row.tb-row-bl table th:first-child,
.tb_row.tb-row-bl table td:first-child { border-left: none; }

/* 세로형 테이블 */
.tb-col table { width: 100%; border-collapse: collapse; text-align: left; border-bottom: 1px solid #ddd; }
.tb-col table th, .tb-col table td { padding: 24px; border-top: 1px solid #ddd; font-size: 16px; line-height: 24px; word-break: keep-all; }
.tb-col table tr:first-child th, .tb-col table tr:first-child td { border-top: 1px solid #666; }
.tb-col table th { background: #f4f4f4; color: #666; font-weight: 500; text-align: center; vertical-align: top; }
.tb-col table td { color: #000; }
.tb-col table .al-center { text-align: left; }

/* board-type */
.tb_row.board-type table { table-layout: fixed; }
.tb_row.board-type .board-tit > a { text-align: left; }
.tb_row.board-type .board-tit p { color: #000; font-weight: 500; font-size: 16px; line-height: 24px; }
.tb_row.board-type .board-tit .flag-wrap { margin-right: 12px; white-space: nowrap; }
.tb_row.board-type .board-tit .flag-wrap .flag { vertical-align: middle; }
.tb_row.board-type td:not(.board-tit) { font-size: 14px; line-height: 20px; }

/* color */
.white table thead th { background-color:#fff; border-bottom:1px solid #ddd; color:#000; font-weight:normal }

/* size */
.size-s table thead th { padding:9px 0; font-size:14px; line-height:20px }
.size-s table tbody td { padding:9px 0; font-size:14px; line-height:20px }

@media screen and (min-width: 768px){
 .tb_row.board-type .board-tit > a { display: flex; }
 .tb_row.board-type .board-tit p { text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; }
}

@media screen and (max-width: 767px){
	/* 가로형 테이블 */
	.tb_row table thead th {padding: 12px; font-size: 13px; line-height: 19px; }
	.tb_row table td {padding: 16px 12px; height: 44px; font-size: 13px; line-height: 19px; }
	.tb_row .btm_info .btm-tit { font-size: 14px; line-height: 20px; }
	.tb_row .btm_info .btm-desc { font-size: 14px; line-height: 20px; }
	.tb_row .btm_info .btm-desc-more { font-size: 13px; line-height: 19px; }
	.tb_row .btm_info { margin-top: 20px; font-size: 14px; line-height: 20px; }
  
  /* 세로형 테이블 */
  .tb-col table th, .tb-col table td { padding: 16px 12px; font-size: 13px; line-height: 19px; }

	/* board-type */
	.tb_row.board-type .board-tit p { font-size: 14px; line-height: 20px; }
	.tb_row.board-type td:not(.board-tit) { font-size: 13px; line-height: 19px; }
	.tb_row.board-type table { display: block; border-top: 2px solid #222; }
	.tb_row.board-type thead { position: absolute; z-index: -10; width: 0 !important; height: 0 !important; overflow: hidden !important; font-size: medium; line-height: normal; word-break: break-all; }
	.tb_row.board-type tbody { display: block; }
	.tb_row.board-type tbody tr { display: block; overflow: hidden; padding: 16px 0; border-bottom: 1px solid #ddd; }
	.tb_row.board-type tbody td { display: block; padding: 0; text-align: left; border: 0 none; }
	.tb_row.board-type tbody td.board-tit { margin-bottom: 4px; }
	.tb_row.board-type tbody td.board-tit > a { display: block; }
	.tb_row.board-type tbody td.board-tit p { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
	.tb_row.board-type tbody td.board-tit .flag-wrap { display: block; margin: 0 0 2px 0; }
	.tb_row.board-type tbody td:not(.board-tit) { float: left; }
	.tb_row.board-type tbody td:not(.board-tit) + td:not(.board-tit) { position: relative; margin-left: 6px; padding-left: 7px; }
	.tb_row.board-type tbody td:not(.board-tit) + td:not(.board-tit):before { content: ''; position: absolute; left: 0; top: 6px; width: 1px; height: 10px; background: #ddd; }
	.tb_row.board-type tbody td .no-data { width: calc(100vw - 40px); }

	/* size */
	.size-s table thead th { padding:4px 7px; font-size:10px; line-height:15px }
 	.size-s table tbody td { padding:4px 7px; font-size:10px; line-height:15px }
}