@charset "UTF-8";

/* 가로형 테이블 */
.tb-scroll { margin: 0 -16px; padding: 0 16px; overflow-x: auto; -webkit-overflow-scrolling: touch; } 
.tb-scroll table { white-space: nowrap; } 
.tb_row table { width: 100%; border-collapse: collapse; } 
.tb_row table thead th { padding: 16px 24px; border-top: 1px solid #666; background-color: #f4f4f4; color: #666; font-weight: 500; font-size: 16px; line-height: 26px; text-align: center; } 

@media screen and (max-width: 767px){
 .tb_row table thead th { font-size: 14px; line-height: 22px; } 
 }
.tb_row table td { padding: 16px 24px; border-bottom: 1px solid #ddd; color: #000; font-size: 16px; line-height: 26px; text-align: center; } 

@media screen and (max-width: 767px){
 .tb_row table td { font-size: 14px; line-height: 22px; } 
 }
.tb_row table td.lower { color: #808080; } 
.tb_row table td.point { color: #ec455a; } 
.tb_row table td .bold { font-weight: 700; } 
.tb_row table td.black, .tb_row table td .black { color: #000; } 
.tb_row table tr.point td { color: #ec455a; } 
.tb_row table .al-left { text-align: left; } 
.tb_row .btm_info { margin-top: 24px; font-size: 16px; line-height: 24px; color: #000; } 
.tb_row .btm_info .btm-tit { color: #000; font-size: 16px; line-height: 26px; font-weight: 700; } 

@media screen and (max-width: 767px){
 .tb_row .btm_info .btm-tit { font-size: 14px; line-height: 22px; } 
 }
.tb_row .btm_info .btm-desc { margin-top: 8px; color: #000; font-size: 16px; line-height: 26px; } 

@media screen and (max-width: 767px){
 .tb_row .btm_info .btm-desc { font-size: 14px; line-height: 22px; } 
 }
.tb_row .btm_info .btm-desc em { color: #ec455a; } 
.tb_row .btm_info .btm-desc-more { margin-top: 4px; color: #767676; font-size: 14px; line-height: 24px; font-weight: 500; } 

@media screen and (max-width: 767px){
 .tb_row .btm_info .btm-desc-more { font-size: 13px; line-height: 21px; } 
 }

@media screen and (max-width: 767px){
 .tb_row table thead th { padding: 15px 10px; } 
 .tb_row table td { padding: 20px 10px; } 
 .tb_row .btm_info { margin-top: 20px; font-size: 14px; line-height: 18px; } 
 }

.tb_row.tb-row-bl table th,
.tb_row.tb-row-bl table td { border-left: 1px solid #d8d8d8; } 
.tb_row.tb-row-bl table th:first-child,
.tb_row.tb-row-bl table td:first-child { border-left: none; } 

.tb_row.board-type table { table-layout: fixed; } 
.tb_row.board-type .board-tit > a { text-align: left; } 
.tb_row.board-type .board-tit p { color: #000; font-weight: 500; font-size: 16px; line-height: 26px; } 

@media screen and (max-width: 767px){
 .tb_row.board-type .board-tit p { font-size: 14px; line-height: 22px; } 
 }
.tb_row.board-type .board-tit .flag-wrap { margin-right: 12px; white-space: nowrap; } 
.tb_row.board-type .board-tit .flag-wrap .flag { vertical-align: middle; } 
.tb_row.board-type td:not(.board-tit) { font-size: 14px; line-height: 24px; } 

@media screen and (max-width: 767px){
 .tb_row.board-type td:not(.board-tit) { font-size: 13px; line-height: 21px; } 
 }

@media screen and (min-width: 768px){
 .tb_row.board-type .board-tit > a { display: flex; } 
 .tb_row.board-type .board-tit p { text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; } 
 }

@media screen and (max-width: 767px){
 .tb_row.board-type table { display: block; border-top: 2px solid #222; } 
 .tb_row.board-type thead { position: absolute; z-index: -10; width: 0 !important; height: 0 !important; overflow: hidden !important; font-size: medium; line-height: normal; word-break: break-all; } 
 .tb_row.board-type tbody { display: block; } 
 .tb_row.board-type tbody tr { display: block; overflow: hidden; padding: 16px 0; border-bottom: 1px solid #ddd; } 
 .tb_row.board-type tbody td { display: block; padding: 0; text-align: left; border: 0 none; } 
 .tb_row.board-type tbody td.board-tit { margin-bottom: 4px; } 
 .tb_row.board-type tbody td.board-tit > a { display: block; } 
 .tb_row.board-type tbody td.board-tit p { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; } 
 .tb_row.board-type tbody td.board-tit .flag-wrap { display: block; margin: 0 0 2px 0; } 
 .tb_row.board-type tbody td:not(.board-tit) { float: left; } 
 .tb_row.board-type tbody td:not(.board-tit) + td:not(.board-tit) { position: relative; margin-left: 6px; padding-left: 7px; } 
 .tb_row.board-type tbody td:not(.board-tit) + td:not(.board-tit):before { content: ''; position: absolute; left: 0; top: 6px; width: 1px; height: 10px; background: #ddd; } 
 .tb_row.board-type tbody td .no-data { width: calc(100vw - 40px); } 
 }

.tb-col table { width: 100%; border-collapse: collapse; text-align: left; border-bottom: 1px solid #ddd; } 
.tb-col table th, .tb-col table td { padding: 19px 24px; border-top: 1px solid #ddd; font-size: 16px; line-height: 26px; } 

@media screen and (max-width: 767px){
 .tb-col table th, .tb-col table td { font-size: 14px; line-height: 22px; } 
 }

.tb-col table tr:first-child th, .tb-col table tr:first-child td { border-top: 1px solid #666; } 
.tb-col table th { background: #f4f4f4; color: #666; font-weight: 500; text-align: center; vertical-align: top; } 
.tb-col table td { color: #000; } 

.tb-col table .al-center { text-align: left; } 

@media screen and (max-width: 767px){
 .tb-col th, .tb-col td { padding: 18px 16px; } 
 }
.tabs-wrap { position: relative; display: block; text-align: center; } 
.tabs-wrap.left { text-align: left; } 
.tabs-wrap .tabs { display: inline-block; max-width: 100%; position: relative; margin: 0 -2px; padding: 0 2px; font-size: 0; vertical-align: top; white-space: nowrap; overflow-x: auto; overflow-y: hidden; -webkit-overflow-scrolling: touch; } 
.tabs-wrap .tabs > li { display: inline-block; margin-left: 36px; padding: 2px 0; vertical-align: top; } 
@media screen and (max-width: 767px){
 .tabs-wrap .tabs > li { margin-left: 20px; } 
 }

.tabs-wrap .tabs > li:first-child { margin-left: 0; } 
.tabs-wrap .tabs > li > a { display: block; position: relative; color: #767676; font-size: 28px; line-height: 40px; font-weight: 700; } 
.tabs-wrap .tabs > li > a em.count { display: inline-block; margin-left: 4px; vertical-align: top; } 

@media screen and (max-width: 767px){
 .tabs-wrap .tabs > li > a { font-size: 18px; line-height: 26px; } 
 }
.tabs-wrap .tabs > li.on > a { color: #000; } 
.tabs-wrap.ui_smooth_scroll .tabs { width: auto !important; max-width: initial; overflow-x: initial; } 
.tabs-wrap .overflow-btn { position: absolute; top: 0; width: 20px; height: 26px; background: url("../images/icons/btn-arr-24x24-black.svg") center no-repeat; background-size: 20px; font-size: 0; } 
.tabs-wrap .overflow-btn.prev { left: 0; transform: rotate(180deg); } 
.tabs-wrap .overflow-btn.next { right: 0; } 

@media screen and (max-width: 767px){
 .tabs-wrap .overflow-btn { top: -8px; width: 57px; height: 57px; background: url("../images/icons/btn-arr-72x72.svg") center no-repeat; background-size: 57px; } 
 }

@media screen and (max-width: 767px){
 .tabs-wrap { text-align: left; } 
 .tabs-wrap .tabs { padding: 0 16px; } 
 }

.tabs-wrap.btn-type { text-align: center;}
.tabs-wrap.btn-type.left { text-align: left; } 
.tabs-wrap.btn-type:before { position: absolute; bottom: 1px !important; right: 0; left: 0; height: 1px; background: #ddd; content: ''; } 

@media screen and (max-width: 767px){
 .tabs-wrap.btn-type:before { bottom: 2px !important; } 
 }

.tabs-wrap.btn-type .tabs { display: inline-block; font-size: 0; vertical-align: top; } 
.tabs-wrap.btn-type .tabs > li { display: inline-block; margin-left: 35px; } 
.tabs-wrap.btn-type .tabs > li:first-child { margin-left: 0; } 
.tabs-wrap.btn-type .tabs > li > a { display: block; padding: 5px 0; background-color: transparent; font-size: 18px; line-height: 28px; line-height: 32px; font-weight: 700; } 

@media screen and (max-width: 767px){
 .tabs-wrap.btn-type .tabs > li > a { font-size: 15px; line-height: 23px; } 
 }

.tabs-wrap.btn-type .tabs > li.active > a,
.tabs-wrap.btn-type .tabs > li.on > a { color: #000; border-bottom: 2px solid #222; /*2021-01-04 edit*/}

@media screen and (max-width: 767px){
 .tabs-wrap.btn-type .tabs > li { margin-left: 20px; } 
 .tabs-wrap.btn-type .tabs > li:first-child { margin-left: 0; } 
 .tabs-wrap.btn-type .tabs > li > a { padding: 8px 0; font-size: 18px; line-height: 26px; } 
 }

.tabs-wrap.border-type { position: relative; } 
.tabs-wrap.border-type:before { position: absolute; bottom: 0; right: 0; left: 0; height: 1px; background: #ddd; content: ''; } 
.tabs-wrap.border-type .tabs > li { margin-left: 35px; } 

@media screen and (max-width: 767px){
 .tabs-wrap.border-type .tabs > li { margin-left: 20px; } 
 }

.tabs-wrap.border-type .tabs > li:first-child { margin-left: 0; } 
.tabs-wrap.border-type .tabs > li > a { padding-bottom: 12px; font-weight: 700; font-size: 18px; line-height: 28px; } 

@media screen and (max-width: 767px){
 .tabs-wrap.border-type .tabs > li > a { padding-bottom: 10px; border-width: 3px; font-size: 17px; line-height: 25px; } 
 }

.tabs-wrap.border-type .tabs > li.on > a:after { position: absolute; left: 0; bottom: -2px; width: 100%; height: 5px; border-radius: 5px 5px 0 0; background-color: #000; content: ''; } 

@media screen and (max-width: 767px){
 .tabs-wrap.border-type .tabs > li.on > a:after { height: 4px; } 
 }

@media screen and (max-width: 767px){
 .tabs-wrap.bar-type .tabs { padding: 0 16px; } 
 }

 .tabs-wrap.bar-type .tabs > li { position: relative; margin-left: 16px; padding-left: 17px; } 

@media screen and (max-width: 767px){
 .tabs-wrap.bar-type .tabs > li { margin-left: 12px; padding-left: 13px; } 
 }

.tabs-wrap.bar-type .tabs > li::before { content: ' '; position: absolute; top: 50%; left: 0; width: 1px; height: 12px; margin-top: -6px; background: #d8d8d8; } 
.tabs-wrap.bar-type .tabs > li:first-child { margin-left: 0; padding-left: 0; } 
.tabs-wrap.bar-type .tabs > li:first-child::before { display: none; } 
.tabs-wrap.bar-type .tabs > li a { font-size: 16px; line-height: 26px; font-weight: 500; color: #767676; } 
.tabs-wrap.bar-type .tabs > li.on a { font-weight: 700; color: #000; } 
.tabs-wrap.new-type { position: relative; text-align: left; } 
.tabs-wrap.new-type:before { content: ' '; position: absolute; bottom: 2px; left: 0; z-index: 1; width: 100%; height: 1px; background-color: #222; } 

@media screen and (max-width: 767px){
 .tabs-wrap.new-type .tabs { display: block; max-width: none; padding: 0 2px; } 
 }

.tabs-wrap.new-type .tabs li { width: 206px; margin-left: 1px; } 

@media screen and (max-width: 767px){
 .tabs-wrap.new-type .tabs li { margin-left: 0; } 
 }

.tabs-wrap.new-type .tabs li:first-child { margin-left: 0; } 
.tabs-wrap.new-type .tabs li a { height: 56px; border-radius: 8px 8px 0 0; background-color: #f4f4f4; color: #767676; font-size: 16px; line-height: 56px; text-align: center; } 
.tabs-wrap.new-type .tabs li.on + li { margin-left: 0; } 
.tabs-wrap.new-type .tabs li.on a { position: relative; z-index: 1; border: 1px solid #222; border-bottom: 1px solid #fff; background-color: #fff; color: #000; overflow: hidden; } 

@media screen and (max-width: 767px){
 .tabs-wrap.new-type .tabs li { width: 50%; } 
 .tabs-wrap.new-type .tabs li a { height: 48px; line-height: 48px; } 
 }

@media screen and (max-width: 767px){
 .tabs-wrap.new-type .tabs li:first-child:nth-last-child(3), .tabs-wrap.new-type .tabs li:first-child:nth-last-child(3) ~ li { width: calc(100% / 3); } 
 }

.page-header .tabs-bg { max-width: 100%; background-color: #f4f4f4; } 

@media screen and (max-width: 767px){
 .page-header .tabs-bg { background: #fff; } 
 }

.page-header .tabs-bg .tabs-wrap.bar-type { position: relative; max-width: calc(1146px + 80px); padding: 0 40px; background: #f4f4f4; } 
.page-header .tabs-bg .tabs-wrap.bar-type.w-btn { padding: 0 190px 0 40px; } 

@media screen and (max-width: 767px){
 .page-header .tabs-bg .tabs-wrap.bar-type { padding: 0; } 
 }

.page-header .tabs-bg .tabs-wrap.bar-type .tabs { padding: 16px; } 

@media screen and (max-width: 767px){
 .page-header .tabs-bg .tabs-wrap.bar-type .tabs { padding: 16px; } 
 }

.page-header .tabs-bg .btn-area { position: absolute; top: 50%; right: 40px; transform: translateY(-50%); margin-top: 4px; } 

@media screen and (max-width: 767px){
 .page-header .tabs-bg .btn-area { position: static; transform: translateY(0); margin-top: 0; padding: 25px 16px 0; background-color: #fff; } 
 }

.page-header .tabs-bg .btn-area .btn { background-color: transparent; } 

@media screen and (max-width: 767px){
 .page-header .tabs-bg .btn-area .btn { background-color: #fff; } 
 }

.contents > .tabs-wrap .tabs { padding: 0 40px; } 

@media screen and (max-width: 767px){
 .contents > .tabs-wrap .tabs { padding: 0 16px; } 
 }

.tab-panel { padding: 24px; } 

@media screen and (max-width: 767px){
 .tab-panel { padding: 24px 12px; } 
 }

.scroll-wrap { position: relative; } 
.scroll-wrap .tabs-wrap .tabs { max-width: initial; overflow: unset; } 
.scroll-wrap .scroll-controls .btn-arrow { position: absolute; top: 50%; transform: translateY(-50%); } 
.scroll-wrap .scroll-controls .btn-arrow.prev { left: 4px; } 
.scroll-wrap .scroll-controls .btn-arrow.next { right: 4px; } 
.scroll-wrap .tabs-wrap.btn-type + .scroll-controls .btn-arrow { margin-top: 4px; } 
.scroll-wrap.border-type .tabs { margin: 0 auto; padding: 0 16px; font-size: 0; white-space: nowrap; vertical-align: top; } 
.scroll-wrap.border-type .tabs > li { display: inline-block; margin-left: 32px; white-space: nowrap; vertical-align: top; } 
.scroll-wrap.border-type .tabs > li:first-child { margin-left: 0; } 
.scroll-wrap.border-type .tabs > li > a { display: block; position: relative; padding-bottom: 2px; border-bottom: 2px solid transparent; font-weight: 700; font-size: 18px; line-height: 28px; color: #767676; } 

@media screen and (max-width: 767px){
 .scroll-wrap.border-type .tabs > li > a { font-size: 15px; line-height: 23px; } 
 }
.scroll-wrap.border-type .tabs > li.on > a { border-color: #222; color: #000; } 

@media screen and (max-width: 767px){
 .scroll-wrap.border-type .tabs > li { margin-left: 24px; } 
 .scroll-wrap.border-type .tabs > li:first-child { margin-left: 0; } 
 .scroll-wrap.border-type .tabs > li > a { border-width: 3px; } 
 }

.tabs-wrap-description { margin-bottom: 24px; } 
.tabs-wrap-description p { font-size: 16px; line-height: 26px; color: #000; } 

@media screen and (max-width: 767px){
 .tabs-wrap-description p { font-size: 14px; line-height: 22px; } 
 }

.white table thead th { background-color:#fff; border-bottom:1px solid #ddd; color:#000; font-weight:normal } 
.size-s table thead th { padding:9px 0; font-size:14px; line-height:22px } 
.size-s table tbody td { padding:9px 0; font-size:14px; line-height:22px } 
@media screen and (max-width: 767px){
 .size-s table thead th { padding:4px 7px; font-size:10px; line-height:16px } 
 .size-s table tbody td { padding:4px 7px; font-size:10px; line-height:16px } 
 }