<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사이트맵 | LG전자 BEST SHOP </title>
</head>

<body>
  <div class="inner">
    <h1 class="title">사이트맵</h1>
    <ul>
      <li class="category-cluster">
        <ul>
          <li class="category-depth level-1">
            <h2><a href="#" target="_self">매장안내</a></h2>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="#" target="_self">매장 찾기</a></h3>
              </li>
            </ul>
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="#" target="_self">신규 오픈 매장</a></h3>
              </li>
            </ul>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="#" target="_self">아이폰 판매 매장</a></h3>
              </li>
            </ul>
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="#" target="_blank">야간 무인 매장</a></h3>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="category-cluster">
        <ul>
          <li class="category-depth level-1">
            <h2><a href="" target="_self">매장 상담 예약</a></h2>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="#" target="_self">방문 상담 예약</a></h3>
              </li>
              <li class="category-depth level-2">
                <h3><a href="#" target="_self">화상 상담 예약</a></h3>
              </li>
            </ul>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="#" target="_self">상담 예약 조회</a></h3>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="category-cluster">
        <ul>
          <li class="category-depth level-1">
            <h2><a href="#" target="_self">이벤트</a></h2>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="#" target="_self">베스트샵 이벤트</a></h3>
              </li>
              <li class="category-depth level-2">
                <h3><a href="#" target="_self">홍보영상</a></h3>
              </li>
              <li class="category-depth level-2">
                <h3><a href="#" target="_self">매장 상담 예약 이벤트</a></h3>
              </li>
            </ul>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="#" target="_self">혼수 이벤트</a></h3>
              </li>
              <li class="category-depth level-2">
                <h3><a href="#" target="_self">아파트 입주 이벤트</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="#" target="_self">혜택 안내</a>
              </li>
              <li class="category-depth level-3">
                <a href="#" target="_self">행사 리스트</a>
              </li>
              <li class="category-depth level-3">
                <a href="#" target="_self">박람회 일정</a>
              </li>
            </ul>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a>리뷰</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/story/hands-on-reviews" target="_self">고객 리뷰</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/story/stanbyme-club/stanbyme-club-list" target="_self">스탠바이미 클럽</a>
              </li>
            </ul>
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a>아카이브</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/story/ad-campaigns" target="_self">TV광고</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/story/history" target="_self">수상내역</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="category-cluster">
        <ul>
          <li class="category-depth level-1">
            <h2><a href="#" target="_self">혜택 안내</a></h2>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a>이달의 혜택</a></h3>
              </li>="https://www.lge.co.kr/support/card-news" target="_self">카드 뉴스</a>
            </ul>
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a>서비스 상담</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/chatbot-counsel" target="_self">챗봇 상담</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/email-inquiry" target="_self">이메일 문의</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/request-call-reservation" target="_self">전화상담 예약</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/remote-call-reservation" target="_self">원격상담 예약</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/video-consulting-reservation" target="_self">영상상담 예약</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/service-inquiry-reservation-status?title=consulting"
                  target="_self">상담결과 조회/변경</a>
              </li>
              <li class="category-depth level-2">
                <h3><a>서비스 예약</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/service-engineer-reservation" target="_self">출장 서비스 예약</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/service-installation-removal-reservation" target="_self">제품 설치/철거
                  예약</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/service-inquiry-reservation-status?title=reservation"
                  target="_self">예약결과 조회/변경</a>
              </li>
            </ul>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a>센터/매장 찾기</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/find-service-center" target="_self">센터 찾기</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/visit-center-reservation" target="_self">센터 방문 예약</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/store-finder" target="_self">베스트샵 매장찾기</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/visit-store-reservation" target="_self">매장 상담 예약</a>
              </li>
              <li class="category-depth level-2">
                <h3><a>고객의 소리</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/feedback" target="_self">칭찬합니다</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/suggestions" target="_self">개선해 주세요</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/my-status" target="_self">나의 글 보기</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/all-feedback" target="_self">칭찬 글 보기</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/suggestions-for-company" target="_self">경영진에게 제안</a>
              </li>
            </ul>
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a>서비스 안내</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/service-news" target="_self">서비스 뉴스</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/notice" target="_self">공지사항</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/rates-warranty-guide" target="_self">요금/보증 안내</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/recyclable-parts-notice" target="_self">재생부품 가격 공지</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/usage-guide-faq" target="_self">이용가이드/FAQ</a>
              </li>
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/ebook" target="_self">제품 카탈로그</a></h3>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="category-cluster">
        <ul>
          <li class="category-depth level-1">
            <h2><a href="https://www.lge.co.kr/care-solutions" target="_self">렌탈/케어</a></h2>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a>렌탈(케어솔루션) 제품</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/care-solutions/water-purifiers" target="_self">정수기</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/care-solutions/lg-homebrew" target="_self">맥주제조기</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/care-solutions/ice-water-purifiers-refrigerator"
                  target="_self">얼음정수기냉장고</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/care-solutions/air-purifiers" target="_self">공기청정기</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/care-solutions/dryers" target="_self">건조기</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/care-solutions/lg-styler" target="_self">스타일러</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/care-solutions/electric-stoves" target="_self">전기레인지</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/care-solutions/dishwashers" target="_self">식기세척기</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/care-solutions/lg-tiiun" target="_self">식물생활가전</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/care-solutions/massage-chairs" target="_self">안마의자</a>
              </li>
            </ul>
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a>렌탈/케어 소개</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/care-solutions/why" target="_self">WHY 케어솔루션</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/care-solutions/why-careship" target="_self">WHY 케어십</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/care-solutions/benefits" target="_self">고객혜택</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="category-cluster">
        <ul>
          <li class="category-depth level-1">
            <h2><a href="https://www.lge.co.kr/benefits" target="_self">이벤트/멤버십</a></h2>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/benefits/membership" target="_self">멤버십</a></h3>
              </li>
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/livecommerce" target="_self">엘라쇼</a></h3>
              </li>
            </ul>
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/benefits/event" target="_self">이벤트</a></h3>
              </li>
            </ul>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/benefits/exhibitions" target="_self">기획전</a></h3>
              </li>
            </ul>
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/benefits/card-discount" target="_self">카드혜택</a></h3>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="category-cluster">
        <ul>
          <li class="category-depth level-1">
            <h2><a href="https://www.lge.co.kr/my-collection" target="_self">마이컬렉션</a></h2>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/my-collection/most-viewed-products" target="_self">가장 많이 본 제품</a>
                </h3>
              </li>
            </ul>
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/my-collection/best-selling-products" target="_self">가장 많이 판매된 제품</a>
                </h3>
              </li>
            </ul>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/my-collection/product-curation" target="_self">나만의 제품 컬렉션</a></h3>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="category-cluster">
        <ul>
          <li class="category-depth level-1">
            <h2><a href="https://www.lge.co.kr/my-page" target="_self">마이페이지</a></h2>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a>쇼핑 관리</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/order-status" target="_self">주문/배송 조회</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/delivery-address" target="_self">배송지 주소 관리</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/coupons" target="_self">쿠폰</a>
              </li>
              <li class="category-depth level-2">
                <h3><a>렌탈/케어</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/care-solution-contract-status" target="_self">계약 현황</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/care-solution-payments" target="_self">납부 내역</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/care-solution-visit-notification" target="_self">방문일정/예약</a>
              </li>
            </ul>
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a>관심 목록</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/wish-products" target="_self">찜한 제품</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/recently-viewed-products" target="_self">최근 본 제품</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/subscriptions" target="_self">구독</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/favorites-shop" target="_self">단골 매장</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/restock-notification" target="_self">재입고 알림</a>
              </li>
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/my-page/manage-products" target="_self">보유 제품 등록</a></h3>
              </li>
              <li class="category-depth level-2">
                <h3><a>고객지원 관리</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/email-inquiry" target="_self">나의 글 보기</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/inquiry-and-reservation-status" target="_self">문의/예약 결과 조회</a>
              </li>
            </ul>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a>멤버십 관리</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/membership-info" target="_self">멤버십 가입 정보</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/membership-points" target="_self">멤버십 포인트 조회</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/membership-receipt" target="_self">영수증 등록</a>
              </li>
              <li class="category-depth level-2">
                <h3><a>활동 관리</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/reviews" target="_self">리뷰 관리</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/my-page/event-join" target="_self">참여 이벤트</a>
              </li>
            </ul>
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a
                    href="http://member.lge.co.kr/auth/changeInfo.do?client_id=lge-main-integration&amp;state=/my-page&amp;redirect_uri=http://www.lge.co.kr/sso/api/Login"
                    target="_self">회원 정보</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://member.lge.co.kr/auth/changeInfo.do?client_id=lge-main-integration&amp;state=/my-page&amp;redirect_uri=https://www.lge.co.kr/sso/api/Login"
                  target="_blank">개인정보 수정</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="category-cluster">
        <ul>
          <li class="category-depth level-1">
            <h2><a href="https://www.lge.co.kr/company/main" target="_self">회사소개</a></h2>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/company/info/introduce" target="_self">기업정보</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/info/introduce" target="_self">기업소개</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/info/outline" target="_self">LG WAY</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/info/history" target="_self">역사</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/info/management" target="_self">경영진·이사회</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/info/ci" target="_self">브랜드</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/info/domestic" target="_self">사업장</a>
              </li>
            </ul>
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/company/recruit/talent" target="_self">인재채용</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/recruit/talent" target="_self">인재상</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/recruit/hr" target="_self">인사제도</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/recruit/foster" target="_self">인재육성</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://apply.lg.com/main/Index.rpi" target="_blank">채용공고</a>
              </li>
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/company/investor/corporateGovernance" target="_self">투자자정보</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/investor/corporateGovernance" target="_self">경영정보</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/investor/highlight" target="_self">재무정보</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/investor/price" target="_self">주식정보</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/investor/presentation" target="_self">IR행사</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/investor/disclosureList" target="_self">공시/전자공고</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/support/email-inquiry" target="_self">Contact IR</a>
              </li>
            </ul>
          </li>
          <li class="category-column upperframe">
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/company/compliance/compliance" target="_self">준법경영</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/compliance/compliance" target="_self">개요</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/compliance/honesty" target="_self">LG전자 행동강령</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/compliance/significance" target="_self">Compliance Program</a>
              </li>
            </ul>
            <ul class="category-column">
              <li class="category-depth level-2">
                <h3><a href="https://www.lge.co.kr/company/sustainable/overview" target="_self">ESG 경영</a></h3>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/sustainable/overview" target="_self">ESG 경영 개요</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/sustainable/businessplace" target="_self">환경</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/sustainable/workplace" target="_self">사회</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/sustainable/director" target="_self">지배구조</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/promot/system" target="_self">ESG 팩트북</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/sustainable/data" target="_self">성과 및 데이터</a>
              </li>
              <li class="category-depth level-3">
                <a href="https://www.lge.co.kr/company/sustainable/download" target="_self">지속가능경영 보고서</a>
              </li>
              <li class="category-depth level-2">
                <h3><a
                    href="https://live.lge.co.kr/news/newsroom/?_ga=2.168269153.1130299018.1628499148-1887530743.1618968819"
                    target="_blank">뉴스</a></h3>
              </li>
              <li class="category-depth level-2">
                <h3><a href="https://www.lgesuppliers.com/index.dev" target="_blank">열린구매</a></h3>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="category-cluster">
        <ul>
          <li class="category-depth level-1">
            <h2><a>&nbsp;</a></h2>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</body>

</html>